<template>
  <div v-if="antenna.antenna">
    <Suspense>
      <AntennaEdit
        :item="antenna.antenna"
        @modified="(params) => handleModified(params)">
      </AntennaEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import AntennaEdit from '~/components/AntennaEdit.vue'

export default defineComponent({
    components: {
        AntennaEdit: defineAsyncComponent(() => import("@/components/AntennaEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchAntenna(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            antenna: (state) => state.antenna
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Antenna:edit:handleModified", params);
            this.antenna.antenna = params.item
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
