<template>
  <ElementEdit
    :item="element"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></ElementEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import ElementEdit from '~/components/ElementEdit.vue'

export default defineComponent({
    components: {
        ElementEdit: defineAsyncComponent(() => import("@/components/ElementEdit.vue")),
    },
    data() {
        return {
            element: {
                name: "",
                description: "",
                html_url: "",
                enabled: true,
                is_public: false,
                approved_at: null,
            }
        }
    },
    methods: {
        handleCreated(params) {
            console.log("elements.create:handleCreated", params);
            navigateTo("/elements/" + params.item.id);
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
