<template>
  <div v-if="radio.radio">
    <Suspense>
      <Radio :item="radio.radio" :editable="true"></Radio>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import Radio from '~/components/Radio.vue'

export default defineComponent({
    components: {
        Radio: defineAsyncComponent(() => import("@/components/Radio.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchRadio(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            radio: (state) => state.radio
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
