<template>
  <div v-if="claim.claim">
    <Suspense>
      <ClaimEdit
        :item="claim.claim"
        @modified="(params) => handleModified(params)"
        @replaced="(params) => handleReplaced(params)"
      >
      </ClaimEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import ClaimEdit from '~/components/ClaimEdit.vue'

export default defineComponent({
    components: {
        ClaimEdit: defineAsyncComponent(() => import("@/components/ClaimEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchClaim(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            claim: (state) => state.claim
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Claim:edit:handleModified", params);
            this.claim.claim = params.item
        },
        handleReplaced(params) {
            console.log("Claim:edit:handleReplaced", params);
            navigateTo(`/claims/${params.id}`)
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
