<template>
  <div v-if="claim.claim">
    <Suspense>
      <Claim :item="claim.claim"
             :editable="true"
             @refresh="() => refresh()"
      </Claim>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import Claim from '~/components/Claim.vue'

export default defineComponent({
    components: {
        Claim: defineAsyncComponent(() => import("@/components/Claim.vue")),
    },
    data() {
        return {
            timer: null,
        }
    },
    async mounted() {
        console.log("claims:index:mounted");
        await this.$zoneStore.fetchClaim(this.$route.params.id);
        this.timer = setInterval(this.refresh, 60000);        
    },
    unmounted() {
        console.log("claims:index:unmounted");
        clearInterval(this.timer);        
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            claim: (state) => state.claim,
        }),
    },
    methods: {
        refresh() {
            this.$zoneStore.fetchClaim(this.$route.params.id);
        },
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
