<template>
  <div v-if="location.location">
    <Suspense>
      <LocationEdit
        :item="location.location"
        @modified="(params) => handleModified(params)">
      </LocationEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import LocationEdit from '~/components/LocationEdit.vue'

export default defineComponent({
    components: {
        LocationEdit: defineAsyncComponent(() => import("@/components/LocationEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchLocation(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            location: (state) => state.location
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Location:edit:handleModified", params);
            this.location.location = params.item
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
