<template>
  <div v-if="monitor">
    <Suspense>
      <MonitorEdit
        :item="monitor"
        :create="true"
        @created="(params) => handleCreated(params)"
      ></MonitorEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import MonitorEdit from '~/components/MonitorEdit.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        MonitorEdit: defineAsyncComponent(() => import("@/components/MonitorEdit.vue")),
    },
    data() {
        return {
            monitor: {
                element_id: (this.is_admin ? null : this.$userStore.element_id),
                name: "",
                description: "",
                formats: "",
                types: "",
                enabled: false,
                exclusive: false,
                radio_port_id: null,
                monitored_radio_port_id: null,
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("monitors.create:handleCreated", params)
            navigateTo("/monitors/" + params.item.id);
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
