<template>
  <div v-if="user.user">
    <Suspense>
      <UserEdit
        :item="user.user"
        @modified="(params) => handleModified(params)"
      ></UserEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import UserEdit from '~/components/UserEdit.vue'

export default defineComponent({
    components: {
        UserEdit: defineAsyncComponent(() => import("@/components/UserEdit.vue")),
    },
    async mounted() {
        await this.$zoneStore.fetchUser(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin,
            user_store_user_id: (state) => state.user_id
        }),
        ...mapState(zoneStore, {
            user: (state) => state.user
        }),
    },
    methods: {
        handleModified(params) {
            this.user.user = params.item
            if (this.user.user.id && this.user.user.id === this.user_store_user_id) {
                this.$userStore.initUser(true)
            }
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
