<template>
  <!-- Very important that div/NuxtLayout is the same path from root
    -- template for both app.vue and error.vue
    -- (https://github.com/nuxt/nuxt/issues/13309)
    -->
  <div>
    <NuxtLayout>
      <div>
        <h1>
          {{ error.statusCode }}<span v-if="error.statusMessage">: {{ error.statusMessage }}</span>
        </h1>
        <h2 v-if="error.statusMessage">
          <span>Message: {{ error.statusMessage }}</span>
        </h2>
        <button @click="handleError">Continue and Reset</button>
      </div>
    </NuxtLayout>
  </div>
</template>

<script>
export default defineComponent({
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  methods: {
    handleError() {
      clearError({ redirect: '/' })
    }
  },
  async mounted() {
    console.log("error:mounted:")
    console.log(this.error)
    if (this.error.statusCode === 401) {
      if (this.$userStore.token) {
        console.log("session expired; redirecting")
      }
      else {
        console.log("unauthorized; redirecting")
      }
      await useNuxtApp().$userStore.$reset()
      await useNuxtApp().$adminStore.$reset()
      try {
        // NB: We cannot have a redirect here back to the same page that
        // faulted; that will double-fault on 401 .
        // https://next-auth.js.org/getting-started/client#signout
        await useNuxtApp().$auth.logout({ redirect: false, callbackUrl: "/" })
        //useNuxtApp().$auth.loginWith(useNuxtApp().$auth.$storage.getUniversal('strategy'))
      }
      catch (e) {
        console.log("error:$auth.logout error", e)
      }
      clearError({ redirect: '/' })
    }
  },
})
</script>
