<template>
<div v-if="zone.data">
  <div class="mb-0">
    <a class="text-caption" v-on:click="refreshZone()" href="#">Refresh Zone Data</a>
  </div>
  <v-card  class="mt-1">
    <v-container class="pt-0"> 
      <v-row v-if="zone.data.nogrants === true" justify=center>
        <v-col cols=12>
          <div class="d-flex justify-center">
            <span class="text-h6">
              No radios are transmitting, showing all transmitters</span>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-table 
                  height="215px"
                  density="compact">
                  <tr>
                    <th colspan=2>Spectrum</th>
                  </tr>
                  <tr v-for="spectrum in spectrums"
                      :key="spectrum.id">
                    <td width="30px">
                      <v-checkbox
                        v-model="spectrum._selected"
                        @update:modelValue="spectrumSelected(spectrum)"
                        density="compact"
                        hide-details/>
                    </td>
                    <td>
                      <a v-on:click="showSpectrum(spectrum)" href="#">
                        {{ getSpectrumTag(spectrum) }}</a>
                      <div>
                        <v-chip
                          v-if="spectrum.constraints.length"
                          v-for="c in spectrum.constraints"
                          size="small"
                          >
                          {{ c.constraint.min_freq/1e6 + "-" + c.constraint.max_freq/1e6 }}
                        </v-chip>
                      </div>
                    </td>
                  </tr>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-table 
                  height="215px"
                  density="compact">
                  <tr>
                    <th colspan=2>Grants</th>
                  </tr>
                  <tr>
                    <td width="30px"></td>
                    <td>
                      <v-radio-group
                        class="small-radio"
                        inline
                        density="compact"
                        v-model="showWhichGrants"
                        hide-details
                        >
                        <v-radio
                          label="Spectrum"
                          value="spectrum"
                          density="compact"
                          ></v-radio>
                        <v-radio
                          class="ml-1"
                          label="Active"
                          value="active"
                          density="compact"
                          ></v-radio>
                        <v-radio
                          class="ml-1"
                          label="Pending"
                          value="pending"
                          density="compact"
                          ></v-radio>
                        <v-radio
                          class="ml-1"
                          label="Revoked"
                          value="revoked"
                          density="compact"
                          ></v-radio>
                      </v-radio-group>
                    </td>
                  </tr>
                  <tr v-for="grant in zone.data.filtered_grants"
                      :key="grant.id">
                    <td width="30px">
                      <v-checkbox
                        v-model="grant._selected"
                        @update:modelValue="grantSelected(grant)"
                        density="compact"
                        hide-details/>
                    </td>
                    <td>
                      <a v-on:click="showGrant(grant)" href="#">
                        {{ getGrantTag(grant) }}</a>
                      <span v-show="grant.status == 'pending' || grant.status == 'paused'"
                            class="ml-3">
                        <v-icon color="warning">mdi-hand-back-left</v-icon>
                        <v-tooltip
                          activator="parent"
                          location="end"
                          >
                          <span>This grant is pending</span>
                        </v-tooltip>
                      </span>
                      <span v-show="grant.revoked_at" class="ml-3">
                        <v-icon color="warning">mdi-alert</v-icon>
                        <v-tooltip
                          activator="parent"
                          location="end"
                          >
                          <span>This grant has been revoked</span>
                        </v-tooltip>
                      </span>
                      <span v-show="grant.deleted_at" class="ml-3">
                        <v-icon color="red">mdi-close-circle</v-icon>
                        <v-tooltip
                          activator="parent"
                          location="end"
                          >
                          <span>This grant has been deleted</span>
                        </v-tooltip>
                      </span>
                      <div>
                        <v-chip
                          v-if="grant.constraints.length"
                          v-for="c in grant.constraints"
                          size="small"
                          >
                          {{ c.constraint.min_freq/1e6 + "-" + c.constraint.max_freq/1e6 }}
                        </v-chip>
                      </div>
                    </td>
                  </tr>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-table 
                  height="215px"
                  density="compact">
                  <tr>
                    <th colspan=2>Radios</th>
                  </tr>
                  <tr>
                    <td width="30px"></td>
                    <td>
                      <v-radio-group
                        class="small-radio"
                        inline
                        density="compact"
                        v-model="showWhichRadios"
                        hide-details
                        >
                        <v-radio
                          label="Grants"
                          value="grants"
                          density="compact"
                          ></v-radio>
                        <v-radio
                          class="ml-1"
                          label="TX"
                          value="tx"
                          density="compact"
                          ></v-radio>
                        <v-radio
                          class="ml-1"
                          label="All"
                          value="all"
                          density="compact"
                          ></v-radio>
                      </v-radio-group>
                    </td>
                  </tr>
                  <tr v-for="radio in zone.data.filtered_radios"
                      :key="radio.id">
                    <td>
                      <v-checkbox
                        v-model="radio._selected"
                        @update:modelValue="radioSelected(radio)"
                        density="compact"
                        hide-details/>
                    </td>
                    <td>
                      <a v-on:click="showRadio(radio)" href="#">
                        {{ getElementNameById(radio.element_id) + ": " + radio.name }}
                      </a>
                    </td>
                  </tr>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols=8>
          <div style="height:695px">
            <l-map ref="map"
                   v-model:zoom="zone.data.zoom"
                   :center="zoneCenter"
                   :use-global-leaflet="false"
                   >
              <l-tile-layer
                url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                layer-type="base"
                attribution='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                name="OpenStreetMap"
                ></l-tile-layer>
              <l-marker
                v-for="location in zone.data.graphed_locations"
                :key="location.id"
                :lat-lng="[location.y, location.x]"
                >
                <l-icon
                  :icon-url="location._iconColor"
                  :icon-size="location._iconSize"
                  />
                <l-tooltip>
                  {{ location.name }}                  
                </l-tooltip>
                <l-popup class="zone-map-popup">
                  <template v-slot:default>
                    <table class="w-100">
                      <tbody>
                        <tr>
                          <td style="width:30%">Location:</td>
                          <td style="white-space: nowrap">
                            {{ location.name }}</td>
                        </tr>
                        <tr>
                          <td>Latitude:</td><td>{{ location.x }}</td>
                        </tr>
                        <tr>
                          <td>Longitude:</td><td>{{ location.y }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      v-for="radio in location._radios"
                      :key="radio.id"
                      class="mt-2">
                      <table class="w-100">
                        <tbody>
                          <tr>
                            <td style="width:30%">Radio:</td>
                            <td style="white-space: nowrap">
                              <a v-on:click.prevent="showRadio(radio)"
                                 href="#">{{ radio.name }}</a>
                            </td>
                          </tr>
                        </tbody>
                        <tbody
                            v-for="port in radio.ports"
                            :key="port.id">
                          <tr>
                            <td>TX/RX</td>
                            <td v-if="port.rx && !port.tx">RX Only</td>
                            <td v-if="port.rx && port.tx">TX and RX</td>
                          </tr>
                          <tr>
                            <td>Range</td>
                            <td>
                              {{ port.min_freq/1e6 + "-" + port.max_freq/1e6 }} MHz
                            </td>
                          </tr>
                        </tbody>
                        <tbody>
                          <tr v-if="radio._inline_monitor">
                            <td>Inline Monitor:</td>
                            <td style="white-space: nowrap">
                              <a v-on:click.prevent="showMonitor(radio._inline_monitor)"
                                 href="#">{{ radio._inline_monitor.name }}</a>
                              <a v-if="radio._inline_monitor._observation_id"
                                 href='#'
                                 v-on:click.prevent="showObsViewer(
                                                     radio._inline_monitor)">
                                <v-icon>mdi-database</v-icon>
                              </a>
                            </td>
                          </tr>
                          <tr v-if="radio._ondemand_monitor">
                            <td>Demand Monitor:</td>
                            <td style="white-space: nowrap">
                              <a v-on:click.prevent="showMonitor(
                                                     radio._ondemand_monitor)"
                                 href="#">{{ radio._ondemand_monitor.name }}</a>
                              <span v-if="radio._ondemand_monitor._observation_id">
                                <a href='#'
                                   v-on:click.prevent="showObsViewer(
                                                       radio._ondemand_monitor)">
                                  <v-icon>mdi-database</v-icon>
                                </a>
                                <a v-if="radio._ondemand_monitor.formats == 'rfs-csv-inline'"
                                   href='#'
                                   v-on:click.prevent="showRFSViewer(
                                                       radio._ondemand_monitor)">
                                  <v-icon>mdi-movie-roll</v-icon>
                                </a>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </template>
                </l-popup>
              </l-marker>
              <l-polygon
                :lat-lngs="zoneBoundary"
                color="red"
                :fill="false"/>
            </l-map>
          </div>
        </v-col>
      </v-row>
    </v-container>
    </v-card>
    <v-card v-if='zone.data.currentSpectrum'>
      <Spectrum :item="zone.data.currentSpectrum" :editable="false"></Spectrum>
    </v-card>
    <v-card v-if='zone.data.currentGrant'>
      <Grant :item="zone.data.currentGrant" :editable="false"></Grant>
    </v-card>
    <v-card v-if='zone.data.currentRadio'>
      <Radio :item="zone.data.currentRadio" :editable="false"></Radio>
    </v-card>
    <v-card v-if='zone.data.currentMonitor'>
      <Monitor :item="zone.data.currentMonitor" :editable="false"></Monitor>
    </v-card>
    <v-card v-if='zone.data.currentViewer && zone.data.currentObservation'>
      <Observation
        v-if="zone.data.showObsViewer"
        :observation="zone.data.currentObservation"
        :grants="zone.data.grants"
        :claims="zone.data.claims"
        :updated="zone.data.updated"
        ></Observation>
      <Kurtosis
        v-if="zone.data.showRFSViewer"
        :observation="zone.data.currentObservation"
        :zoneViewer="true"
        @rfsViewAll="(params) => toggleRFSMode(params)"
        ></Kurtosis>
    </v-card>
  </div>
</template>

<style>
  .leaflet-popup-content {
      min-width: 525px;
      margin: 5px;
  }
 .leaflet-popover-content table > tbody > tr > th,
 .leaflet-popover-content table > tbody > tr > td {
   padding: 1px;
   border: none !important;
   font-size: 14px;
   height: 16px !important;
   width: 30% !important;
 }
 .small-radio i {
   font-size: 20px;
 }
 .small-radio label {
   font-size: 16px;
   padding-left: 0px;
   margin-left: -4px;
 }
 .small-radio .v-radio {
   padding: 0px;
 }
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import '~/lib/event';
</script>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import { eventStore } from '~/stores/event'
import { clientStore } from '~/stores/client'
import Radio from '~/components/Radio.vue'
import Grant from '~/components/Grant.vue'
import Spectrum from '~/components/Spectrum.vue'
import Monitor from '~/components/Monitor.vue'
import Observation from '~/components/Observation.vue'
import Kurtosis from '~/components/Kurtosis.vue'

import 'leaflet/dist/leaflet.css'
import { LMap, LTileLayer, LMarker, LPolygon,
         LTooltip, LPopup, LIcon } from '@vue-leaflet/vue-leaflet'

var ICONS       = "https://www.emulab.net/downloads/leaflet-color-markers/img/";
var REDICON     = ICONS + "marker-icon-2x-red.png";
var BLUEICON    = ICONS + "marker-icon-2x-blue.png";
var GOLDICON    = ICONS + "marker-icon-2x-gold.png";
var GREENICON   = ICONS + "marker-icon-2x-green.png";
var YELLOWICON  = ICONS + "marker-icon-2x-yellow.png";

export default defineComponent({
    components: {
        LMap,
        LTileLayer,
        LMarker,
        LPolygon,
        LTooltip,
        LPopup,
        LIcon,
    },
    data() {
        return {
            currentRadio: null,
            showWhichGrants: "spectrum",
            showWhichRadios: "grants",
            showAllRFS: false,
            grantStateFilter: null,
            smallIcon: [20, 35],
            bigIcon: [30, 50],
            blueIcon: BLUEICON,
            redIcon: REDICON,
            goldIcon: GOLDICON,
            greenIcon: GREENICON,
            fetchPayload: {
                page: 1,
                items_per_page: 65536,
                enabled: true,
                deleted: false,
                approved: true,
                denied: false,
            },
        }
    },
    async mounted() {
        if (!this.zone.zone) {
            await this.initializeZone();
        }
        if (this.is_admin) {
            await this.initEvents();
        }
        console.log("Zone:status:mounted", this, this.is_admin);
    },
    async unmounted() {
        console.log("Zone:status:unmounted", this);
        if (this.is_admin) {
            await this.deinitEvents();
            this.$zoneStore.clearObservation();
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            zone: (state) => state.zone,
            radios: (state) => state.radios.radios,
            spectrums: (state) => state.spectrums.spectrum,
            grants: (state) => state.grants.grants,
            grant: (state) => state.grant.grant,
            monitors: (state) => state.monitors.monitors,
            observation: (state) => state.observation,
            locations: (state) => state.locations.locations,
            claims: (state) => state.claims.claims,
        }),
        zoneCenter() {
            return this.$zoneStore.computeZoneCenter()
        },
        zoneBoundary() {
            return this.$zoneStore.computeZoneBoundary()
        },
    },
    methods: {
        async initializeZone() {
            await this.$zoneStore.fetchZones()
            this.zone.data = {
                zoom: 15,
                grants: [],
                claims: [],
                locations_by_id: {},
                graphed_locations: [],
                selected_spectrums: [],
                selected_grants: [],
                filtered_grants: [],
                selected_radios: [],
                filtered_radios: [],
                graphed_radios: [],
                grants_by_id: {},
                spectrums_by_id: {},
                radios_by_id: {},
                monitors_by_id: {},
                inline_monitor_ports: {},
                ondemand_monitor_ports: {},
                tx_radios: {},
                nogrants: undefined,
                currentSpectrum: null,
                currentGrant: null,
                currentRadio: null,
                currentMonitor: null,
                currentObservation: null,
                showObsViewer: false,
                showRFSViewer: false,
                currentViewer: null,
                updated: 0,
            };
            await this.$zoneStore.fetchLocations(this.fetchPayload)
            await this.$zoneStore.fetchMonitors(this.fetchPayload)
            await this.$zoneStore.fetchRadios(this.fetchPayload)
            await this.$zoneStore.fetchGrants(this.fetchPayload)
            // We update this, but computed properties are read only
            this.zone.data.grants = this.grants;
            await this.$zoneStore.fetchClaims(this.fetchPayload);
            this.zone.data.claims = this.claims;
            await this.$zoneStore.fetchSpectrums(this.fetchPayload)
            this.initLocations();
            this.initMonitors();
            this.initRadios();
            this.initGrants();
            this.initSpectrums();
        },
        refreshZone() {
            this.showWhichRadios = "grants";
            this.initializeZone();
        },
        gotoRadio(radio) {
            navigateTo("/radios/" + radio.id);
        },
        /*
         * These are all cheesy and need to be redone.
         */
        showSpectrum(spectrum) {
            this.zone.data.currentSpectrum = spectrum;
            this.zone.data.currentMonitor  = null;
            this.zone.data.currentGrant    = null;
            this.zone.data.currentRadio    = null;
            this.currentRadio = null;
            this.zone.data.currentViewer   = null;
            this.zone.data.currentObservation = null;
        },
        showGrant(grant) {
            this.zone.data.currentSpectrum = null;
            this.zone.data.currentMonitor  = null;
            this.zone.data.currentGrant    = grant;
            this.zone.data.currentRadio    = null;
            this.currentRadio = null;
            this.zone.data.currentViewer   = null;
            this.zone.data.currentObservation = null;
        },
        showMonitor(monitor) {
            this.zone.data.currentSpectrum = null;
            this.zone.data.currentMonitor  = monitor;
            this.zone.data.currentGrant    = null;
            this.zone.data.currentRadio    = null;
            this.currentRadio = null;
            this.zone.data.currentViewer   = null;
            this.zone.data.currentObservation = null;
        },
        showRadio(radio) {
            this.zone.data.currentSpectrum = null;
            this.zone.data.currentMonitor  = null;
            this.zone.data.currentRadio    = radio;
            this.zone.data.currentGrant    = null;
            this.currentRadio = radio;
            this.zone.data.currentViewer   = null;
            this.zone.data.currentObservation = null;
        },
        showObsViewer(monitor) {
            this.showViewer("obs", monitor);
        },
        showRFSViewer(monitor) {
            this.showViewer("rfs", monitor);
        },
        async showViewer(type, monitor) {
            this.zone.data.currentSpectrum = null;
            this.zone.data.currentMonitor  = null;
            this.zone.data.currentRadio    = null;
            this.zone.data.currentGrant    = null;
            this.currentRadio = null;
            this.zone.data.currentObservation = null;
            this.zone.data.currentViewer   = null;
            
            if (type == "rfs") {
                this.zone.data.showRFSViewer = true;
                this.zone.data.showObsViewer = false;
            }
            else {
                this.zone.data.showRFSViewer = false;
                this.zone.data.showObsViewer = true;
            }
            this.zone.data.currentViewer = monitor;
            await this.getObservation(monitor._observation_id);
        },
        async getObservation(id) {
            var params = {
                "data_inline" : 1
            }
            await this.$zoneStore.fetchObservation(id, params);
            this.zone.data.currentObservation = this.observation;
        },
        constraintOverlaps(constraint1, constraint2) {
            var min1 = constraint1.min_freq;
            var max1 = constraint1.max_freq;
            var min2 = constraint2.min_freq;
            var max2 = constraint2.max_freq;

            console.log("constraintOverlaps", constraint1, constraint2);

            // Partial overlap.
            return ((min1 >= min2 && min1 <= max2) ||
                    (min2 >= min1 && min2 <= max1));
        },
        spectrumSelected(selected) {
            console.log("spectrumSelected", selected);

            this.showWhichRadios = "grants";

            /*
             * Update the Grants list to include only those grants that
             * are contained in the selected spectrum.
             */
            var tmp = {};
            var me  = this;

            this.zone.data.grants.forEach(function (grant) {
                var spectrum = me.zone.data.spectrums_by_id[grant.spectrum_id];

                if (!spectrum) {
                    console.log("spectrumSelected: no spectrum for grant", grant);
                    return;
                }
                // Grants for all selected spectrums go into the list, but only
                // if no state filter is active.
                if (spectrum._selected &&
                    (me.grantStateFilter == null || grant.status == me.grantStateFilter)) {
                    tmp[grant.id] = grant;

                    // The grants for the currently selected spectrum get turned on.
                    if (selected && grant.spectrum_id == selected.id && !grant.revoked_at) {
                        grant._selected = true;
                    }
                }
                else {
                    // Spectrum is not selected, reset the grant too.
                    grant._selected = false;
                }
                me.grantSelected(grant);
            });
            this.zone.data.filtered_grants = Object.values(tmp);
        },
        grantSelected(selected) {
            console.log("grantSelected", selected);

            /*
             * Update the filtered radios list to include only those radios
             * in the selected grants.
             */
            var tmp = {};
            var me  = this;

            this.zone.data.grants.forEach(function (grant) {
                grant.radio_ports.forEach(function (port) {
                    var radio_id = port.radio_port.radio_id;
                    var radio = me.zone.data.radios_by_id[radio_id];

                    if (grant._selected) {
                        tmp[radio_id] = radio;

                        // The radios for the currently selected grant get turned on.
                        if (selected && grant.id == selected.id) {
                            radio._selected = true;
                        }
                    }
                    else {
                        // Grant is not selected, reset the radio too.
                        radio._selected = false;
                    }
                });
            });
            console.log("grantSelected", tmp);
            this.zone.data.filtered_radios = Object.values(tmp);
            this.radioSelected();
        },
        radioSelected() {
            console.log("radioSelected");

            /*
             * Update the graphed list of radios
             */
            var locs = {};
            var me  = this;

            this.zone.data.filtered_radios.forEach(function (radio) {
                if (radio._selected) {
                    radio._visible = true;

                    var location = me.zone.data.locations_by_id[radio.location_id];
                    locs[location.id] = location;                    
                }
                else {
                    radio._visible = false;
                }
            });
            this.zone.data.graphed_locations = Object.values(locs);
            console.log("radioSelected", locs);
        },
        getSpectrumTag(spectrum) {
            return getElementNameById(spectrum.element_id) + ":" + spectrum.name;
        },
        getGrantTag(grant) {
            var spectrum = this.zone.data.spectrums_by_id[grant.spectrum_id];
            return this.getSpectrumTag(spectrum) + ": " + grant.name;
        },
        initMonitors() {
            var ids = {};
            var inline = {};
            var demand = {}

            this.monitors.forEach(function (monitor) {
                if (monitor.monitored_radio_port_id) {
                    inline[monitor.monitored_radio_port_id] = monitor;
                }
                else {
                    demand[monitor.radio_port_id] = monitor;
                }
                ids[monitor.id] = monitor;
                monitor._observation_id = null;
            });
            this.zone.data.monitors_by_id = ids;
            this.zone.data.inline_monitor_ports = inline;
            this.zone.data.ondemand_monitor_ports = demand;
            console.log("monitors", ids, inline);
        },
        initRadios() {
            var ids = {};
            var tx  = {};
            var me  = this;

            /*
             * Sorted radios are nicer. :-)
             */
            this.radios.sort(function (a, b) {
                if (a.name < b.name) {
                    return -1;
                }
                else if (a.name > b.name) {
                    return 1;
                }
                else {
                    return 0;
                }
            });
            this.radios.forEach(function (radio) {
                if (!(radio.name.search("oai") >= 0 ||
                      radio.name.search("inline") >= 0)) {
                    
                    ids[radio.id] = radio;
                    radio._inline_monitor = null;
                    radio._ondemand_monitor = null;
                    // v-model for the selection list
                    radio._selected = false;
                    // v-model for map marker icons size/color
                    radio._iconSize = me.smallIcon;
                    radio._iconColor= me.blueIcon;
                    radio._visible  = false;

                    // Radios at each location
                    var location = me.zone.data.locations_by_id[radio.location_id];
                    location._radios[radio.id] = radio;
                    radio._location = location;

                    radio.ports.forEach(function (port) {
                        // Technically, we only care about radios that can transmit
                        if (port.tx) {
                            tx[radio.id] = radio;
                        }
                        // Look to see if any of the radio ports are being
                        // monitored and remember for the popup.
                        if (port.id in me.zone.data.inline_monitor_ports) {
                            radio._inline_monitor = me.zone.data.inline_monitor_ports[port.id];
                        }
                        if (port.id in me.zone.data.ondemand_monitor_ports) {
                            radio._ondemand_monitor = me.zone.data.ondemand_monitor_ports[port.id];
                        }
                    });
                }
            });
            this.zone.data.radios_by_id = ids;
            this.zone.data.tx_radios = tx;
            console.log("radios", ids, tx);
        },
        initGrants() {
            var ids = {};
            var me  = this;

            if (this.zone.data.grants.length == 0) {
                this.zone.data.nogrants = true;
                this.zone.data.grants_by_id = [];
                this.zone.data.filtered_grants = [];
                this.zone.data.filtered_radios = [];
                this.showWhichRadios = "all";
                return;
            }
            this.zone.data.grants.forEach(function (grant) {
                ids[grant.id] = grant;
                // v-model for the selection list
                // Do not overwrite if already set, as for addGrant() and deleteGrant().
                if (grant?._selected === undefined) {
                    grant._selected = false;
                }
            });
            this.zone.data.grants_by_id = ids;
            this.zone.data.nogrants = false;
            console.log("grants", this.zone.data.grants_by_id);
        },
        async reloadGrant(grant_id) {
            // Need to reload the grant cause the event does not have revoked set.
            await this.$zoneStore.fetchGrant(grant_id);
            if (!this.grant || this.grant.id != grant_id) {
                console.log("reloadGrant: could not get grant", grant_id);
                return -1;
            }
            console.log("zone:reloadGrant updated grant", this.grant);
            if (grant_id in this.zone.data.grants_by_id) {
                var grant = this.zone.data.grants_by_id[grant_id];
                grant.status = this.grant.status;
            }
            return 0;
        },
        /*
         * New grant created *and* approved. At the moment, a grant is not "new"
         * until it is approved, no point in showing it otherwise.
         */
        async addGrant(object) {
            var grant_id = object.id;
            if (grant_id in this.zone.data.grants_by_id) {
                var grant = this.zone.data.grants_by_id[grant_id];                
                console.log("addGrant already exists", grant);
                return;
            }
            if (await this.reloadGrant(grant_id)) {
                return;
            }
            console.log("zone:addGrant", this.grant);
            // If going from no grants to first grant, clear the graphed radio list.
            if (this.zone.data.grants.length == 0) {
                this.zone.data.graphed_radios = [];
            }
            this.zone.data.grants.push(this.grant);
            this.initGrants();
            // Force tables to update.
            this.spectrums.forEach(function (spectrum) {
                if (spectrum._selected) {
                    this.spectrumSelected(spectrum);
                }
            }, this);
        },
        /*
         * Grant is approved
         */
        async approveGrant(object) {
            var grant_id = object.id;
            var grant    = this.zone.data.grants_by_id[grant_id];
            if (!grant) {
                console.log("zone:approveGrant, could not find grant", grant_id);
                return;
            }
            /*
             * Beacuse of dynamic spectrum requests, we have to copy out the
             * constraints since they might have changed.
             */
            grant.constraints = object.constraints;
            grant.status = object.status;
            grant.approved_at = object.approved_at;
            console.log("zone:approveGrant", grant);
        },
        /*
         * Grant is revoked.
         */
        async revokeGrant(object) {
            var grant_id = object.id;
            var grant    = this.zone.data.grants_by_id[grant_id];
            var me       = this;
            if (!grant) {
                console.log("zone:revokeGrant, could not find grant", grant_id);
                return;
            }
            grant.status = object.status;
            grant.revoked_at = object.revoked_at;
            console.log("zone:revokeGrant", grant);
            
            // Flash all of the radios in the grant.
            grant.radio_ports.forEach(function (port) {
                var radio_id = port.radio_port.radio_id;
                var radio = me.zone.data.radios_by_id[radio_id];
                me.flashIcon(radio, me.redIcon);                
            });
        },
        /*
         * Grant is Paused or Pending
         */
        async pauseGrant(object) {
            var grant_id = object.id;
            var grant    = this.zone.data.grants_by_id[grant_id];
            if (!grant) {
                console.log("zone:pauseGrant, could not find grant", grant_id);
                return;
            }
            grant.status = object.status;
            console.log("zone:pauseGrant", grant, object.status);
        },
        /*
         * Grant is (re)started
         */
        async startGrant(object) {
            var grant_id = object.id;
            var grant    = this.zone.data.grants_by_id[grant_id];
            if (!grant) {
                console.log("zone:startGrant, could not find grant", grant_id);
                return;
            }
            grant.status = object.status;
            console.log("zone:startGrant", grant);
        },
        /*
         * Grant is Deleted.
         */
        async deleteGrant(object) {
            var grant_id = object.id;
            var grant    = this.zone.data.grants_by_id[grant_id];
            if (!grant) {
                console.log("zone:deleteGrant, could not find grant", grant_id);
                return;
            }
            grant.status = object.status;
            grant.deleted_at = this.grant.deleted_at;
            console.log("zone:deleteGrant", this.grant);
            
            var me = this;
            window.setTimeout(function() {
                me.flushGrants();
            }, 60000);
        },
        flushGrants() {
            console.info("zone:flushGrants", this);
            var me  = this;
            var tmp = [];
            this.zone.data.grants.forEach(function (grant) {
                if (!grant.deleted_at && !grant.revoked_at) {
                    tmp.push(grant);
                }
            });
            this.zone.data.grants = tmp;
            this.initGrants();
            // Force tables to update.
            this.spectrums.forEach(function (spectrum) {
                if (spectrum._selected) {
                    me.spectrumSelected(spectrum);
                }
            }, this);
        },
        initLocations() {
            var ids = {};
            var me  = this;
            
            this.locations.forEach(function (location) {
                ids[location.id] = location;
                // Radios at each location.
                location._radios = {};
                // v-model for map marker icons size/color
                location._iconSize = me.smallIcon;
                location._iconColor= me.blueIcon;
            });
            this.zone.data.locations_by_id = ids;
            console.log("locations", this.zone.data.locations_by_id);
        },
        initSpectrums() {
            var ids = {};
            
            this.spectrums.forEach(function (spectrum) {
                ids[spectrum.id] = spectrum;
                // v-model for the selection list
                spectrum._selected = false;
            });
            this.zone.data.spectrums_by_id = ids;
            console.log("spectrums", this.zone.data.spectrums_by_id);
        },
        handleEvent(event) {
            //console.log("zone:handleEvent", event);
            var sourceType = event.getSourceTypeName();
            var codeName   = event.getCodeName();
                
            if (sourceType == "Zmc" && codeName == "Grant") {
                return this.grantEvent(event);
            }
            if (sourceType == "Zmc" && codeName == "Claim") {
                return this.claimEvent(event);
            }
            if (sourceType == "Dst" && codeName == "Observation") {
                return this.observationEvent(event);
            }
        },
        initEvents() {
            this.$eventStore.addMsgHandler(this.handleEvent);
        },
        deinitEvents() {
            this.$eventStore.removeMsgHandler(this.handleEvent);
        },
        async claimEvent(event) {
            console.log("zone:claimEvent");
            await this.$zoneStore.fetchClaims(this.fetchPayload);
            this.zone.data.claims = this.claims;
        },
        async grantEvent(event) {
            var type = event.getTypeName();
            var id   = event.getObjectId();
            var grant= event.object;

            console.log("zone:GrantEvent", type, id, grant.is_claim);
            if (grant.is_claim) {
                // Ignore the grant events generated by claims.
                return;
            }

            if (type == "Created") {
                await this.addGrant(grant);
            }
            else if (type == "Approved") {
                await this.approveGrant(grant);
            }
            else if (type == "Revoked") {
                await this.revokeGrant(grant);
            }
            else if (type == "Deleted") {
                await this.deleteGrant(grant);
            }
            else if (type == "Pending" || type == "Stopped") {
                await this.pauseGrant(grant);
            }
            else if (type == "Started") {
                await this.startGrant(grant);
            }
            this.zone.data.updated++;
        },
        observationEvent(event) {
            var target  = event.object;
            var monitor = this.zone.data.monitors_by_id[target.monitor_id];
            
            if (! monitor) {
                console.log("zone.observationEvent: no such monitor");
                return
            }
            if (monitor.monitored_radio_port) {
                // Inline monitor
                var radio_id = monitor.monitored_radio_port.radio_id;
                var radio    = this.zone.data.radios_by_id[radio_id];
                if (!radio) {
                    console.log("zone.observationEvent: no radio for monitored radio port");
                    return;
                }
                if (target.violation) {
                    this.flashIcon(radio, this.redIcon);
                }
                else {
                    this.flashIcon(radio, this.greenIcon);
                }
                monitor._observation_id = target.id;
                // If displaying the graph from this monitor, update in real time
                if (this.zone.data.currentViewer &&
                    this.zone.data.currentViewer.id == target.monitor_id) {
                    this.getObservation(target.id);
                }
                return;
            }
            // On demand monitor.
            var radio = this.zone.data.radios_by_id[monitor.radio_port.radio_id];
            if (!radio) {
                console.log("zone.observationEvent: no radio for radio port");
                return;
            }
            this.flashIcon(radio, this.goldIcon);
            monitor._observation_id = target.id;
            // If displaying the graph from this monitor, update in real time
            if (this.zone.data.currentViewer &&
                     this.zone.data.currentViewer.id == target.monitor_id) {
                this.getObservation(target.id);
            }
            else if (this.zone.data.showRFSViewer && this.showAllRFS &&
                     target.format == "rfs-csv-inline") {
                // Kludgy
                this.getObservation(target.id);
            }
            
        },
        flashIcon(radio, iconcolor) {
            var blueIcon = this.blueIcon;
            var location = radio._location;

            // This needs a real solution ... 
            if (location._iconColor == iconcolor) {
                return;
            }
            /*
             * Flash the icon to the new color for a few seconds and then back.
             */
            location._iconColor = iconcolor;
            window.setTimeout(function() {
                location._iconColor = blueIcon;
            }, 5000);
        },
        toggleWhichRadios() {
            console.log("toggleWhichRadios", this.showWhichRadios);
            if (this.showWhichRadios == "tx") {
                this.zone.data.filtered_radios =
                    Object.values(this.zone.data.tx_radios);
                
                this.zone.data.filtered_radios.forEach(function (radio) {
                    radio._selected = true;
                });
                this.radioSelected();
            }
            else if (this.showWhichRadios == "all") {
                this.zone.data.filtered_radios =
                    Object.values(this.zone.data.radios_by_id);
                
                this.zone.data.filtered_radios.forEach(function (radio) {
                    radio._selected = true;
                });
                this.radioSelected();
            }            
            else {
                this.zone.data.filtered_radios = [];
                this.zone.data.graphed_locations = [];
                // Force tables to update.
                this.spectrums.forEach(function (spectrum) {
                    if (spectrum._selected) {
                        this.spectrumSelected(spectrum);
                    }
                }, this);
            }
        },
        toggleWhichGrants() {
            console.log("toggleWhichGrants", this.showWhichGrants);
            var me = this;

            if (this.showWhichGrants == "spectrum") {
                this.grantStateFilter = null;
            }
            else {
                this.grantStateFilter = this.showWhichGrants;
            }
            // Force tables to update.
            this.spectrums.forEach(function (spectrum) {
                if (spectrum._selected) {
                    me.spectrumSelected(spectrum);
                }
            }, this);
        },
        toggleRFSMode(params) {
            console.log("toggleWhichGrants", params);
            this.showAllRFS = params.mode;
        },
    },
    watch: {
        currentRadio(newradio, oldradio) {
            if (oldradio) {
                oldradio._location._iconSize = this.smallIcon;
            }
            if (newradio) {
                newradio._location._iconSize = this.bigIcon;
            }
        },
        showWhichRadios(newval, oldval) {
            this.toggleWhichRadios();
        },
        showWhichGrants(newval, oldval) {
            this.toggleWhichGrants();
        },
    },
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
