<template>
  <div v-if="monitor.monitor">
    <Suspense>
      <MonitorEdit
        :item="monitor.monitor"
        @modified="(params) => handleModified(params)">
      </MonitorEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import MonitorEdit from '~/components/MonitorEdit.vue'

export default defineComponent({
    components: {
        MonitorEdit: defineAsyncComponent(() => import("@/components/MonitorEdit.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchMonitor(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            monitor: (state) => state.monitor
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Monitor:edit:handleModified", params);
            this.monitor.monitor = params.item
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
