<template>
  <div v-if="monitor.monitor">
    <Suspense>
      <Monitor :item="monitor.monitor" :editable="true"></Monitor>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import Monitor from '~/components/Monitor.vue'

export default defineComponent({
    components: {
        Monitor: defineAsyncComponent(() => import("@/components/Monitor.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchMonitor(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            monitor: (state) => state.monitor
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
