<template>
<div class="mx-4">
  <div v-if="!observation">
    <v-container class="pt-0">
      <v-row>
        <v-col cols=12>
          <div class="d-flex justify-center mt-3">
            <div class="text-h6">
              Waiting for the first observation. Patience please!
            </div>
          </div>
        </v-col>
        <v-row>
          <v-col cols=12>
            <div class="d-flex justify-center mt-3">
              <v-progress-circular
                color="primary"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="red"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="purple"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="green"
                indeterminate
                ></v-progress-circular>
              
              <v-progress-circular
                color="amber"
                indeterminate
                ></v-progress-circular>
            </div>
          </v-col>
        </v-row>
      </v-row>
    </v-container>
  </div>
  <div v-if="observation">
    <Suspense>
      <Observation :observation="observation"
                   :grants="grants" :claims="claims" :updated="updated"></Observation>
    </Suspense>
  </div>
</div>
</template>

<style>
.v-progress-circular {
  margin: 1rem;
}
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import '~/lib/event';
</script>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import { eventStore } from '~/stores/event'
import { clientStore } from '~/stores/client'
import Observation from '~/components/Observation.vue'

export default defineComponent({
    data() {
        return {
            monitor_id : this.$route.params.id,
            grants: [],
            claims: [],
            updated: 0,
        }
    },
    async mounted() {
        console.log("monitor:viewer:mounted", this);
        this.$zoneStore.clearObservation();
        await this.loadGrantsAndClaims();
        await this.initEvents();
    },
    async unmounted() {
        console.log("monitor:viewer:unmounted", this);
        await this.deinitEvents();
        this.$zoneStore.clearObservation();
    },
    computed: {
        ...mapState(zoneStore, {
            observation: (state) => state.observation,
            zonegrants: (state) => state.grants.grants,
            zoneclaims: (state) => state.claims.claims,
            claim: (state) => state.claim,
            grant: (state) => state.grant,
        }),
    },
    methods: {
        async loadGrantsAndClaims()
        {
            var payload = {
                page: 1,
                items_per_page: 65536,
                enabled: true,
                deleted: false,
                approved: true,
                denied: false,
            };
            await this.$zoneStore.fetchGrants(payload)
            this.grants = this.zonegrants;
            await this.$zoneStore.fetchClaims(payload);
            this.claims = this.zoneclaims;
            console.info("monitor:viewer:loadGrantsAndClaims",
                         this.claims, this.grants);
        },
        async handleEvent(event) {
            console.log("zone:handleEvent", event);
            var sourceType = event.getSourceTypeName();
            var codeName   = event.getCodeName();
            var target     = event.object;

            if (sourceType == "Zmc" && codeName == "Grant") {
                this.grantEvent(event); 
                return;
            }
            if (sourceType == "Zmc" && codeName == "Claim") {
                this.claimEvent(event); 
                return;
            }
            if (! (sourceType == "Dst" && codeName == "Observation")) {
                return;
            }
            if (target.monitor_id != this.monitor_id) {
                return;
            }
            var params = {
                "data_inline" : 1
            }
            await this.$zoneStore.fetchObservation(target.id, params);
        },
        initEvents() {
            this.$eventStore.addMsgHandler(this.handleEvent);
        },
        deinitEvents() {
            this.$eventStore.removeMsgHandler(this.handleEvent);
        },
        async claimEvent(event) {
            var type  = event.getTypeName();
            var id    = event.getObjectId();
            var claim = event.object;
            
            console.log("viewer:claimEvent", claim);
            
            if (type == "Created") {
                this.claims.push(claim);
            }
            else if (type == "Deleted") {
                var tmp = [];
                this.claims.forEach(function (c) {
                    if (c.id != id) {
                        tmp.push(c);
                    }
                });
                this.claims = tmp;
            }
            else {
                var tmp = [];
                
                this.claims.forEach(function (c) {
                    if (c.id != id) {
                        tmp.push(x);
                    }
                    else {
                        tmp.push(c);
                    }
                });
                this.claims = tmp;
            }
            this.updated++;
        },
        async grantEvent(event) {
            var type  = event.getTypeName();
            var id    = event.getObjectId();
            var grant = event.object;

            if (grant.is_claim) {
                // Ignore the grant events generated by claims.
                return;
            }
            console.log("viewer:grantEvent", grant);
            
            if (type == "Created") {
                this.grants.push(grant);
            }
            else if (type == "Deleted") {
                var tmp = [];
                this.grants.forEach(function (g) {
                    if (g.id != id) {
                        tmp.push(g);
                    }
                });
                this.grants = tmp;
            }
            else {
                var tmp = [];
                
                this.grants.forEach(function (g) {
                    if (g.id != id) {
                        tmp.push(g);
                    }
                    else {
                        tmp.push(grant);
                    }
                });
                this.grants = tmp;
            }
            this.updated++;
        },
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
