<template>
  <v-container>
    <AntennaList
      :items="items"
      :page="page"
      :total="total"
      :itemsPerPage="itemsPerPage"
      @needs-update="(params) => update(params)"
    ></AntennaList>
  </v-container>
</template>

<script>
import AntennaList from '~/components/AntennaList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    data() {
        return {
            itemsPerPage: 10
        }
    },
    async mounted() {
        if (!this.is_admin) {
            navigateTo('/')
            return
        }
        this.$userStore.fetchUser()
        this.update({
            page: 1,
            items_per_page: this.itemsPerPage
        })
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(adminStore, {
            items: (state) => state.antennas.antennas,
            total: (state) => state.antennas.total,
            page: (state) => state.antennas.page,
            pages: (state) => state.antennas.pages,
        }),
    },
    methods: {
        update(params) {
            if (!this.is_admin) {
                navigateTo('/')
            }
            
            var payload = {
                page: params.page || 1,
                items_per_page: params.itemsPerPage || this.itemsPerPage
            }
            if (params.antenna) payload['antenna'] = params.antenna
            if (params.type) payload['type'] = params.type
            if (params.deleted !== undefined) payload['deleted'] = params.deleted
            if (params.sort) payload['sort'] = params.sort
            if (params.sort_asc) payload['sort_asc'] = true

            this.$adminStore.fetchAntennas(payload)
        }
    },
    watch: {
        is_admin() {
            // had to make this because on refresh, is_admin doesn't
            // update until after the mounted has already run, but
            // mounted needs to run when switching pages where the
            // is_admin doesn't update
            console.log('watch update')
            this.update()
        },
        items() {
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
