<template>
  <v-container>
    <ClaimList
      :items="items"
      :page="page"
      :total="total"
      :itemsPerPage="itemsPerPage"
      @needs-update="(params) => update(params)"
    ></ClaimList>
  </v-container>
</template>

<script>
import ClaimList from '~/components/ClaimList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    data() {
        return {
            itemsPerPage: 10
        }
    },
    async mounted() {
        if (!this.is_admin) {
            navigateTo('/')
            return
        }
        this.$userStore.fetchUser()
        this.update({
            page: 1,
            items_per_page: this.itemsPerPage
        })
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(adminStore, {
            items: (state) => state.claims.claims,
            total: (state) => state.claims.total,
            page: (state) => state.claims.page,
            pages: (state) => state.claims.pages,
        }),
    },
    methods: {
        update(params) {
            if (!this.is_admin) {
                navigateTo('/')
            }
            
            var payload = {
                page: params.page || 1,
                items_per_page: params.itemsPerPage || this.itemsPerPage
            }
            if (params.claim) payload['claim'] = params.claim
            if (params.ext) payload['ext'] = params.ext
            if (params.ext_grant) payload['ext_grant'] = params.ext_grant
            if (params.approved !== undefined) payload['approved'] = params.approved
            if (params.verified !== undefined) payload['verified'] = params.verified
            if (params.denied !== undefined) payload['denied'] = params.denied
            if (params.revoked !== undefined) payload['revoked'] = params.revoked
            if (params.deleted !== undefined) payload['deleted'] = params.deleted
            if (params.current !== undefined) payload['current'] = params.current
            if (params.sort) payload['sort'] = params.sort
            if (params.sort_asc) payload['sort_asc'] = true
            
            this.$adminStore.fetchClaims(payload)
        }
    },
    watch: {
        is_admin() {
            // had to make this because on refresh, is_admin doesn't
            // update until after the mounted has already run, but
            // mounted needs to run when switching pages where the
            // is_admin doesn't update
            console.log('watch update')
            this.update()
        },
        items() {
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
