<template>
  <v-container>
    <PropsimList
      v-if="ready"
      :items="items"
      :page="page"
      :total="total"
      :initialFilters="filters"
      :initialOptions="options"
      @needs-update="(params) => update(params)"
    ></PropsimList>
  </v-container>
</template>

<script>
import PropsimList from '~/components/PropsimList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'
import { filtersStore } from '~/stores/filters'

export default defineComponent({
    name: "admin/propsims",
    data() {
        return {
            ready: false,
            filters: {
                propsim: '',
                freq_min: '',
                freq_max: '',
                status: '',
            },
            options: {
                itemsPerPage: 10,
                page: 1,
                sortBy: [{
                    key: 'updated_at',
                    order: 'desc'
                }]
            },
        }
    },
    async mounted() {
        console.log("propsims:mounted", this)
        if (!this.is_admin) {
            navigateTo('/')
            return
        }
        this.$filtersStore.dump()

        /*
         * Restore filters from the store if we are "backing" up to the page.
         * When going "forward" we wipe out the filters. 
         */
        if (window.history.state.forward != null &&
            this.$filtersStore.haveFilters(this.$options.name)) {
            var ref = this.$filtersStore.getFilters(this.$options.name)
            this.filters = ref.filters
            this.options = ref.options
            console.log("propsims:mounted:filters", this.filters, this.options)
        }
        else {
            console.log("fetching propsims")
            this.$filtersStore.clearFilters(this.$options.name)
            var params = {
                options: this.options,
                filters: this.filters,
            }
            await this.update(params)
        }
        this.ready = true
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(adminStore, {
            items: (state) => state.propsims.propsims,
            total: (state) => state.propsims.total,
            page: (state) => state.propsims.page,
            pages: (state) => state.propsims.pages,
        }),
    },
    methods: {
        async update(params) {
            if (!this.is_admin) {
                navigateTo('/')
            }
            var payload = {}
            
            if (params.filters.propsim != "")
                payload['propsim'] = params.filters.propsim
            if (params.filters.freq_min != "")
                payload['freq_min'] = params.filters.freq_min
            if (params.filters.freq_max != "")
                payload['freq_max'] = params.filters.freq_max
            if (params.filters.status)
                payload['status'] = params.filters.status

            payload.page = params.options.page
            payload.items_per_page = params.options.itemsPerPage
            if (params.options.sortBy[0] !== undefined) {
                if (params.options.sortBy[0].key) {                    
                    payload['sort'] = params.options.sortBy[0].key
                }
                if (params.options.sortBy[0].order === 'asc') {
                    payload['sort_asc'] = true
                }
            }
            this.options = params.options
            this.filters = params.filters
            // Save current filter.options values for backing up.
            this.$filtersStore.setFilters(this.$options.name,
                                          params.filters, params.options)
            
            if ('radio_port_id' in this.$route.query) {
                payload["radio_port_id"] = this.$route.query.radio_port_id
            }
            console.log("propsims:update", params, payload)
            await this.$adminStore.fetchPropsims(payload)
        }
    },
    watch: {
        is_admin() {
            // had to make this because on refresh, is_admin doesn't
            // update until after the mounted has already run, but
            // mounted needs to run when switching pages where the
            // is_admin doesn't update
            console.log('watch update')
            this.update()
        },
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
