<template>
  <v-container v-if="ready">
    <Suspense>
      <RFSchedule></RFSchedule>
    </Suspense>
  </v-container>
</template>

<script>
import RFSchedule from '~/components/RFSchedule.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    data() {
        return {
            ready: false
        }
    },
    async mounted() {
        console.log("admin:RFSchedule:mounted", this);
        if (!this.is_admin) {
            navigateTo('/');
            return;
        }
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            deleted: false,
            approved: true,
            denied: false,
        }
        await this.$zoneStore.fetchGrants(payload)
        await this.$zoneStore.fetchClaims(payload);
        this.ready = true;
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(zoneStore, {
            zonegrants: (state) => state.grants.grants,
            zoneclaims: (state) => state.claims.claims,
        }),
    },
    methods: {
    },
    watch: {
    },
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>


