<template>
  <v-container>
    <SpectrumList
      v-if="ready"
      :items="items"
      :page="page"
      :total="total"
      :initialFilters="filters"
      :initialOptions="options"
      @needs-update="(params) => update(params)"
    ></SpectrumList>
  </v-container>
</template>

<script>
import SpectrumList from '~/components/SpectrumList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'
import { filtersStore } from '~/stores/filters'

export default defineComponent({
    name: "admin/spectrum",
    data() {
        return {
            ready: false,
            filters: {
                spectrum: '',
                approved: {
                    value: true,
                    indeterminate: true
                },
                enabled: {
                    value: true,
                    indeterminate: true
                },
                current: {
                    value: true,
                    indeterminate: true
                },
                denied: {
                    value: true,
                    indeterminate: true
                },
                deleted: false,
            },
            options: {
                itemsPerPage: 10,
                page: 1,
                sortBy: [{
                    key: 'updated_at',
                    order: 'desc'
                }]
            },
        }
    },
    async mounted() {
        console.log("spectrum:mounted", this);
        if (!this.is_admin) {
            navigateTo('/')
            return
        }
        this.$filtersStore.dump();

        /*
         * Restore filters from the store if we are "backing" up to the page.
         * When going "forward" we wipe out the filters. 
         */
        if (window.history.state.forward != null &&
            this.$filtersStore.haveFilters(this.$options.name)) {
            var ref = this.$filtersStore.getFilters(this.$options.name);
            this.filters = ref.filters;
            this.options = ref.options;
            console.log("spectrum:mounted:filters", this.filters, this.options);
        }
        else {
            console.log("fetching spectrum")
            this.$filtersStore.clearFilters(this.$options.name);
            var params = {
                options: this.options,
                filters: this.filters,
            };
            await this.update(params);
        }
        this.ready = true;
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(adminStore, {
            items: (state) => state.all_spectrum.spectrum,
            total: (state) => state.all_spectrum.total,
            page: (state) => state.all_spectrum.page,
            pages: (state) => state.all_spectrum.pages,
        }),
    },
    methods: {
        async update(params) {
            if (!this.is_admin) {
                navigateTo('/')
            }
            var payload = { };
            
            if (params.filters.spectrum != "")
                payload['spectrum'] = params.filters.spectrum
            if (!params.filters.approved.indeterminate)
                payload['approved'] = params.filters.approved.value
            if (!params.filters.enabled.indeterminate)
                payload['enabled'] = params.filters.enabled.value;
            if (!params.filters.denied.indeterminate)
                payload['denied'] = params.filters.denied.value
            if (!params.filters.current.indeterminate)
                payload['current'] = params.filters.current.value
            payload['deleted'] = params.filters.deleted;
            
            payload.page = params.options.page;
            payload.items_per_page = params.options.itemsPerPage;
            if (params.options.sortBy[0] !== undefined) {
                if (params.options.sortBy[0].key) {                    
                    payload['sort'] = params.options.sortBy[0].key;
                }
                if (params.options.sortBy[0].order === 'asc') {
                    payload['sort_asc'] = true;
                }
            }
            this.options = params.options;
            this.filters = params.filters;
            // Save current filter.options values for backing up.
            this.$filtersStore.setFilters(this.$options.name,
                                          params.filters, params.options);
            
            console.log("spectrum:update", params, payload)
            await this.$adminStore.fetchAllSpectrum(payload)
        }
    },
    watch: {
        is_admin() {
            // had to make this because on refresh, is_admin doesn't
            // update until after the mounted has already run, but
            // mounted needs to run when switching pages where the
            // is_admin doesn't update
            console.log('watch update')
            this.update()
        },
        items() {
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
