<template>
  <v-container>
    <UserList
      :items="items"
      :page="page"
      :total="total"
      :itemsPerPage="itemsPerPage"
      @needs-update="(params) => updateUsers(params)"
    ></UserList>
  </v-container>
</template>

<script>
import UserList from '~/components/UserList.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    data() {
        return {
            itemsPerPage: 10
        }
    },
    async mounted() {
        if (!this.is_admin) {
            navigateTo('/')
            return
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(adminStore, {
            items: (state) => state.users.users,
            total: (state) => state.users.total,
            page: (state) => state.users.page,
            pages: (state) => state.users.pages,
        }),
    },
    methods: {
        updateUsers(params) {
            if (!this.is_admin) {
                navigateTo('/')
            }
            
            var payload = {
                page: params.page || 1,
                items_per_page: params.itemsPerPage || this.itemsPerPage
            }
            if (params.user) payload['user'] = params.user
            if (params.role) payload['role_id'] = params.role
            if (params.deleted) payload['deleted'] = params.deleted
            if (params['enabled'] !== undefined) payload['enabled'] = params.enabled
            if (params.sort) payload['sort'] = params.sort
            if (params.sort_asc) payload['sort_asc'] = true

            this.$adminStore.fetchUsers(payload)
        }
    },
    watch: {
        is_admin(val) {
            // had to make this because on refresh, is_admin doesn't
            // update until after the mounted has already run, but
            // mounted needs to run when switching pages where the
            // is_admin doesn't update
            if (val === true) {
                console.log('watch updateUsers')
                this.updateUsers({})
            }
        },
        items() {
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
