<template>
  <div v-if="port">
    <Suspense>
      <RadioPortEdit
        :item="port"
        :create="true"
        @created="(params) => handleCreated(params)"
      ></RadioPortEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import RadioPortEdit from '~/components/RadioPortEdit.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        RadioPortEdit: defineAsyncComponent(() => import("@/components/RadioPortEdit.vue")),
    },
    data() {
        return {
            port: {
                radio_id:    this.$route.params.id,
                name:        "",
                min_freq:    null,
                max_freq:    null,
                max_power:   null,
                enabled:     true,
                tx:          false,
                rx:          false,
                antenna_id:  "",
                antenna_location_id: "",
                antenna_azimuth_angle: 0,
                antenna_elevation_angle: 0,
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("radios.ports.create:handleCreated", params)
            // Take user back to the edit page for adding ports
            navigateTo("/radios/" + this.$route.params.id + "/edit")
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
