<template>
  <LocationEdit
    :item="location"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></LocationEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import LocationEdit from '~/components/LocationEdit.vue'
import moment from 'moment'  

export default defineComponent({
    components: {
        LocationEdit: defineAsyncComponent(() => import("@/components/LocationEdit.vue")),
    },
    data() {
        return {
            location: {
                name: "",
                element_id: null,
                srid: 4326,
                x: "",
                y: "",
                z: 0,
            }
        }
    },
    methods: {
        handleCreated(params) {
            console.log("location.create:handleCreated", params);
            navigateTo("/locations/" + params.item.id);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
