<template>
  <ClaimEdit
    :item="claim"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></ClaimEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import ClaimEdit from '~/components/ClaimEdit.vue'
import moment from 'moment'  
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        ClaimEdit: defineAsyncComponent(() => import("@/components/ClaimEdit.vue")),
    },
    data() {
        return {
            claim: {
                element_id: (this.is_admin ? null : this.$userStore.element_id),
                name: "",
                description: "",
                type: "",
                source: "",
                enabled: false,
                grant: {
                    element_id: null,
                    name: "",
                    description: "",
                    priority: 1022,
                    enabled: false,
                    starts_at: null,
                    expires_at: null,
                    constraints: [],
                    int_constraints: [],
                    rt_int_constraints: [],
                    radio_ports: [],
                }
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("claim.create:handleCreated", params);
            navigateTo("/claims/" + params.item.id);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
