<template>
  <div v-if="spectrum.spectrum && reloaded">
    <Suspense>
      <SpectrumEdit
        :item="spectrum.spectrum"
        @modified="(params) => handleModified(params)">
      </SpectrumEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import SpectrumEdit from '~/components/SpectrumEdit.vue'

export default defineComponent({
    components: {
        SpectrumEdit: defineAsyncComponent(() => import("@/components/SpectrumEdit.vue")),
    },
    data() {
        return {
            // Do not load SpectrumEdit until we have a fresh copy.
            // The one in zone storage might be stale.
            reloaded: false,
        }
    },
    async mounted() {
        await this.$zoneStore.fetchSpectrum(this.$route.params.id)
        this.reloaded = true;
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            spectrum: (state) => state.spectrum
        }),
    },
    methods: {
        handleModified(params) {
            console.log("Spectrum:edit:handleModified", params);
            this.spectrum.spectrum = params.item
        }
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
