<template>
  <div v-if="spectrum.spectrum">
    <Suspense>
      <Spectrum :item="spectrum.spectrum" :editable="true"></Spectrum>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import Spectrum from '~/components/Spectrum.vue'

export default defineComponent({
    components: {
        Spectrum: defineAsyncComponent(() => import("@/components/Spectrum.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        await this.$zoneStore.fetchSpectrum(this.$route.params.id)
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            spectrum: (state) => state.spectrum
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
