<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Antennas
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="4">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="antenna"
            clearable
            density="compact"
            variant="outlined"
            hint="Search antenna name, description, vendor, model"
            placeholder="Name, description, vendor, model"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="type"
            clearable
            density="compact"
            variant="outlined"
            hint="Search antenna type"
            placeholder="Type"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/antennas/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Create Antenna</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
          >
          <template v-slot:item.name="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/antennas/${item.id}`"
                  nuxt
                  v-bind="props"
                  >
                  <v-icon>mdi-antenna</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View Antenna</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'
</script>

<script>
export default defineComponent({
    name: 'AntennaList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            antenna: '',
            type: '',
            deleted: false,
            headers: [
                { title: 'Name', key: 'name', align: 'start', sortable: true },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'Description', key: 'description' },
                { title: 'Type', key: 'type', sortable: true },
                { title: 'Vendor', key: 'vendor', sortable: true },
                { title: 'Model', key: 'model', sortable: true },
                { title: 'URL', key: 'url' },
                { title: 'Gain', key: 'gain', sortable: true },
                { title: 'Beam Width', key: 'beam_width', sortable: true },
                { title: 'Gain Profile Format', key: 'gain_profile_format', sortable: true },
                { title: 'Gain Profile URL', key: 'gain_profile_url', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
            options: {
                itemsPerPage: this.itemsPerPage,
                page: this.page,
                sortBy: [{
                    key: 'updated_at',
                    order: 'asc'
                }]
            }
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("sort", this.options.sortBy)
            let event = {
                page: this.options.page,
                itemsPerPage: this.options.itemsPerPage,
            }
            if (this.antenna) event['antenna'] = this.antenna
            if (this.type) event['type'] = this.type
            event['deleted'] = this.deleted
            if (this.options.sortBy[0] !== undefined
                && this.options.sortBy[0].key) {
                event['sort'] = this.options.sortBy[0].key
                if (this.options.sortBy[0].order === 'asc')
                    event['sort_asc'] = true
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
        options: {
            handler() {
                console.log("options changed")
                this.notifyRefresh()
            },
            deep: true
        }
    }
});
</script>
