<template>
  <v-card v-if="item">
    <v-card-title>
      Claim <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/claims/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/claims/${item.id}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit Claim</v-tooltip>                    
        </NuxtLink>
        <span class="ml-1">
          <v-btn
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            @click="refreshClaim()"/></span>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>
              ExtId
            </td>
            <td>
              {{ item.ext_id }}
            </td>
          </tr>
          <tr>
            <td>
              Type
            </td>
            <td>
              {{ item.type }}
            </td>
          </tr>
          <tr>
            <td>
              Source
            </td>
            <td>
              {{ item.source }}
            </td>
          </tr>
          <tr>
            <td>
              URL
            </td>
            <td>
              <span v-if="item.html_url">
                <NuxtLink
                  color="gray"
                  :to="`${item.html_url}`"
                >
                  {{ item.html_url }}
                </NuxtLink>
              </span>
              <span v-else>&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>Description
            </td>
            <td>
              <span v-if="item.description != ''">{{ item.description }}</span>
              <span v-if="item.description == ''">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Verified
            </td>
            <td>
              <FormattedTime
                :when="item.verified_at" :who="item.verifier_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Denied
            </td>
            <td>
              <FormattedTime
                :when="item.denied_at" :who="item.denier_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-divider v-if="item.grant"></v-divider>
      <v-container
        v-if="item.grant"
      >
        <Grant :item="item.grant"></Grant>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
  import { getElementNameById } from '~/lib/helpers'
  import Grant from '~/components/Grant.vue'
  import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
export default defineComponent({
    name: 'Claim',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            constraintHeaders: [
                { title: 'Min Freq', key: 'min_freq',
                  value: item => (item.constraint.min_freq / 1000000) +  "MHZ",
                },
                { title: 'Max Freq', key: 'max_freq',
                  value: item => (item.constraint.max_freq / 1000000) + " MHZ",
                },
                { title: 'Min EIRP', key: 'min_eirp',
                  value: item => item.constraint.min_eirp != null ?
                  item.constraint.min_eirp : "--",
                },
                { title: 'Max EIRP', key: 'max_eirp',
                  value: item => item.constraint.max_eirp != null ?
                  item.constraint.max_eirp : "--",
                },
                { title: 'Exclusive', key: 'exclusive',
                  value: item => item.constraint.exclusive ? "Yes" : "No",
                },
                { title: 'Bandwidth', key: 'bandwidth',
                  value: item => item.constraint.bandwidth != null ?
                  item.constraint.bandwidth + " HZ" : "--",
                },
            ],
            intConstraintHeaders: [
                { title: 'Name', key: 'name',
                  value: item => item.int_constraint.name,
                },
                { title: 'Description', key: 'description',
                  value: item => item.int_constraint.description,
                },
                { title: 'Max Power', key: 'max_power',
                  value: item => item.int_constraint.max_power ? item.int_constraint.max_power : "--",
                },
                { title: 'Area', key: 'area_id',
                  value: item => item.int_constraint.area_id,
                },
            ],
            rtIntConstraintHeaders: [
                { title: 'Name', key: 'name',
                  value: item => item.rt_int_constraint.name,
                },
                { title: 'Metric', key: 'metric',
                  value: item => item.rt_int_constraint.metric,
                },
                { title: 'Comparator', key: 'comparator',
                  value: item => item.rt_int_constraint.comparator,
                },
                { title: 'Value', key: 'value',
                  value: item => item.rt_int_constraint.value,
                },
                { title: 'Aggregator', key: 'aggregator',
                  value: item => item.rt_int_constraint.aggregator,
                },
                { title: 'Period', key: 'period',
                  value: item => item.rt_int_constraint.period,
                },
                { title: 'Criticality', key: 'criticality',
                  value: item => item.rt_int_constraint.criticality,
                },
                { title: 'Description', key: 'description',
                  value: item => item.rt_int_constraint.description,
                },
            ],
            logHeaders: [
                { title: 'Created At', key: 'created_at',
                  //value: item => (item.constraint.min_freq / 1000000) + "MHZ",
                },
                { title: 'Status', key: 'status',
                  value: item => item.status,
                },
                { title: 'Op Status', key: 'op_status',
                  value: item => item.op_status,
                },
                { title: 'Message', key: 'message',
                  value: item => item.message,
                },
            ],
        }
    },
    emits: ['refresh'],
    async mounted() {
        console.log("Claim:mounted")
    },
    methods: {
        refreshClaim() {
            console.log("refreshClaim")
            this.$emit('refresh')
        }
    },
    watch: {
    }
});
</script>
