<template>
  <v-form
    v-if="item"
    v-model="isFormValid"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Claim</span>
        <span v-else>Edit Claim {{item.id}}</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                @update:modelValue="changeElement"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="myelementname"
                  readonly
                  label="Element"
                  variant="outlined"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.name"
                  clearable
                  label="Name"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
                  @change="updateGrant('name')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.description"
                  clearable
                  label="Description"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
                  @change="updateGrant('description')"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.type"
                  clearable
                  label="Type"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.source"
                  clearable
                  label="Source"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.url"
                  clearable
                  label="URL"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.ext_id"
                  clearable
                  label="External ID"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols=3 class="py-0 px-0 mr-10">
              <v-text-field
                  v-model.lazy="starts_at_readable"
                  clearable
                  label="Starts (defaults to immediately)"
                  variant="outlined"
                  density="compact"
                  placeholder="MM/DD/YYYY"
                  :rules="[rules.morethanspace, rules.validDate]"
              ></v-text-field>
            </v-col>
            <v-col cols=3 class="py-0 px-0">
              <v-text-field
                  v-model.lazy="expires_at_readable"
                  clearable
                  label="Expires"
                  variant="outlined"
                  density="compact"
                  placeholder="MM/DD/YYYY"
                  :rules="[rules.morethanspace, rules.validDate]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="py-0 px-0">
              <v-text-field
                  v-model.number="item.grant.priority"
                  clearable
                  type="number"
                  label="Priority"
                  variant="outlined"
                  density="compact"
                  placeholder="Leave priority set to 0 to be assigned the priority of the matching spectrum"
                  :rules="[rules.morethanspace, rules.positiveInteger]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-container v-if="!create || item.element_id" class="pt-0">
          <div class="d-flex justify-center mb-2">
            <span class="text-subtitle-2">Radios</span>
          </div>
          <v-row v-for="p in item.grant.radio_ports">
            <v-divider></v-divider>
            <v-col cols="4">
              <v-select
                v-model="p.radio_port_id"
                :items="all_radio_ports"
                item-title="name"
                item-value="id"
                density="compact"
                :rules="[rules.required]"
                ></v-select>
            </v-col>
            <v-col cols="8">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeRadio(p)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addRadio()"
              >
              Add Radio
            </v-btn>
          </div>
        </v-container>
        <v-container class="pt-0">
          <div class="d-flex justify-center mb-2">
            <span class="text-subtitle-1">Constraints</span>
          </div>
          <v-row v-for="c in item.grant.constraints">
            <v-divider></v-divider>
            <v-col class="v-col-3">
              <v-text-field
                v-model.number="c.constraint.min_freq"
                  label="Min Frequency"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="c.constraint.min_freq = frequencyChanged(c.constraint.min_freq)"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.constraint.max_freq"
                  label="Max Frequency"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="c.constraint.max_freq = frequencyChanged(c.constraint.max_freq)"
              ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="c.constraint.min_eirp"
                  label="Min eirp"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validEIRP]"
              ></v-text-field>
              <v-text-field
                  v-model.number="c.constraint.max_eirp"
                  label="Max eirp"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validEIRP]"
                ></v-text-field>
            </v-col>
            <v-col class="v-col-3">
              <v-text-field
                  v-model.number="c.constraint.bandwidth"
                  label="Bandwidth"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.morethanspace, rules.positiveInteger]"
                  @change="c.constraint.bandwidth = bandwidthChanged(c.constraint.bandwidth)"
              ></v-text-field>
              <v-checkbox
                  v-model="c.constraint.exclusive"
                  label="Exclusive"
                  density="compact"
              ></v-checkbox>
            </v-col>
            <v-col class="v-col-3">
              <div class="d-flex justify-end">
                <v-btn
                  color="white"
                  class="px-3 bg-success"
                  background="success"
                  elevation="2"
                  icon="mdi-delete"
                  @click="removeConstraint(c)"
                  />
              </div>
            </v-col>
          </v-row>
          <div class="d-flex justify-end">
            <v-btn
              color="white"
              class="px-3 bg-success"
              background="success"
              elevation="2"
              @click="addConstraint()"
              >
              Add Constraint
            </v-btn>
          </div>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this claim?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled || !unsaved"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.deleted_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this claim?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.verified_at && !item.denied_at"
            color="white"
            class="px-3 bg-success ml-6"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Verify
            <Confirm activator="parent"
                     message="Are you sure you want to verify this claim?"
                     @confirmed="action('verify')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="!item.verified_at && !item.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Deny
            <Confirm activator="parent"
                     message="Are you sure you want to deny this claim?"
                     @confirmed="action('deny')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="$clientStore.is_admin && item.grant.status === 'paused' && !item.grant.revoked_at && item.grant.approved_at && !item.grant.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Resume
            <Confirm activator="parent"
                     message="Are you sure you want to resume this grant?"
                     @confirmed="action('resume')">
            </Confirm>
          </v-btn>
          <v-btn
            v-if="$clientStore.is_admin && item.grant.status === 'active' && !item.grant.revoked_at && item.grant.approved_at && !item.grant.denied_at"
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Pause
            <Confirm activator="parent"
                     message="Are you sure you want to pause this grant?"
                     @confirmed="action('pause')">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
  import { mapState } from 'pinia'
  import { clientStore } from '~/stores/client'
  import { adminStore } from '~/stores/admin'
  import { zoneStore } from '~/stores/zone'
  import { formRules } from '~/lib/formrules'
  import Confirm from '~/components/Confirm.vue'
  import ErrorDialog from '~/components/ErrorDialog.vue'
  import moment from 'moment'  
  import { getElementNameById } from '~/lib/helpers'

export default defineComponent({
    name: 'ClaimEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    data() {
        return {
            isFormValid: false,
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            unsaved: false,
            starts_at_readable:  (this.item.grant.starts_at != null ?
                                  moment(this.item.grant.starts_at).format("MM/DD/YYYY HH:mm:ss") : ""),
            expires_at_readable: (this.item.grant.expires_at != null ?
                                  moment(this.item.grant.expires_at).format("MM/DD/YYYY HH:mm:ss") : ""),
            all_radio_ports: [],
            comparatorItems: [ 'ne', 'eq', 'gt', 'lt', 'gte', 'lte' ],
        }
    },
    emits: ['modified', 'created'],
    async mounted() {
        console.log("ClaimEdit:mounted")
        if (this.create) {
            this.addConstraint();
        }

        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            approved: true,
            deleted: false,
        };
        if (!this.create) {
            payload["element_id"] = this.item.element_id
        }
        await this.$zoneStore.fetchRadios(payload);
        if (this.create && this.item.element_id) {
            this.changeElement(this.item.element_id);
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin) {
                console.log("allElements", this.$adminStore.all_elements.elements)
                return this.$adminStore.all_elements.elements
            }
            else
                return this.$userStore.elements
        },
        ...mapState(zoneStore, {
            radios: (state) => state.radios.radios,
            spectrums: (state) => state.spectrums.spectrum
        }),
        myelementname() {
            return getElementNameById(this.item.element_id);
        },
    },
    methods: {
        // When changing elements, need to rewrite the set of radios that
        // can be used in the radio dropdowns.
        async changeElement(element_id) {
            console.log("changeElement", element_id);
            this.updateRadioPorts(element_id);
            // Zap the radios, forcing the user to start over.
            this.item.grant.radio_ports = [];

            // Update grant
            this.item.grant.element_id = element_id;

            // Spectrum. If only one for the element, do not show a dropdown
            await this.getSpectrumForElement(element_id);
            if (this.spectrums.length == 1) {
                var spectrum = this.spectrums[0];
                
                this.item.grant.spectrum_id = spectrum.id;
                if (spectrum.expires_at) {
                    var m = moment(spectrum.expires_at);
                    
                    // Cannot be "exactly" equal. David says this is a bug he will fix
                    m.subtract(60, 'seconds');
                    
                    this.expires_at_readable = m.format("MM/DD/YYYY HH:mm:ss");
                }
                else {
                    this.expires_at_readable = "";
                    this.item.grant.expires_at = null;
                }
            }
        },
        async getSpectrumForElement(element_id) {
            console.log("getSpectrumForElement", element_id);
            

            var payload = {
                page: 1,
                items_per_page: 65536,
                enabled: true,
                approved: true,
                deleted: false,
                element_id: element_id,
            };
            await this.$zoneStore.fetchSpectrums(payload);
            console.log("getSpectrumForElement", this.spectrums);
        },
        // The radio dropdowns have to match the current element's radios
        updateRadioPorts(element_id) {
            this.all_radio_ports = [];

            for (var i = 0; i < this.radios.length; i++) {
                var radio = this.radios[i];
                if (radio.element_id != element_id) {
                    continue;
                }
                for (var j = 0; j < radio.ports.length; j++) {
                    var port = radio.ports[j];

                    this.all_radio_ports.push({
                        id: port.id,
                        name: radio.name + "; "  + port.name
                    });
                }
            }
        },
        // Update grant when certain claim values change
        updateGrant(which) {
            console.log("ClaimEdit:updateGrant", which);
            this.item.grant[which] = this.item[which];
            console.log(this.item.grant);
        },
        addConstraint() {
            this.item.grant.constraints.push({
                constraint : {
                    min_freq:  null,
                    max_freq:  null,
                    min_eirp:  null,
                    max_eirp:  null,
                    exclusive: true,
                    bandwidth: 0,
                },
            });
        },
        removeConstraint(which) {
            if (this.item.grant.constraints.length == 1) {
                return;
            }
            this.item.grant.constraints = this.item.grant.constraints.filter(function (x) {
                return x != which;
            });
        },
        addRadio() {
            this.item.grant.radio_ports.push({
                radio_port_id: ""
            });
        },
        removeRadio(which) {
            if (this.item.grant.radio_ports.length == 0) {
                return;
            }
            this.item.grant.radio_ports = this.item.grant.radio_ports.filter(function (x) {
                return x != which;
            });
        },
        convertDates() {
            if (this.starts_at_readable != "") {
                this.item.grant.starts_at = moment(this.starts_at_readable).toISOString();
            }
            else {
                this.item.grant.starts_at = moment().toISOString();
            }
            if (this.expires_at_readable != "") {
                this.item.grant.expires_at = moment(this.expires_at_readable).toISOString();
            }
        },
        showError(err) {
            this.error = err;
            this.errorIsActive = true;
            clearError();
        },
        async action(which) {
            console.log("ClaimEdit:Action", which, this);
            if (which == "verify") {
                this.item.grant.status = "verified";
            }
            else if (which == "resume") {
                this.item.grant.status = "active";
            }
            else if (which == "pause") {
                this.item.grant.status = "paused";
            }
            else if (which == "deny") {
                this.item.grant.status = "denied";
            }
            await this.saveGrant();
        },
        async save() {
            console.log("ClaimEdit:Save")
            this.disabled = true
            this.convertDates();
            let data = await this.$claimsEndpoint
                .update(this.item.id, this.item, {}, this.showError);

            if (data) {
                this.notifyModified(data)
            }
            this.disabled = false
        },
        async saveGrant() {
            console.log("ClaimEdit:SaveGrant")
            this.disabled = true
            this.convertDates();
            let data = await this.$grantsEndpoint
                .update(this.item.grant.id, this.item.grant, {}, this.showError);
            this.disabled = false
        },
        async remove() {
            console.log("ClaimEdit:Delete")
            this.disabled = true
            await this.$claimsEndpoint
                .delete(this.item.id).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                }).then((resp) => {
                    this.disabled = false
                    if (this.is_admin) {
                        navigateTo('/admin/claims')
                    }
                    else {
                        navigateTo('/elements/" + this.item.element_id + "/claims')
                    }
                })
        },
        async submit() {
            console.log("ClaimEdit:Submit", this.item)
            this.disabled = true
            this.convertDates();
            let data = await this.$claimsEndpoint
                .create(this.item, {}, this.showError);
            if (data) {
                this.notifyCreated(data)
            }
            this.disabled = false
        },
        notifyModified(x) {
            console.log("ClaimEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("ClaimEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        },
        // Drives me nuts to have to type so many zeros
        frequencyChanged(freq) {
            if (freq < 10000) {
                return freq * 1000000;
            }
            return freq;
        },
        bandwidthChanged(bw) {
            if (bw < 100) {
                return bw * 1000000;
            }
            return bw;
        },
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        },
        radios: {
            handler(val) {
                console.log("watch radios", val, this.radios);
                // In edit mode, need to set the radio dropdowns to the element.
                if (!this.create) {
                    this.updateRadioPorts(this.item.element_id);
                }
            }
        }
    },
});
</script>
