<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Claims
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="claim"
            clearable
            density="compact"
            variant="outlined"
            hint="Search claim name, description, url"
            placeholder="Name, description, url"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="ext"
            clearable
            density="compact"
            variant="outlined"
            hint="Search external grant type, source"
            placeholder="Ext Type, Name"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="ext_id"
            clearable
            density="compact"
            variant="outlined"
            hint="Search external grant id"
            placeholder="Ext grant id"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="verified.value"
            :indeterminate="verified.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, verified)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Verified
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="denied.value"
            :indeterminate="denied.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, denied)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Denied
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/claims/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Create Claim</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.id="{ item }">
            <NuxtLink
              color="gray"
              :to="`/claims/${item.id}`"
              >
              <v-icon>mdi-clock-outline</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Claim</span>
              </v-tooltip>
            </NuxtLink>
            {{ item.name }}
          </template>
          <template v-slot:item.grant_id="{ item }">
            <NuxtLink
              v-if="item.grant_id"
              color="gray"
              :to="`/grants/${item.grant_id}`"
              >
              <v-icon>mdi-clock-outline</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Grant</span>
              </v-tooltip>
            </NuxtLink>
            {{ item.name }}
          </template>
          <template v-slot:item.ext_id="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.html_url"
                  color="gray"
                  :href="`${item.html_url}`"
                  nuxt target="_blank" rel="noopener"
                >
                  {{ item.ext_id }}
                </a>
                <span v-else>{{ item.ext_id }}</span>
              </template>
              <span>View User</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.constraints="{ item }">
            <v-chip
              v-if="item.grant?.constraints !== undefined && item.grant.constraints !== null && item.grant.constraints.length"
              v-for="constraint in item.grant.constraints"
              size="small"
            >
              {{ constraint.constraint.min_freq/1e6 + "-" + constraint.constraint.max_freq/1e6 }}
            </v-chip>
            <v-chip
              v-if="item.grant?.constraints !== undefined && item.grant.constraints !== null && item.grant.constraints.length"
              v-for="constraint in item.grant.constraints"
              size="small"
            >
              {{ constraint.constraint.max_eirp + "dBm" }}
            </v-chip>
            <v-chip
              v-if="item.grant?.constraints !== undefined && item.grant.constraints.length"
              v-for="constraint in item.grant.constraints"
              size="small"
            >
              {{ constraint.constraint.exclusive ? "exclusive" : "" }}
            </v-chip>
          </template>
          <template v-slot:item.starts_at="{ item }">
            {{ item.grant?.starts_at ? $moment.utc(item.grant.starts_at).fromNow() : '' }}
          </template>
          <template v-slot:item.expires_at="{ item }">
            {{ item.grant?.expires_at ? $moment.utc(item.grant.expires_at).fromNow() : '' }}
          </template>
          <template v-slot:item.verified_at="{ item }">
            {{ item.verified_at ? $moment.utc(item.verified_at).fromNow() : '' }}
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.denied_at="{ item }">
            {{ item.denied_at ? $moment.utc(item.denied_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
          <template v-slot:item.status="{ item }">
            {{ item.grant?.status ? item.grant?.status : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    name: 'ClaimList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            claim: '',
            ext: '',
            ext_id: '',
            verified: {
                value: true,
                indeterminate: true
            },
            denied: {
                value: true,
                indeterminate: true
            },
            deleted: false,
            headers: [
                { title: 'Claim', key: 'id', align: 'start', sortable: true },
                { title: 'Grant', key: 'grant_id', align: 'start', sortable: false },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'Starts', key: 'starts_at', sortable: true },
                { title: 'Expires', key: 'expires_at', sortable: true },
                { title: 'Status', key: 'status' },
                { title: 'Name', key: 'name', sortable: true },
                { title: 'Type', key: 'type', sortable: true },
                { title: 'Source', key: 'source', sortable: true },
                { title: 'Constraints', key: 'constraints' },
                { title: 'Ext Id', key: 'ext_id', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Verified', key: 'verified_at', sortable: true },
                { title: 'Denied', key: 'denied_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
            options: {
                itemsPerPage: this.itemsPerPage,
                page: this.page,
                sortBy: [{
                    key: 'updated_at',
                    order: 'asc'
                }]
            }
        }
    },
    async mounted() {
        console.log("claimlist:mounted", this.items);
    },
    computed: {
    },
    methods: {
        getElementNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getElementNameById(id)
            else
                return this.$userStore.getElementNameById(id)
        },
        getSpectrumNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getSpectrumNameById(id)
            else
                return id
        },
        notifyRefresh() {
            console.log("sort", this.options.sortBy)
            let event = {
                page: this.options.page,
                itemsPerPage: this.options.itemsPerPage,
            }
            if (this.claim) event['claim'] = this.claim
            if (this.ext) event['ext'] = this.ext
            if (this.ext_id) event['ext_id'] = this.ext_id
            if (!this.verified.indeterminate) {
                event['verified'] = this.verified.value
            }
            if (!this.denied.indeterminate) {
                event['denied'] = this.denied.value
            }
            event['deleted'] = this.deleted
            if (this.options.sortBy[0] !== undefined
                && this.options.sortBy[0].key) {
                event['sort'] = this.options.sortBy[0].key
                if (this.options.sortBy[0].order === 'asc')
                    event['sort_asc'] = true
            }
            this.$emit('needsUpdate', event)
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        }
    },
    watch: {
        options: {
            handler() {
                console.log("options changed")
                this.notifyRefresh()
            },
            deep: true
        }
    }
});
</script>
