<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Elements
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="5">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="element"
            clearable
            density="compact"
            variant="outlined"
            hint="Search element name, url, description"
            placeholder="Name, url, description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="enabled.value"
            :indeterminate="enabled.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, enabled)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Enabled
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="notifyRefresh()"
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            class="mt-1"
          />
        </v-col>
        <v-col cols="auto">
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/elements/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1"
                v-bind="props"
              />
            </template>
            <span>Create Element</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
          show-expand
        >
          <template v-slot:item.name="{ item }">
            <NuxtLink
              color="gray"
              :to="`/elements/${item.id}`"
              >
              <v-icon>mdi-antenna</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Element</span>
              </v-tooltip>
            </NuxtLink>
            <span>{{ getElementNameById(item.id) }}</span>
          </template>
          <template v-slot:item.enabled="{ item }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.approved_at="{ item }">
            {{ item.approved_at ? $moment.utc(item.approved_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
          <template v-slot:expanded-row="{ columns, item }">
            <tr>
              <td :colspan="columns.length">
                Description: {{ item.description }}
              </td>
            </tr>
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    name: 'ElementList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            element: '',
            deleted: '',
            enabled: {
                value: false,
                indeterminate: true,
            },
            headers: [
                { title: 'Element', key: 'name', align: 'start', sortable: true },
                { title: 'URL', key: 'html_url', sortable: true },
                { title: 'Enabled', key: 'enabled', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Approved', key: 'approved_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true },
                { title: 'Expand', key: 'data-table-expand' },
            ],
            options: {
                itemsPerPage: this.itemsPerPage,
                page: this.page,
                sortBy: [{
                    key: 'updated_at',
                    order: 'asc'
                }]
            }
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("sort", this.options.sortBy)
            let event = {
                page: this.options.page,
                itemsPerPage: this.options.itemsPerPage,
            }
            if (this.element) event['element'] = this.element
            if (this.deleted) event['deleted'] = this.deleted
            if (!this.enabled.indeterminate)
                event['enabled'] = this.enabled.value
            if (this.options.sortBy[0] !== undefined
                && this.options.sortBy[0].key) {
                event['sort'] = this.options.sortBy[0].key
                if (this.options.sortBy[0].order === 'asc')
                    event['sort_asc'] = true
            }
            this.$emit('needsUpdate', event)
        },
        indetCheckboxClick(evt, model) {
            //console.log("indetCheckboxClick:in", evt, model)
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
            //console.log("indetCheckboxClick:out", evt, model)
        }
    },
    watch: {
        options: {
            handler() {
                this.notifyRefresh()
            },
            deep: true
        }
    }
});
</script>
