<template>
  <v-form
    v-if="item"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Element</span>
        <span v-else>Edit Element <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.name"
                  label="Name"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.description"
                  clearable
                  label="Description"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.html_url"
                  clearable
                  label="URL"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="is_admin">
            <v-col class="py-0 px-0">
              <v-checkbox
                v-model="approved"
                label="Approved"
                density="compact"
                :disabled="item.approved_at != null"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                  v-model="item.enabled"
                  label="Enabled"
                  density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                  v-model="item.is_public"
                  label="Public"
                  density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this element?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="disabled"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this element?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
import { getElementNameById } from '~/lib/helpers'
import { formRules } from '~/lib/formrules'
import Confirm from '~/components/Confirm.vue'
import ErrorDialog from '~/components/ErrorDialog.vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'

export default defineComponent({
    name: 'ElementEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    emits: ['modified', 'created', 'dirty'],
    data() {
        return {
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            approved: null,
        }
    },
    async mounted() {
        console.log("ElementEdit:mounted")
        this.approved = this.item.approved_at != null ? true : false
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
    },
    methods: {
        async save() {
            console.log("ElementEdit:Save")
            this.disabled = true
            if (this.item.approved_at == null && this.approved)
                this.item.approved_at = new Date().toISOString()
            let data = await this.$elementsEndpoint
                .update(this.item.id,
                        this.item).catch((err) => {
                            this.error = err
                            this.errorIsActive = true
                            clearError()
                            return
                        })
            this.notifyModified(data)
            this.disabled = false
        },
        async remove() {
            console.log("ElementEdit:Delete")
            this.disabled = true
            await this.$elementsEndpoint.delete(this.item.id, this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
            })
            this.disabled = false
            navigateTo('/')
        },
        async submit() {
            this.disabled = true
            if (this.item.approved_at == null && this.approved)
                this.item.approved_at = new Date().toISOString()
            var resp = null
            let options = {
                headers: {
                    "X-Api-Token-Update": "true",
                },
                async onResponse({ response }) {
                    resp = response
                }
            }
            let data = await this.$elementsEndpoint.create(this.item, options).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })

            // NB: must update user token!
            // XXX: really we should only do this if we are the owner of the
            // new element.
            // NB: updated token will be response headers.
            let newToken = resp.headers.get('X-Api-Token') || null
            if (newToken) {
                console.log("updated token, refreshing user store")
                await this.$userStore.reinitWithToken(newToken)
            }
            this.notifyCreated(data)
            this.disabled = false
        },
        notifyModified(x) {
            console.log("ElementEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("ElementEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        }
    },
    watch: {
    }
});
</script>
