<template>
  <span v-if="when">
    <span>
      {{ $moment.utc(when).fromNow() }}
      <v-tooltip
        activator="parent"
        location="end"
        >
        <span>
          {{ $moment(when).format("YYYY-MM-DD hh:mm:ss A") }} ({{ when }})
        </span>
      </v-tooltip>
    </span>
    <span v-if="who">
      (<NuxtLink
         color="gray"
         :to="`/users/${who}`"
         >
        <v-icon>mdi-account</v-icon>
        <v-tooltip
          activator="parent"
          location="end"
          >
          <span>View User</span>
        </v-tooltip>
      </NuxtLink>)
    </span>
  </span>
  <span v-if="!when">&mdash;</span>
</template>

<script>
export default defineComponent({
    name: "FormattedTime",
    props: {
        when: {
            type: String,
            required: true,
        },
        who: {
            type: String,
            required: false,
        },
    },
    mounted() {
      console.log("Formatted Time:mounted", this)
    },
    data() {
    },
    methods: {
    },
});
</script>
