<template>
  <v-card v-if="item">
    <v-card-title>
      Grant <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/grants/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/grants/${item.id}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit Grant</v-tooltip>                    
        </NuxtLink>
        <span class="ml-1">
          <v-btn
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            @click="refreshGrant()"/></span>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>Description
            </td>
            <td>
              <span v-if="item.description != ''">{{ item.description }}</span>
              <span v-if="item.description == ''">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              ExtId
            </td>
            <td>
              {{ item.ext_id }}
            </td>
          </tr>
          <tr>
            <td>
              URL
            </td>
            <td>
              <span v-if="item.html_url">
                <NuxtLink
                  color="gray"
                  :to="`${item.html_url}`"
                >
                  {{ item.html_url }}
                </NuxtLink>
              </span>
              <span v-else>&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Starts
            </td>
            <td>
              <FormattedTime :when="item.starts_at"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Expires
            </td>
            <td>
              <FormattedTime :when="item.expires_at"></FormattedTime>
            </td>
          </tr>
          <tr v-if="item.is_claim">
            <td>
              Claim
            </td>
            <td>
              <v-icon>mdi-check</v-icon>
            </td>
          </tr>
          <tr>
            <td>
              Priority
            </td>
            <td>
              {{ item.priority }}
            </td>
          </tr>
          <tr>
            <td>
              Status
            </td>
            <td>
              {{ item.status }}
            </td>
          </tr>
          <tr>
            <td>
              Op Status
            </td>
            <td>
              {{ item.op_status }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Approved
            </td>
            <td>
              <FormattedTime
                :when="item.approved_at" :who="item.approver_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Denied
            </td>
            <td>
              <FormattedTime
                :when="item.denied_at" :who="item.denier_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Revoked
            </td>
            <td>
              <FormattedTime
                :when="item.revoked_at" :who="item.revoker_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
          <tr v-if="item.replacement">
            <td>
              Replaced by
            </td>
            <td>
              <NuxtLink
                color="gray"
                :to="`/grants/${item.replacement.new_grant_id}`"
                nuxt
                >{{item.replacement.new_grant_id}}
              </NuxtLink>
            </td>
          </tr>
          <tr v-if="item.replaces">
            <td>
              Replaces
            </td>
            <td>
              <NuxtLink
                color="gray"
                :to="`/grants/${item.replaces.grant_id}`"
                nuxt
                >{{item.replaces.grant_id}}
              </NuxtLink>
            </td>
          </tr>
          <tr>
            <td>
              Heartbeats
            </td>
            <td>
              <span v-if="item.allow_skip_acks">No</span>
              <span v-if="!item.allow_skip_acks">Yes
                (next by:
                <span>
                  {{ $moment.utc(item.status_ack_by).fromNow() }})
                  <v-tooltip
                    activator="parent"
                    location="end"
                    >
                    <span>{{ $moment(item.status_ack_by).format("LTS") }}</span>
                  </v-tooltip>
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-divider v-if="item.logs"></v-divider>
      <div
        v-if="item.logs"
        class="d-flex justify-center"
      >
        <span class="text-subtitle-1">Logs</span>
      </div>
      <v-data-table-virtual
        v-if="item.logs"
        density="compact"
        class="v-data-table-compact-harder"
        style="border: thin solid lightgray"
        :headers="logHeaders"
        :items="item.logs"
      >
        <template v-slot:item.created_at="{ item }">
          {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
        </template>
      </v-data-table-virtual>
      <v-divider></v-divider>
      <div class="d-flex justify-center">
        <span class="text-subtitle-1">Constraints</span>
      </div>
      <v-data-table-virtual
        density="compact"
        class="v-data-table-compact-harder"
        style="border: thin solid lightgray"
        :headers="constraintHeaders"
        :items="item.constraints"
      ></v-data-table-virtual>
      <v-divider></v-divider>
      <div
        v-if="item.int_constraints !== null"
        class="d-flex justify-center">
        <span class="text-subtitle-1">Interference Constraints</span>
      </div>
      <v-data-table-virtual
        v-if="item.int_constraints !== null"
        density="compact"
        class="v-data-table-compact-harder"
        style="border: thin solid lightgray"
        :headers="intConstraintHeaders"
        :items="item.int_constraints"
      ></v-data-table-virtual>
      <v-divider></v-divider>
      <div
        v-if="item.rt_int_constraints !== null"
        class="d-flex justify-center">
        <span class="text-subtitle-1">Runtime Interference Constraints</span>
      </div>
      <v-data-table-virtual
        v-if="item.rt_int_constraints !== null"
        density="compact"
        class="v-data-table-compact-harder"
        style="border: thin solid lightgray"
        :headers="rtIntConstraintHeaders"
        :items="item.rt_int_constraints"
      ></v-data-table-virtual>
      <v-divider></v-divider>
      <div class="d-flex justify-center">
        <span class="text-h6 mt-2">Radio Ports</span>
      </div>
      <v-container v-if="item.radio_ports">
        <v-row
          v-for="port in item.radio_ports"
          :key="port.id"
          >
          <v-col>
            <RadioPort :item="port.radio_port"></RadioPort>
          </v-col>
        </v-row>
      </v-container>
      <v-container v-if="propsimPowerGrant">
        <PropsimPowerGrant :item="propsimPowerGrant"></PropsimPowerGrant>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
  import { getElementNameById } from '~/lib/helpers'
  import RadioPort from '~/components/RadioPort.vue'
  import PropsimPowerGrant from '~/components/PropsimPowerGrant.vue'
  import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
export default defineComponent({
    name: 'Grant',
    props: {
        item: {
            type: Object,
            required: true
        },
        propsimPowerGrant: {
            type: Object,
            required: false
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            constraintHeaders: [
                { title: 'Min Freq', key: 'min_freq',
                  value: item => (item.constraint.min_freq / 1000000) + " MHZ",
                },
                { title: 'Max Freq', key: 'max_freq',
                  value: item => (item.constraint.max_freq / 1000000) + " MHZ",
                },
                { title: 'Min EIRP', key: 'min_eirp',
                  value: item => item.constraint.min_eirp != null ?
                  item.constraint.min_eirp : "--",
                },
                { title: 'Max EIRP', key: 'max_eirp',
                  value: item => item.constraint.max_eirp != null ?
                  item.constraint.max_eirp : "--",
                },
                { title: 'Exclusive', key: 'exclusive',
                  value: item => item.constraint.exclusive ? "Yes" : "No",
                },
                { title: 'Bandwidth', key: 'bandwidth',
                  value: item => item.constraint.bandwidth != null ?
                  item.constraint.bandwidth + " HZ" : "--",
                },
            ],
            intConstraintHeaders: [
                { title: 'Name', key: 'name',
                  value: item => item.int_constraint.name,
                },
                { title: 'Description', key: 'description',
                  value: item => item.int_constraint.description,
                },
                { title: 'Max Power', key: 'max_power',
                  value: item => item.int_constraint.max_power ? item.int_constraint.max_power : "--",
                },
                { title: 'Area', key: 'area_id',
                  value: item => item.int_constraint.area_id,
                },
            ],
            rtIntConstraintHeaders: [
                { title: 'Name', key: 'name',
                  value: item => item.rt_int_constraint.name,
                },
                { title: 'Metric', key: 'metric',
                  value: item => item.rt_int_constraint.metric,
                },
                { title: 'Comparator', key: 'comparator',
                  value: item => item.rt_int_constraint.comparator,
                },
                { title: 'Value', key: 'value',
                  value: item => item.rt_int_constraint.value,
                },
                { title: 'Aggregator', key: 'aggregator',
                  value: item => item.rt_int_constraint.aggregator,
                },
                { title: 'Period', key: 'period',
                  value: item => item.rt_int_constraint.period,
                },
                { title: 'Criticality', key: 'criticality',
                  value: item => item.rt_int_constraint.criticality,
                },
                { title: 'Description', key: 'description',
                  value: item => item.rt_int_constraint.description,
                },
            ],
            logHeaders: [
                { title: 'Created At', key: 'created_at',
                  //value: item => (item.constraint.min_freq / 1000000) + "MHZ",
                },
                { title: 'Status', key: 'status',
                  value: item => item.status,
                },
                { title: 'Op Status', key: 'op_status',
                  value: item => item.op_status,
                },
                { title: 'Message', key: 'message',
                  value: item => item.message,
                },
            ],
        }
    },
    emits: ['refresh'],
    async mounted() {
        console.log("Grant:mounted")
    },
    methods: {
        refreshGrant() {
            console.log("refreshGrant")
            this.$emit('refresh')
        }
    },
    watch: {
    }
});
</script>
