<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Grant Alarms
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.name"
            clearable
            density="compact"
            variant="outlined"
            hint="Search grant alarm name"
            placeholder="Name"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.alarming.value"
            :indeterminate="filters.alarming.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.alarming)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Alarming
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="resetFilters()"
            size="x-small"
            icon="mdi-eraser"
            variant="outlined"
            class="mt-1">
            <v-icon>mdi-eraser</v-icon>
            <v-tooltip
              activator="parent"
              location="bottom"
              >Reset filter parameters</v-tooltip>
          </v-btn>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          class="v-data-table-compact-harder"
          :headers="headers"
          :items="items"
          :items-length="total"
          :items-per-page="options.itemsPerPage"
          @update:options="optionsUpdated()"
          dense
        >
          <template v-slot:item.id="{ item }">
            {{ item.name }}&nbsp;
            <NuxtLink
              color="gray"
              :to="`/alarms/grants/${item.id}`"
              >
              <v-icon>mdi-alarm</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Alarm</span>
              </v-tooltip>
            </NuxtLink>
          </template>
          <template v-slot:item.grant_id="{ item }">
            <NuxtLink
              color="gray"
              :to="`/grants/${item.grant_id}`"
              >
              <v-icon>mdi-clock-outline</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Grant</span>
              </v-tooltip>
            </NuxtLink>
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.spectrum_id="{ item }">
            {{ getSpectrumNameById(item.spectrum_id) }}
          </template>
          <template v-slot:item.alarming="{ item }">
            {{ item.alarming ? 'Yes' : 'No' }}
          </template>
          <template v-slot:item.current_value="{ item }">
            {{ item.current_value }}
          </template>
          <template v-slot:item.value="{ item }">
            {{ item.value }}
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'GrantAlarmList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        initialFilters: {
            type: Object,
            required: true,
        },
        initialOptions: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            filters: this.initialFilters,
            options: this.initialOptions,

            headers: [
                { title: 'Alarm', key: 'id', align: 'start', sortable: true },
                { title: 'Grant', key: 'grant_id', sortable: true },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'Spectrum', key: 'spectrum_id', sortable: true },
                { title: 'Alarming', key: 'alarming', sortable: true },
                { title: 'Current Value', key: 'current_value', sortable: true },
                { title: 'Value', key: 'value', sortable: true },
                { title: 'Metric', key: 'metric' },
                { title: 'Comparator', key: 'comparator' },
                { title: 'Threshold', key: 'threshold' },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
        }
    },
    async mounted() {
        console.log("grantAlarmList:mounted", this.items);
    },
    computed: {
    },
    methods: {
        getSpectrumNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getSpectrumNameById(id)
            else
                return id
        },
        notifyRefresh() {
            let event = {
                filters: this.filters,
                options: this.options,
            }
            this.$emit('needsUpdate', event)
        },
        resetFilters() {
            this.filters.name = "";
            this.filters.alarming.indeterminate = true;
            this.filters.alarming.value = true;
            this.filters.deleted = false;
            this.notifyRefresh();
        },
        optionsUpdated() {
            console.log("grantAlarmList: options changed")
            this.notifyRefresh()
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        },
    },
    watch: {
    }
});
</script>
