<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Grants
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.grant"
            clearable
            density="compact"
            variant="outlined"
            hint="Search grant name, description"
            placeholder="Name, description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.approved.value"
            :indeterminate="filters.approved.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.approved)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Approved
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.owner_approved.value"
            :indeterminate="filters.owner_approved.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.owner_approved)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Owner Approved
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.current.value"
            :indeterminate="filters.current.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.current)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Current
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.denied.value"
            :indeterminate="filters.denied.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.denied)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Denied
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.revoked.value"
            :indeterminate="filters.revoked.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.revoked)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Revoked
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.claim"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Claim
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.deleted"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="resetFilters()"
            size="x-small"
            icon="mdi-eraser"
            variant="outlined"
            class="mt-1">
            <v-icon>mdi-eraser</v-icon>
            <v-tooltip
              activator="parent"
              location="bottom"
              >Reset filter parameters</v-tooltip>
          </v-btn>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/grants/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Create Grant</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          class="v-data-table-compact-harder"
          :headers="headers"
          :items="items"
          :items-length="total"
          :items-per-page="options.itemsPerPage"
          @update:options="optionsUpdated()"
          dense
        >
          <template v-slot:item.id="{ item }">
            <NuxtLink
              color="gray"
              :to="`/grants/${item.id}`"
              >
              <v-icon>mdi-clock-outline</v-icon>
              <v-tooltip
                activator="parent"
                location="end"
                >
                <span>View Grant</span>
              </v-tooltip>
            </NuxtLink>
            {{ item.name }}
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.spectrum_id="{ item }">
            {{ getSpectrumNameById(item.spectrum_id) }}
          </template>
          <template v-slot:item.constraints="{ item }">
            <v-chip
              v-if="item.constraints !== undefined && item.constraints !== null && item.constraints.length"
              v-for="constraint in item.constraints"
              size="small"
            >
              {{ constraint.constraint.min_freq/1e6 + "-" + constraint.constraint.max_freq/1e6 }}
            </v-chip>
            <v-chip
              v-if="item.constraints !== undefined && item.constraints !== null && item.constraints.length"
              v-for="constraint in item.constraints"
              size="small"
            >
              {{ constraint.constraint.max_eirp + "dBm" }}
            </v-chip>
            <v-chip
              v-if="item.constraints !== undefined && item.constraints.length"
              v-for="constraint in item.constraints"
              size="small"
            >
              {{ constraint.constraint.exclusive ? "exclusive" : "" }}
            </v-chip>
          </template>
          <template v-slot:item.radio_ports="{ item }">
            <span
              v-if="item.radio_ports !== undefined"
            >
              {{ item.radio_ports.length }}
            </span>
          </template>
          <template v-slot:item.approved_at="{ item }">
            {{ item.approved_at ? $moment.utc(item.approved_at).fromNow() : '' }}
          </template>
          <template v-slot:item.owner_approved_at="{ item }">
            {{ item.owner_approved_at ? $moment.utc(item.owner_approved_at).fromNow() : '' }}
          </template>
          <template v-slot:item.starts_at="{ item }">
            {{ item.starts_at ? $moment.utc(item.starts_at).fromNow() : '' }}
          </template>
          <template v-slot:item.expires_at="{ item }">
            {{ item.expires_at ? $moment.utc(item.expires_at).fromNow() : '' }}
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.denied_at="{ item }">
            {{ item.denied_at ? $moment.utc(item.denied_at).fromNow() : '' }}
          </template>
          <template v-slot:item.revoked_at="{ item }">
            {{ item.revoked_at ? $moment.utc(item.revoked_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'GrantList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        initialFilters: {
            type: Object,
            required: true,
        },
        initialOptions: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            filters: this.initialFilters,
            options: this.initialOptions,

            headers: [
                { title: 'Grant', key: 'id', align: 'start', sortable: true },
                { title: 'Element', key: 'element_id', sortable: true },
                { title: 'Description', key: 'description' },
                { title: 'Starts', key: 'starts_at', sortable: true },
                { title: 'Expires', key: 'expires_at', sortable: true },
                { title: 'Status', key: 'status' },
                { title: 'Op Status', key: 'op_status' },
                { title: 'Spectrum', key: 'spectrum_id', sortable: true },
                { title: 'Constraints', key: 'constraints' },
                { title: 'Radio Ports', key: 'radio_ports' },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
                { title: 'Approved', key: 'approved_at', sortable: true },
                { title: 'Owner Approved', key: 'owner_approved_at', sortable: true },
                { title: 'Denied', key: 'denied_at', sortable: true },
                { title: 'Revoked', key: 'revoked_at', sortable: true },
                { title: 'Deleted', key: 'deleted_at', sortable: true }
            ],
        }
    },
    async mounted() {
        console.log("grantlist:mounted", this.items);
    },
    computed: {
    },
    methods: {
        getSpectrumNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getSpectrumNameById(id)
            else
                return id
        },
        notifyRefresh() {
            let event = {
                filters: this.filters,
                options: this.options,
            }
            this.$emit('needsUpdate', event)
        },
        resetFilters() {
            this.filters.grant = "";
            this.filters.approved.indeterminate = true;
            this.filters.approved.value = true;
            this.filters.owner_approved.indeterminate = true;
            this.filters.owner_approved.value = true;
            this.filters.denied.indeterminate = true;
            this.filters.denied.value = true;
            this.filters.revoked.indeterminate = true;
            this.filters.revoked.value = true;
            this.filters.current.indeterminate = true;
            this.filters.current.value = true;
            this.filters.deleted = false;
            this.filters.claim = false;
            this.notifyRefresh();
        },
        optionsUpdated() {
            console.log("grantlist: options changed")
            this.notifyRefresh()
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        },
    },
    watch: {
    }
});
</script>
