<template>
  <v-card>
    <v-card-title
      v-if="title"
    >
      IdP Identity
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table
        style="border: thin solid lightgray"
        density="compact"
      >
        <tbody>
          <tr
            v-if="item.idp"
          >
            <td>
              Idp
            </td>
            <td>
              {{ item.idp }}
            </td>
          </tr>
          <tr
            v-if="item.iss"
          >
            <td>
              Iss
            </td>
            <td>
              {{ item.iss }}
            </td>
          </tr>
          <tr
            v-if="item.sub"
          >
            <td>
              Sub
            </td>
            <td>
              {{ item.sub }}
            </td>
          </tr>
          <tr
            v-if="item.aud"
          >
            <td>
              Aud
            </td>
            <td>
              {{ item.aud }}
            </td>
          </tr>
          <tr>
            <td>
              Email Address
            </td>
            <td>
              {{ item.email_address }}
            </td>
          </tr>
          <tr
            v-if="item.name"
          >
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'IdpIdentity',
    props: {
        item: {
            type: Object,
            required: true
        },
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
    }
});
</script>
