<template>
  <div v-if="observation">
    <div class="d-flex justify-center">
      <div class="d-flex align-center">
      <span class="text-h6">
        Kurtosis (live)</span>
        <v-checkbox-btn
          v-if="zoneViewer"
          class="ml-2"
          style="font-size: 0.6rem"
          v-model="rfsViewAll"
          inline
          density="compact"
          hide-details="true"
          @update:model-value="notifyRFSmode()">
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Show All RFS Monitors
              </span>
            </template>
        </v-checkbox-btn>
      </div>
    </div>
    <div class="frequency-graph kurtosis-graph-maingraph"
         style="display:none;">
      <v-container class="pt-0">
        <v-row>
          <v-col cols="12">
            <div style="height: 600px;"
                 class='echarts-container' />
          </v-col>
        </v-row>         
      </v-container>
      <div class="popover-container" style="display:none;">
        <div>
          <table class="popover-content">
            <tbody>
              <tr style="display: none">
                <td>Monitor:</td>
                <td class="tooltip-monitor"></td>
              </tr>
              <tr>
                <td>Frequency:</td>
                <td class="tooltip-frequency"></td>
              </tr>
              <tr>
                <td>Created:</td>
                <td class="tooltip-created"></td>
              </tr>
              <tr>
                <td>Kurtosis:</td>
                <td class="tooltip-kurtosis"></td>
              </tr>
              <tr>
                <td>Power::</td>
                <td class="tooltip-power"></td>
              </tr>
              <tr>
                <td>Center Freq:</td>
                <td class="tooltip-center"></td>
              </tr>
              <tr>
                <td>Above Floor:</td>
                <td class="tooltip-floor"></td>
              </tr>
              <tr>
                <td>Violation:</td>
                <td class="tooltip-violation"></td>
              </tr>
              <tr>
                <td>Interference:</td>
                <td class="tooltip-interference"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
 .popover-content {
   margin: 0px;
   padding: 0px;
   border: 0px solid #ccc;
 }
 .popover-content table > thead > tr > th,
 .popover-content table > tbody > tr > th,
 .popover-content table > thead > tr > td,
 .popover-content table > tbody > tr > td {
   padding: 1px;
   border: none !important;
   font-size: 14px;
   height: 16px !important;
 }
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import createKurtosisGraph from '~/components/KurtosisGraph'
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'

export default defineComponent({
    name: 'Kurtosis',
    props: {
        observation: {
            type: Object,
            required: true
        },
        zoneViewer: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    // From the zone status page only
    emits: ['rfsViewAll'],    
    data() {
        return {
            addDots: null,
            monitors: {},
            // Zone status viewer only
            rfsViewAll: false,
        }
    },
    async mounted() {
        console.log("Kurtosis mounted");
        await this.getMonitor(this.observation.monitor_id);
        this.addDots = createKurtosisGraph(this.observation, this.monitor);
    },
    computed: {
        ...mapState(zoneStore, {
            monitor: (state) => state.monitor.monitor
        }),
    },
    methods: {
        async getMonitor(monitor_id) {
            if (monitor_id in this.monitors) {
                return this.monitors[monitor_id];
            }
            await this.$zoneStore.fetchMonitor(monitor_id);
            this.monitors[monitor_id] = this.monitor;
        },
        async addObservation() {
            var monitor_id = this.observation.monitor_id;
            await this.getMonitor(monitor_id);
            this.addDots(this.observation, this.monitors[monitor_id]);
        },
        notifyRFSmode() {
            console.log("Kurtosis:notifyRFSmode")
            let event = {
                mode: this.rfsViewAll,
            }
            this.$emit('rfsViewAll', event)
        },
    },
    watch: {
        observation: {
            handler(val) {
                console.log("observation updated", val);
                this.addObservation();
            }
        },
    },
});
</script>
