<template>
  <v-card v-if="item">
    <v-card-title>
      Location <i>{{ item.name }}</i> ({{item.id}})
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/locations/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Location</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>
              SRID
            </td>
            <td>
              {{ item.srid }}
            </td>
          </tr>
          <tr>
            <td>
              X
            </td>
            <td>
              {{ item.x }}
            </td>
          </tr>
          <tr>
            <td>
              Y
            </td>
            <td>
              {{ item.y }}
            </td>
          </tr>
          <tr>
            <td>
              Z
            </td>
            <td>
              {{ item.z }}
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-container class="mt-4">
        <v-row justify=center>
          <v-col cols=10>
            <div style="height:600px">
              <l-map ref="map"
                     v-model:zoom="zoom"
                     :center="[item.y, item.x]"
                     :use-global-leaflet="false"
              >
                <l-tile-layer
                  url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                  layer-type="base"
                  attribution='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  name="OpenStreetMap"
                  ></l-tile-layer>
                <l-marker :lat-lng="markerCoords"></l-marker>
              </l-map>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import 'leaflet/dist/leaflet.css'
import { LMap, LTileLayer, LMarker } from '@vue-leaflet/vue-leaflet'
  
export default defineComponent({
    name: 'Location',
    components: {
        LMap,
        LTileLayer,
        LMarker,
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            zoom: 18,
        }
    },
    async mounted() {
        console.log("Location:mounted")
    },
    computed: {
        markerCoords() {
            return [this.item.y, this.item.x];
        },
    },
    methods: {
    },
    watch: {
    }
});
</script>
