<template>
  <v-card>
    <v-card-title>
      Login
    </v-card-title>
    <v-card-text
      align="center"
    >
      <v-list
        max-width="768"
      >
        <v-list-item
          align="center"
          v-if="errorMessage"
        >
          <v-alert
            :text="errorMessage"
            type="error"
          ></v-alert>
        </v-list-item>
        <v-list-item
          align="center"
          v-if="ssoEnabled"
        >
          <p><i>Single Sign On</i></p>
          <v-btn
            class="bg-primary mt-4"
            v-if="githubEnabled"
            @click="ssoLogin('github')"
          >
            GitHub&nbsp;&nbsp;<v-icon size="small">mdi-github</v-icon>
          </v-btn>
          <v-divider
            v-if="googleEnabled"
            class="pa-4"
            vertical
          ></v-divider>
          <v-btn
            class="bg-primary mt-4"
            v-if="googleEnabled"
            @click="ssoLogin('google')"
          >
            Google&nbsp;&nbsp;<v-icon size="small">mdi-google</v-icon>
          </v-btn>
          <v-divider
            v-if="cilogonEnabled"
            class="pa-4"
            vertical
          ></v-divider>
          <v-btn
            class="bg-primary mt-4"
            v-if="cilogonEnabled"
            @click="ssoLogin('cilogon')"
          >
            CILogon&nbsp;&nbsp;<v-icon size="small">mdi-login</v-icon>
          </v-btn>
        </v-list-item>
        <v-divider
          v-if="ssoEnabled"
          class="mt-3"
        ></v-divider>
        <v-list-item align="center">
          <v-form
            v-model="directLoginValid"
            fast-fail
            @submit.prevent
          >
            <v-container>
              <v-row align="center" style="width: 174px">
                <v-col cols="12">
                  <i>Credentials</i>
                </v-col>
              </v-row>
              <v-row align="center">
                <v-col cols="12">
                  <v-text-field
                    v-model="directLoginUsername"
                    :rules="[rules.validUsername]"
                    label="Username"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row align="center">
                <v-col cols="12">
                  <v-text-field
                    v-model="directLoginPassword"
                    :rules="[rules.validPassword]"
                    label="Password"
                    type="password"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row align="center">
                <v-col cols="12">
                  <v-btn
                    :disabled="!directLoginValid"
                    type="submit"
                    class="bg-primary"
                    @click="() => { if (directLoginValid) { directLogin() } }"
                  >Login</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { formRules } from '~/lib/formrules'
</script>

<script>
const authErrorMessageMap = {
    Signin: "Try signing in with a different account.",
    OAuthSignin: "Try signing in with a different account.",
    OAuthCallback: "Try signing in with a different account.",
    OAuthCreateAccount: "Try signing in with a different account.",
    EmailCreateAccount: "Try signing in with a different account.",
    Callback: "Try signing in with a different account.",
    OAuthAccountNotLinked:
      "To confirm your identity, sign in with the same account you used originally.",
    EmailSignin: "The e-mail could not be sent.",
    CredentialsSignin: "Sign in failed. Please check your credentials and try again.",
    SessionRequired: "Please sign in to access this page.",
}

export default defineComponent({
    name: 'Login',
    data() {
        return {
            initialError: null,
            initialCallbackUrl: null,
            errorMessage: '',
            directLoginValid: false,
            directLoginUsername: '',
            directLoginPassword: '',
            rules: formRules(),
        }
    },
    mounted() {
        // Handle a query error from a redirect from auth middleware into
        // this page.
        let qError = this.$route.query.error
        if (!this.initialError && qError) {
            this.initialError = qError
            this.loginHandler(qError, null)
        }
        let qCallbackUrl = this.$route.query.callbackUrl
        if (!this.initialCallbackUrl)
            this.initialCallbackUrl = qCallbackUrl
    },
    computed: {
        isLoggedIn() {
            return this.$auth.status.value === 'authenticated'
        },
        ssoEnabled() {
            return this.$config.public.githubEnabled
                || this.$config.public.googleEnabled
                ||this.$config.public.cilogonEnabled
        },
        githubEnabled() {
            return this.$config.public.githubEnabled
        },
        googleEnabled() {
            return this.$config.public.googleEnabled
        },
        cilogonEnabled() {
            return this.$config.public.cilogonEnabled
        },
    },
    methods: {
        async loginHandler(error, url) {
            if (error) {
                console.log("Login: error", error)
                if (error in authErrorMessageMap)
                    this.errorMessage = authErrorMessageMap[error]
                else
                    this.errorMessage = "Unknown error from authentication procedure."
            }
            else {
                // Because this page's auth methods disable auth redirects,
                // the page is not reloaded, the server middleware
                // (plugins/50.auth.js) does not populate the $userStore
                // with our session data (e.g. token), so we must manually
                // populate the $userStore with session data.
                console.log("Login:loginHandler:success")

                let sessionData = await this.$auth.getSession()
                let resp = await this.$userStore.initUserFromSession(
                    sessionData.token.user_id, sessionData.token)
                navigateTo('/')
            }
        },
        async ssoLogin(method) {
            const { error, url } = await this.$auth.loginWith(method, { redirect: false })
            this.loginHandler(error, url)
        },
        async directLogin() {
            let data = {
                username: this.directLoginUsername,
                password: btoa(Array.from(new TextEncoder().encode(this.directLoginPassword), (byte) => String.fromCodePoint(byte)).join("")),
                redirect: false
            }
            const { error, url } = await this.$auth.loginWith('credentials', data)
            this.loginHandler(error, url)
        },
    },
})
</script>
