<template>
  <v-card v-if="item">
    <v-card-title>
      Monitor <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/monitors/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/monitors/${item.id}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit Monitor</v-tooltip>                    
        </NuxtLink>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>Description
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
          <tr>
            <td>
              Device Id
            </td>
            <td>
              {{ item.device_id }}
            </td>
          </tr>
          <tr>
            <td>Types
            </td>
            <td>
              {{ item.types }}
            </td>
          </tr>
          <tr>
            <td>Formats
            </td>
            <td>
              {{ item.formats }}
            </td>
          </tr>
          <tr>
            <td>
              Enabled
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.enabled"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Exclusive
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.exclusive"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Observations
            </td>
            <td>
              <NuxtLink
                color="gray"
                :to="`/admin/observations?monitor_id=${item.id}`"
                >
                <v-icon>mdi-file-eye</v-icon>
                <v-tooltip
                  activator="parent"
                  location="end"
                  >Observations for this monitor</v-tooltip>                    
              </NuxtLink>
              <NuxtLink class="ml-2"
                color="gray"
                :to="`/monitors/${item.id}/viewer`"
                >
                <v-icon>mdi-movie-play</v-icon>
                <v-tooltip
                  activator="parent"
                  location="end"
                  >Realtime observation viewer for this monitor</v-tooltip>
              </NuxtLink>
              <NuxtLink v-if="item.formats == 'rfs-csv-inline'"
                class="ml-2"
                color="gray"
                :to="`/monitors/${item.id}/rfs-viewer`"
                >
                <v-icon>mdi-movie-roll</v-icon>
                <v-tooltip
                  activator="parent"
                  location="end"
                  >Realtime kurtosis value viewer for this monitor</v-tooltip>
              </NuxtLink>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-container class="mt-1 py-0">
        <RadioPort :item="item.radio_port"
                   :editable="editable"></RadioPort>
      </v-container>
      <v-container v-if="item.monitored_radio_port" class="mt-1 py-0">
        <div class="d-flex justify-center">
          <span class="text-h6 mt-1">Monitored Radio Port</span>
        </div>
        <RadioPort :item="item.monitored_radio_port"
                   :editable="editable"></RadioPort>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
  import { getElementNameById } from '~/lib/helpers'
  import RadioPort from '~/components/RadioPort.vue'
  import FormattedTime from '~/components/FormattedTime.vue'
  import { mapState } from 'pinia'
  import { zoneStore } from '~/stores/zone'
</script>

<script>
export default defineComponent({
    name: 'Monitor',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("Monitor:mounted")
    },
    computed: {
    },
    methods: {
    },
    watch: {
    }
});
</script>
