<template>
  <v-form
    v-if="item"
    v-model="isFormValid"
  >
    <v-card>
      <v-card-title>
        <span v-if="create">New Monitor</span>
        <span v-else>Edit Monitor <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
          style="font-size: 0.85rem"
          class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                @update:modelValue="changeElement"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="myelementname"
                  readonly
                  label="Element"
                  variant="outlined"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.name"
                  label="Name"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.description"
                  clearable
                  label="Description"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.formats"
                  clearable
                  label="Formats"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="item.types"
                  clearable
                  label="Types"
                  variant="outlined"
                  density="compact"
                  :rules="[rules.required, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.radio_port_id"
                :items="all_radio_ports"
                item-title="name"
                item-value="id"
                label="Radio Port"
                variant="outlined"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.monitored_radio_port_id"
                :items="all_radio_ports"
                item-title="name"
                item-value="id"
                label="Monitored Radio Port"
                variant="outlined"
                density="compact"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                  v-model="item.enabled"
                  label="Enabled"
                  density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                  v-model="item.exclusive"
                  label="Exclusive"
                  density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <div v-if="create">
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Create
            <Confirm activator="parent"
                     message="Are you sure you want to create this monitor?"
                     @confirmed="submit">
            </Confirm>
            
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            color="white"
            class="px-3 bg-success"
            background="success"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Save
            <Confirm activator="parent"
                     message="Are you sure you want to save these changes?"
                     @confirmed="save">
            </Confirm>
          </v-btn>
          <v-btn
            color="white"
            class="px-3 bg-warning ml-6"
            background="warning"
            elevation="2"
            :disabled="!isFormValid || disabled"
            >
            Delete
            <Confirm activator="parent"
                     message="Are you sure you want to delete this monitor?"
                     @confirmed="remove">
            </Confirm>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-form>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script>
  import { mapState } from 'pinia'
  import { clientStore } from '~/stores/client'
  import { zoneStore } from '~/stores/zone'
  import { formRules } from '~/lib/formrules'
  import Confirm from '~/components/Confirm.vue'
  import ErrorDialog from '~/components/ErrorDialog.vue'
  import moment from 'moment'  
  import { getElementNameById } from '~/lib/helpers'

export default defineComponent({
    name: 'MonitorEdit',
    components: {
        Confirm: () => import("@/components/Confirm")
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    data() {
        return {
            isFormValid: false,
            disabled: false,
            rules: formRules(),
            errorIsActive: false,
            error: null,
            unsaved: false,
            all_radio_ports: [],
        }
    },
    emits: ['modified', 'created'],
    async mounted() {
        console.log("MonitorEdit:mounted")
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            approved: true,
            deleted: false,
        };
        if (!this.create) {
            payload["element_id"] = this.item.element_id
        }
        await this.$zoneStore.fetchRadios(payload);
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        allElements() {
            if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
        ...mapState(zoneStore, {
            radios: (state) => state.radios.radios
        }),
        myelementname() {
            return getElementNameById(this.item.element_id);
        },
    },
    methods: {
        // When changing elements, need to rewrite the set of radios that
        // can be used in the radio dropdowns.
        changeElement(element_id) {
            console.log("changeElement", element_id);
            this.updateRadioPorts(element_id);
            // Zap the radios, forcing the user to start over.
            this.item.radio_ports = [];
        },
        // The radio dropdowns have to match the current element's radios
        updateRadioPorts(element_id) {
            this.all_radio_ports = [];

            for (var i = 0; i < this.radios.length; i++) {
                var radio = this.radios[i];
                if (radio.element_id != element_id) {
                    continue;
                }
                for (var j = 0; j < radio.ports.length; j++) {
                    var port = radio.ports[j];

                    this.all_radio_ports.push({
                        id: port.id,
                        name: radio.name + "; "  + port.name
                    });
                }
            }
        },
        async save() {
            console.log("MonitorEdit:Save")
            this.disabled = true
            let data = await this.$monitorsEndpoint
                .update(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            if (!this.errorIsActive) {
                this.notifyModified(data)
            }
            this.disabled = false
        },
        async remove() {
            console.log("MonitorEdit:Delete")
            this.disabled = true
            await this.$monitorsEndpoint
                .delete(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            if (!this.errorIsActive) {
                navigateTo('/')
            }
        },
        async submit() {
            console.log("MonitorEdit:submit", this.item)
            this.disabled = true
            let data = await this.$monitorsEndpoint.create(this.item)
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            if (!this.errorIsActive) {
                this.notifyCreated(data)
            }
            this.disabled = false
        },
        notifyModified(x) {
            console.log("MonitorEdit:notifyModified", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("MonitorEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        }
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        },
        radios: {
            handler(val) {
                console.log("watch radios", val, this.radios);
                // In edit mode, need to set the radio dropdowns to the element.
                if (!this.create) {
                    this.updateRadioPorts(this.item.element_id);
                }
            }
        },
    },
});
</script>
