<template>
  <div v-if="observation">
  <v-card density="compact">
      <v-card-title>
        Observation Details
        (<NuxtLink
           color="gray"
           :to="`/observations/${observation.id}`"
           nuxt
           >{{observation.id}}
        </NuxtLink>)
      </v-card-title>
    <v-container class="pb-0">
      <v-row dense>
        <v-col cols="12" lg="12" offset-lg="0">
          <v-table density="compact">
            <tbody>
              <tr>
                <td>Description:</td>
                <td class="border-right">{{ observation.description }}</td>

                <td>Frequencies:</td>
                <td class="border-right">
                  {{ observation.min_freq/1e6 + "-" + observation.max_freq/1e6 }}
                </td>

                <td>Format:</td>
                <td>{{ observation.format }}</td>
              </tr>
              <tr>
                <td>Element:</td>
                <td class="border-right">
                  <NuxtLink
                      v-if="observation.element_id"
                      :to="`/elements/${observation.element_id}`"
                  >
                    {{ getElementNameById(observation.element_id) }}
                  </NuxtLink>
                </td>
                <td>Starts:</td>
                <td class="border-right">
                  {{ observation.starts_at ?
                  $moment(observation.starts_at).format("lll") : '' }}
                </td>
                <td>Created:</td>
                <td>
                  {{ observation.created_at ?
                  $moment(observation.created_at).format("lll") : '' }}
                </td>
              </tr>
              <tr>
                <td>Monitor:</td>
                <td class="border-right">
                  <NuxtLink :to="`/monitors/${observation.monitor_id}`">
                    <v-icon>mdi-signal</v-icon>
                    <v-tooltip
                        activator="parent"
                        location="end"
                    >Click for info about the monitor</v-tooltip>                    
                  </NuxtLink>
                </td>
                <td>Interference:</td>
                <td class="border-right">
                  {{ observation.interference ? "Yes" : "No" }}
                </td>
                <td>Interference Verified:</td>
                <td>
                  {{ observation.interference_verified_at ? $moment(observation.interference_verified_at).format("lll") : '' }}
                </td>
              </tr>
              <tr>
                <td>Violation:</td>
                <td class="border-right">
                  {{ observation.violation ? "Yes" : "No" }}
                </td>
                <td>Violation Verified:</td>
                <td>
                  {{ observation.violation_verified_at ? $moment(observation.violation_verified_at).format("lll") : '' }}
                </td>
                <td>Violated Grant:</td>
                <td>
                  {{ observation.violation_grant_id ? "Yes" : "No" }}
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
  <div v-if="observation.data == ''" class="mt-8">
    <v-alert class="d-flex justify-center"
             text="There is no data associated with this observation">
    </v-alert>
  </div>
  <div class="frequency-graph frequency-graph-maingraph"
       style="display:none;">
    <v-container class="pt-0">
      <v-row justify="end" dense>
        <v-col cols="auto" class="pb-0">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="showClaims"
            @update:model-value="updateFilters()"
            density="compact"
            hide-details=true
            >
            <template v-slot:label>
              <span style="font-size: 0.75rem;
                           font-weight: bold;
                           color: rgba(255, 20, 177, 1.0)">
                Claims
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto" class="pb-0">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="showGrants"
            @update:model-value="updateFilters()"
            density="compact"
            hide-details=true
          >
            <template v-slot:label>
              <span style="font-size: 0.75rem;
                           font-weight: bold;
                           color: rgba(255, 173, 50, 1.0)">
                Grants
              </span>
            </template>
          </v-checkbox>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="12">
          <div style="height: 600px;"
               class='echarts-container' />
        </v-col>
      </v-row>         
    </v-container>
    <div class="popover-container" style="display:none;">
      <div>
        <table class="popover-content">
          <tbody>
            <tr>
              <td>Frequency:</td>
              <td class="tooltip-frequency"></td>
            </tr>
            <tr>
              <td>Avg Power::</td>
              <td class="tooltip-avg"></td>
            </tr>
            <tr>
              <td>Max Power:</td>
              <td class="tooltip-max"></td>
            </tr>
            <tr>
              <td>Min Power:</td>
              <td class="tooltip-min"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="frequency-graph frequency-graph-subgraph"
       style="display:none;">
    <v-container>
      <v-row>
        <v-col cols="12">
          <div style="height: 600px; position: relative; top: 0px; left: 0px;"
               class='echarts-container'>
          </div>
        </v-col>
      </v-row>         
    </v-container>
    <div class="popover-container" style="display:none;">
      <div>
        <table class="popover-content">
          <tbody>
            <tr>
              <td>Frequency:</td>
              <td class="tooltip-frequency"></td>
            </tr>
            <tr>
              <td>Power::</td>
              <td class="tooltip-power"></td>
            </tr>
            <tr>
              <td>Center Freq::</td>
              <td class="tooltip-center"></td>
            </tr>
            <tr v-if="showKurtosis">
              <td>Kurtosis:</td>
              <td class="tooltip-kurtosis"></td>
            </tr>
            <tr>
              <td>Above Floor:</td>
              <td class="tooltip-floor"></td>
            </tr>
            <tr>
              <td>Violation:</td>
              <td class="tooltip-violation"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</template>

<style>
 .frequency-graph .popover-content, .popover-content {
   margin: 0px;
   padding: 0px;
   border: 0px solid #ccc;
 }
 .popover-content table > thead > tr > th,
 .popover-content table > tbody > tr > th,
 .popover-content table > thead > tr > td,
 .popover-content table > tbody > tr > td {
   padding: 1px;
   border: none !important;
   font-size: 14px;
   height: 16px !important;
 }
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import createFrequencyGraph from '~/components/FrequencyGraph'

export default defineComponent({
    name: 'Observation',
    props: {
        observation: {
            type: Object,
            required: true
        },
        grants: {
            type: Array,
            required: false,
            default: null
        },
        claims: {
            type: Array,
            required: true,
            default: null
        },
        updated: {
            type: Number,
            required: false,
            default: 0
        },
    },
    data() {
        return {
            showKurtosis: false,
            updateGraph: null,
            currentObservation: null,
            currentClaims: null,
            currentGrants: null,
            showClaims: true,
            showGrants: true,
        }
    },
    async mounted() {
        console.log("observation mounted", this);
        if (this.observation.format == "rfs-csv-inline") {
            this.showKurtosis = true;
        }
        if (this.observation.data == "") {
            return;
        }
        /*
         * Not embedded, so load grants and claims.
         */
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            deleted: false,
            approved: true,
            denied: false,
        }
        if (this.grants == null && this.claims == null) {
            await this.$zoneStore.fetchGrants(payload)
            this.currentGrants = this.zonegrants;
            await this.$zoneStore.fetchClaims(payload);
            this.currentClaims = this.zoneclaims;
        }
        else {
            this.currentGrants = this.grants;
            this.currentClaims = this.claims;
        }
        this.currentObservation = this.observation;
        this.updateGraph = createFrequencyGraph(this.observation,
                                                this.currentGrants,
                                                this.currentClaims);
    },
    computed: {
        ...mapState(zoneStore, {
            zonegrants: (state) => state.grants.grants,
            zoneclaims: (state) => state.claims.claims,
        }),
    },
    methods: {
        updateFilters() {
            console.info("updateFilters", this.showClaims, this.showGrants);
            this.updateGraph(this.observation,
                             this.showGrants ? this.currentGrants : null,
                             this.showClaims ? this.currentClaims : null);
        }
    },
    watch: {
        observation() {
            //console.log("observation changed");
            if (this.observation.format == "rfs-csv-inline") {
                this.showKurtosis = true;
            }
            if (this.observation.data == "") {
                return;
            }
            if (this.currentObservation &&
                this.currentObservation.monitor_id == this.observation.monitor_id) {
                this.updateGraph(this.observation,
                                 this.showGrants ? this.currentGrants : null,
                                 this.showClaims ? this.currentClaims : null);
            }
            else {
                this.updateGraph = createFrequencyGraph(
                    this.observation,
                    this.showGrants ? this.currentGrants : null,
                    this.showClaims ? this.currentClaims : null);
            }
            this.currentObservation = this.observation;
        },
        claims() {
            console.log("observation: claims changed");
            this.currentClaims = this.claims;
            this.updateFilters();
        },
        grants() {
            console.log("observation: grants changed");
            this.currentGrants = this.grants;
            this.updateFilters();
        },
        updated() {
            console.log("observation: updated changed");
            this.updateFilters();
        },
    }
});
</script>
