<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Observations
      </v-card-title>
      <v-container class="pt-1 pb-0">
      <v-row justify="end" dense>
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.observation"
            clearable
            density="compact"
            variant="outlined"
            hint="Search observation description"
            placeholder="Description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.types"
            clearable
            density="compact"
            variant="outlined"
            hint="Search observation types"
            placeholder="Types"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.format"
            clearable
            density="compact"
            variant="outlined"
            hint="Search observation format"
            placeholder="Format"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="filters.freq"
            clearable
            density="compact"
            variant="outlined"
            hint="Search frequency"
            placeholder="Frequency"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="auto">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="filters.violation.value"
            :indeterminate="filters.violation.indeterminate"
            @update:model-value="notifyRefresh()"
            @click.native="(evt) => indetCheckboxClick(evt, filters.violation)"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Violation
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="auto">
          <v-btn
            @click="resetFilters()"
            size="x-small"
            icon="mdi-eraser"
            variant="outlined"
            class="mt-1">
            <v-icon>mdi-eraser</v-icon>
            <v-tooltip
              activator="parent"
              location="bottom"
              >Reset filter parameters</v-tooltip>
          </v-btn>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                @click="notifyRefresh()"
                size="x-small"
                icon="mdi-refresh"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Refresh</span>
          </v-tooltip>
          <v-tooltip location="bottom">
            <template v-slot:activator="{ on, props }">
              <v-btn
                to="/observations/create"
                size="x-small"
                icon="mdi-plus"
                variant="outlined"
                class="mt-1 ml-1"
                v-bind="props"
              />
            </template>
            <span>Create Observation</span>
          </v-tooltip>
        </v-col>
      </v-row>
      </v-container>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          class="v-data-table-compact-harder"
          :headers="headers"
          :items="items"
          :items-length="total"
          :page="page"
          :items-per-page="options.itemsPerPage"
          @update:options="optionsUpdated()"
          dense
        >
          <template v-slot:item.id="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/observations/${item.id}`"
                  nuxt
                  v-bind="props"
                  >
                  <v-icon>mdi-clock-outline</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View Observation</span>
            </v-tooltip>
          </template>
          <template v-slot:item.monitor_id="{ item }">
            <v-tooltip location="bottom">
              <template v-slot:activator="{ on, props }">
                <NuxtLink
                  v-if="item.id"
                  color="gray"
                  :to="`/monitors/${item.monitor_id}`"
                  nuxt
                  v-bind="props"
                  >
                  <v-icon>mdi-antenna</v-icon>
                </NuxtLink>
                {{ item.name }}
              </template>
              <span>View Monitor</span>
            </v-tooltip>
          </template>
          <template v-slot:item.violation="{ item }">
            <v-icon
              v-if="item.violation"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.violation_verified_at="{ item }">
            {{ item.violation_verified_at ? $moment.utc(item.violation_verified_at).fromNow() : '' }}
          </template>
          <template v-slot:item.interference="{ item }">
            <v-icon
              v-if="item.interference"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.interference_verified_at="{ item }">
            {{ item.interference_verified_at ? $moment.utc(item.interference_verified_at).fromNow() : '' }}
          </template>
          <template v-slot:item.element_id="{ item }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.min_freq="{ item }">
            <v-chip
              v-if="item.max_freq !== undefined"
              size="small"
            >
              {{ item.min_freq/1e6 + "-" + item.max_freq/1e6 }}
            </v-chip>
            <v-chip
              v-else
              size="small"
            >
              {{ item.min_freq/1e6 }}
            </v-chip>
          </template>
          <template v-slot:item.types="{ item }">
            <v-chip
              v-if="item.types !== undefined && item.types.split(',').length > 0"
              v-for="mt in item.types.split(',')"
              size="small"
            >
              {{ mt }}
            </v-chip>
          </template>
          <template v-slot:item.format="{ item }">
            <v-chip
              v-if="item.format !== undefined && item.format.split(',').length > 0"
              v-for="mf in item.format.split(',')"
              size="small"
            >
              {{ mf }}
            </v-chip>
          </template>
          <template v-slot:item.starts_at="{ item }">
            {{ item.starts_at ? $moment.utc(item.starts_at).fromNow() : '' }}
          </template>
          <template v-slot:item.ends_at="{ item }">
            {{ item.ends_at ? $moment.utc(item.ends_at).fromNow() : '' }}
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
    name: 'ObservationList',
    props: {
        items: {
            type: Array,
            required: true
        },
        page: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        },
        initialFilters: {
            type: Object,
            required: true,
        },
        initialOptions: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            loaded: false,
            filters: this.initialFilters,
            options: this.initialOptions,

            headers: [
                { title: 'Obs', key: 'id', align: 'start' },
                { title: 'Monitor', key: 'monitor_id', sortable: true },
                { title: 'Description', key: 'description',
                  value: function (item) {
                      return item.description.split('\n', 1)[0];
                  }
                },
                { title: 'Types', key: 'types', sortable: true },
                { title: 'Format', key: 'format', sortable: true },
                { title: 'Freq', key: 'min_freq', sortable: true },
                { title: 'Starts', key: 'starts_at', sortable: true },
                { title: 'Ends', key: 'ends_at', sortable: true },
                { title: 'Violation', key: 'violation', sortable: true },
                { title: 'Violation Verified', key: 'violation_verified_at', sortable: true },
                { title: 'Violated Grant', key: 'violation_grant_id' },
                { title: 'Interference', key: 'interference', sortable: true },
                { title: 'Interference Verified', key: 'interference_verified_at', sortable: true },
                { title: 'Created', key: 'created_at', sortable: true },
                { title: 'Updated', key: 'updated_at', sortable: true },
            ],
        }
    },
    async mounted() {
        console.log("ObservationList:mounted", this.initialFilters)
        this.loaded = true
    },
    computed: {
    },
    methods: {
        getElementNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getElementNameById(id)
            else
                return this.$userStore.getElementNameById(id)
        },
        getSpectrumNameById(id) {
            if (this.$clientStore.is_admin)
                return this.$adminStore.getSpectrumNameById(id)
            else
                return id
        },
        notifyRefresh() {
            let event = {
                filters: this.filters,
                options: this.options,
            }
            this.$emit('needsUpdate', event)
        },
        resetFilters() {
            console.log("clear")
            this.filters.observation = "";
            this.filters.types = "";
            this.filters.format = "";
            this.filters.freq = "";
            this.filters.violation.value = true;
            this.filters.violation.indeterminate = true;
            this.notifyRefresh();
        },
        indetCheckboxClick(evt, model) {
            if (evt.ctrlKey) {
                if (!model.indeterminate) {
                    model.indeterminate = true
                    this.notifyRefresh()
                }
                evt.preventDefault()
                evt.stopPropagation()
            }
            else {
                model.indeterminate = false
            }
        },
        optionsUpdated() {
            console.log("ObservationList: options changed")
            this.notifyRefresh()
        },
    },
    watch: {
    }
});
</script>
