<template>
  <v-card v-if="item">
    <v-card-title>
      Propsim Job Output <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/propsims/${item.propsim_id}/jobs/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/propsims/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Propsim</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Service Job Output Id
            </td>
            <td>
              {{ item.job_output_id }}
            </td>
          </tr>
          <tr>
            <td>
              Type
            </td>
            <td>
              {{ item.type }}
            </td>
          </tr>
          <tr>
            <td>
              Kind
            </td>
            <td>
              {{ item.kind }}
            </td>
          </tr>
          <tr>
            <td>
              Unit
            </td>
            <td>
              {{ item.unit }}
            </td>
          </tr>
          <tr v-if="item.desc">
            <td>
              Description
            </td>
            <td>
              {{ item.desc }}
            </td>
          </tr>
          <tr v-if="item.message">
            <td>
              Message
            </td>
            <td>
              {{ item.message }}
            </td>
          </tr>
          <tr>
            <td>
              Size
            </td>
            <td>
              {{ item.size }}
            </td>
          </tr>
          <tr v-if="item.geoserver_workspace">
            <td>
              Geoserver Workspace
            </td>
            <td>
              {{ item.geoserver_workspace }}
            </td>
          </tr>
          <tr v-if="item.geoserver_layer">
            <td>
              Geoserver Layer
            </td>
            <td>
              {{ item.geoserver_layer }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      <ClientOnly>
        <v-container
          v-if="!mapError && zoneCenter && zoneBoundary && item.geoserver_layer"
          class="pl-0 pr-0 ml-0 mr-0"
        >
          <v-row justify="center">
            <v-col cols="12">
              <div style="height:850px;width:950px">
                <l-map
                  ref="map"
                  v-model:zoom="zoom"
                  :useGlobalLeaflet="false"
                  crs="EPSG3857"
                  :center="zoneCenter"
                  @click="showWmsFeature"
                >
                  <l-marker
                    ref="wmsFeatureMarker"
                    :lat-lng="markerLatLng"
                    :options="markerOptions"
                  >
                    <l-icon
                      :icon-size="[1,1]"
                      icon-url="1x1.gif"
                    ></l-icon>
                    <l-popup
                      ref="wmsFeaturePopup"
                    ></l-popup>
                  </l-marker>
                  <l-control
                    position="topleft"
                    class="pa-2"
                    style="background-color: white; display: block; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 2px solid rgba(0,0,0,0.2)"
                  >
                    <div>Opacity</div>
                    <v-text-field
                      v-model="opacity"
                      density="compact"
                      variant="outlined"
                      style="width: 64px"
                      class="map-control-text-field"
                      type="number"
                      hide-details
                      single-line
                      max="1.0"
                      min="0.0"
                      step="0.1"
                    ></v-text-field>
                  </l-control>
                  <l-control
                    position="topleft"
                    class="pa-3"
                    style="background-color: white; display: block; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 2px solid rgba(0,0,0,0.2)"
                  >
                    <img
                      :src="geoserverLegendUrl"
                      width="64px"
                    />
                  </l-control>
                  <l-tile-layer
                    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                    layer-type="base"
                    attribution='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    name="OpenStreetMap"
                  ></l-tile-layer>
                  <l-wms-tile-layer
                    :url="geoserverWmsUrl"
                    :layers="item.geoserver_layer"
                    format="image/png"
                    :transparent="true"
                    :opacity="opacity"
                    :tiled="true"
                    version="1.1.0"
                    layer-type="overlay"
                  ></l-wms-tile-layer>
                  <l-polygon
                    :lat-lngs="zoneBoundary"
                    color="red"
                    :fill="false"
                  />
                </l-map>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </ClientOnly>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>
<style scoped>
.map-control-text-field >>> .v-field {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}
.map-control-text-field >>> .v-field__input {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
}
.map-control-text-field >>> .v-label {
    padding: 0px;
    margin: 0px;
}
.wms-feature-popup-table {
    border: 1px solid;
    border-color: gray;
}
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>

import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import 'leaflet/dist/leaflet.css'
import { LMap, LWmsTileLayer, LTileLayer, LPolygon, LControl, LPopup, LMarker, LIcon } from '@vue-leaflet/vue-leaflet'
//import WMSCapabilities from 'wms-capabilities'

export default defineComponent({
    name: 'PropsimJobOutput',
    components: {
        LMap,
        LWmsTileLayer,
        LPopup,
        LMarker,
        LIcon
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            zoom: 15,
            opacity: 0.9,
            markerLatLng: [0,0],
            markerOptions: {
                opacity: 0, width:"1px", height: "1px"
            },
            L: null,
            mapError: null,
            mapErrorText: null,
            wmsCapabilities: null,
            geoserverUrl: useNuxtApp().$config.public.geoserverUrl,
            geoserverWorkspace: useNuxtApp().$config.public.geoserverWorkspace,
            geoserverWorkspaceWmsPath: '/' + useNuxtApp().$config.public.geoserverWorkspace + '/wms',
            geoserverWmsUrl: useNuxtApp().$config.public.geoserverUrl + '/' + useNuxtApp().$config.public.geoserverWorkspace + '/wms',
        }
    },
    async beforeMount() {
        /*
         * If you need real Leaflet functions, this is the way to get access
         * to them.  However, I was able to not require this in the end.
         */
        //this.L = await import("leaflet/dist/leaflet-src.esm");
        //console.log("L", this.L)
    },    
    async mounted() {
        console.log("PropsimJobOutput:mounted", this)
        await this.$zoneStore.fetchZones()

        /*
         * This code does not work because geoserver does not by default
         * add CORS headers, so the fetch is blocked.
         */
        /*
        try {
            let cu = useNuxtApp().$config.public.geoserverUrl + "/" + useNuxtApp().$config.public.geoserverWorkspace + "/wms?request=GetCapabilities"
            let headers = { "Accept": "text/xml" }
            var data = null
            await this.$fetch(cu, { headers: headers, 
                                    async onResponse({ response }) {
                                        data = response.body
                                    }})
            console.log(data)
            this.wmsCapabilities = new WMSCapabilities(data).toJSON()
            console.log("wms.GetCapabilities", this.wmsCapabilities)
        } catch (e) {
            console.log("wms.GetCapabilities error:", e)
            this.mapError = e
            this.mapErrorText = "<pre>" + JSON.stringify(e) + "</pre>"
        }
        */
    },
    computed: {
        ...mapState(zoneStore, {
            zone: (state) => state.zone,
        }),
        zoneCenter() {
            let zc = this.$zoneStore.computeZoneCenter()
            console.log("computeZoneCenter:", zc)
            return zc
        },
        zoneBoundary() {
            let zb = this.$zoneStore.computeZoneBoundary()
            console.log("computeZoneBoundary:", zb)
            return zb
        },
        geoserverLegendUrl() {
            return this.geoserverWmsUrl + "?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=16&HEIGHT=10&LAYER=" + this.item.geoserver_layer
        },
    },
    methods: {
        notifyRefresh() {
            console.log("PropsimJobOutput:needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        },
        getGeoserverFeatureUrl(evt) {
            let width = this.$refs.map.leafletObject.getSize().x
            let height = this.$refs.map.leafletObject.getSize().y
            let bounds = this.$refs.map.leafletObject.getBounds()
            let bbox = bounds.toBBoxString()
            let cP = this.$refs.map.leafletObject.layerPointToContainerPoint(evt.layerPoint)
            return this.geoserverWorkspaceWmsPath + "?service=wms&REQUEST=GetFeatureInfo&VERSION=1.0.0&style=&srs=EPSG%3A4326&FORMAT=image%2Fpng&INFO_FORMAT=application%2fjson&bbox="+bbox+"&FEATURE_COUNT=1&HEIGHT="+height+"&WIDTH="+width+"&QUERY_LAYERS=" + this.item.geoserver_layer + "&LAYERS=" + this.item.geoserver_layer + "&X=" + ~~cP.x + "&Y=" + ~~cP.y
        },
        async showWmsFeature(evt) {
            console.log("showWmsFeature:", evt)
            console.log("this.$refs", this.$refs)
            let url = '/zms/geoserver/' + this.getGeoserverFeatureUrl(evt)
            let resp = await $fetch(url)
            //console.log("geoserverFeature", resp)
            var tableContent = ""
            Object.entries(resp.features).forEach(li => {
                Object.entries(li[1].properties).forEach(pi => {
                    tableContent += "<tr><td style='padding: 4px;'>"+pi[0]+"</td><td style='padding: 2px;'>"+JSON.stringify(pi[1])+"</td></tr>"
                })
            })
            this.$refs.wmsFeaturePopup.leafletObject.setContent('<div><table style="border: 1px solid;border-color: gray;border-spacing:4px;">'+tableContent+"</table></div>")
            this.$refs.wmsFeatureMarker.leafletObject.setLatLng(evt.latlng)
            this.$refs.wmsFeatureMarker.leafletObject.openPopup()
        },
    },
});
</script>
