<template>
  <v-card v-if="item">
    <v-card-title>
      Propsim <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/propsims/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/propsims/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Propsim</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr v-if="item.description">
            <td>
              Description
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr v-if="item.radio_id">
            <td>
              Radio
            </td>
            <td>
              <NuxtLink
                :to="`/radios/${item.radio_id}`"
              ><v-icon>mdi-radio-tower</v-icon></NuxtLink>
              ({{ item.radio_id }})
            </td>
          </tr>
          <tr v-if="item.radio_port_id">
            <td>
              Radio Port
            </td>
            <td>
              {{ item.radio_port_id }}
            </td>
          </tr>
          <tr v-if="item.freq">
            <td>
              Frequency
            </td>
            <td>
              {{ item.freq }}
            </td>
          </tr>
          <tr v-if="item.gain">
            <td>
              Gain
            </td>
            <td>
              {{ item.gain }}
            </td>
          </tr>
          <tr v-if="item.resolution">
            <td>
              Resolution
            </td>
            <td>
              {{ item.resolution }}
            </td>
          </tr>
          <tr v-if="item.config">
            <td>
              Config
            </td>
            <td>
              <pre>
                {{ JSON.stringify(item.config, null, 2) }}
              </pre>
            </td>
          </tr>
          <tr>
            <td>
              Status
            </td>
            <td>
              {{ item.status }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      &nbsp;
      <v-container v-if="elaborate && item.jobs">
        <v-row
          v-for="job in item.jobs"
          :key="job.id"
        >
          <v-col>
            <PropsimJob :item="job" :editable="editable"></PropsimJob>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
  
export default defineComponent({
    name: 'Propsim',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("Propsim:mounted", this)
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
    }
});
</script>
