<template>
  <v-card v-if="item">
    <v-card-title>
      Propsim Job <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/propsims/${item.propsim_id}/jobs/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/propsims/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Propsim</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Service
            </td>
            <td>
              <span v-if="propsimServiceName">
                {{ propsimServiceName }} ({{ item.service_id }})
              </span>
              <span v-else>
                {{ item.service_id }}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              Service Job Id
            </td>
            <td>
              {{ item.job_id }}
            </td>
          </tr>
          <tr>
            <td>
              Status
            </td>
            <td>
              {{ item.status }}
            </td>
          </tr>
          <tr>
            <td>
              Progress
            </td>
            <td>
              {{ item.progress }}
            </td>
          </tr>
          <tr v-if="item.message">
            <td>
              Message
            </td>
            <td>
              {{ item.message }}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Finished
            </td>
            <td>
              <FormattedTime :when="item.finished_at"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      &nbsp;
      <v-container v-if="elaborate && item.outputs">
        <v-row
          v-for="output in item.outputs"
          :key="output.id"
        >
          <v-col>
            <PropsimJobOutput :item="output" :editable="editable"></PropsimJobOutput>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
  
export default defineComponent({
    name: 'PropsimJob',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("PropsimJob:mounted", this)
        await this.$zoneStore.fetchServicesPropsims()
    },
    computed: {
        propsimServiceName() {
            let ps = this.$zoneStore.getPropsimServiceById(this.item.service_id)
            if (ps)
                return ps.name
            return null
        }
    },
    methods: {
        notifyRefresh() {
            console.log("PropsimJob:needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
    }
});
</script>
