<template>
  <v-card v-if="item">
    <v-form v-model="valid">
      <v-card-title>
        <span v-if="create">Create Radio Port</span>
        <span v-else>Edit Radio Port <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
        style="font-size: 0.85rem"
        class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="myelementname"
                  readonly
                  label="Element"
                  variant="outlined"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="radio.name"
                  readonly
                  label="Radio"
                  variant="outlined"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.name"
                label="Name"
                variant="outlined"
                density="compact"
                :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols=1 class="py-0 px-0">
              <v-checkbox
                v-model="item.tx"
                label="Tx"
                density="compact"
              ></v-checkbox>
            </v-col>
            <v-col cols=1 class="py-0 px-0">
              <v-checkbox
                v-model="item.rx"
                label="Rx"
                density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.min_freq"
                  label="Min Freq"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="item.min_freq = frequencyChanged(item.min_freq)"
                ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                  v-model.number="item.max_freq"
                  label="Max Freq"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.required, rules.validFrequency]"
                  @change="item.max_freq = frequencyChanged(item.max_freq)"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                  v-model.number="item.max_power"
                  label="Max Power"
                  type="number"
                  variant="filled"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-select
                v-model="item.antenna_id"
                :items="antennas"
                item-title="name"
                item-value="id"
                label="Antenna"
                variant="filled"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
            <v-col cols="5">
              <v-select
                v-model="item.antenna_location_id"
                :items="locations"
                item-title="name"
                item-value="id"
                label="Antenna Location"
                variant="filled"
                density="compact"a
                :rules="[rules.required]"
                >
                <template v-slot:append>
                  <v-btn
                    color="white"
                    class="px-3 bg-success"
                    size="small"
                    background="success"
                    elevation="2"
                    >
                    New Location
                    <v-dialog v-model="showLocationDialog"
                              activator="parent"
                              width="1024">
                      <LocationEdit
                        :item="newLocation"
                        :create="true"
                        :embedded="true"
                        @canceled="showLocationDialog = false"
                        @created="(params) => locationCreated(params)"
                        ></LocationEdit>
                    </v-dialog>
                  </v-btn>
                </template>
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.antenna_azimuth_angle"
                  label="Antenna Azimuth Angle"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validAzimuth]"
                ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field
                v-model.number="item.antenna_elevation_angle"
                  label="Antenna Elevation Angle"
                  type="number"
                  variant="filled"
                  density="compact"
                  :rules="[rules.validElevation]"
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols=2 class="py-0 px-0">
              <v-checkbox
                v-model="item.enabled"
                label="Enabled"
                density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <v-btn
          v-if="create"
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
        >
          Submit
          <Confirm activator="parent"
                   message="Are you sure you want to create this radio port?"
                   @confirmed="submit">
          </Confirm>
        </v-btn>
        <v-btn
          v-if="!(create || item.deleted_at)"
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
        >
          Save
          <Confirm activator="parent"
                   message="Are you sure you want to update this radio port?"
                   @confirmed="save">
          </Confirm>
        </v-btn>
        <v-btn
          v-if="!(create || item.deleted_at)"
          color="white"
          class="px-3 bg-warning ml-6"
          background="warning"
          elevation="2"
          :disabled="disabled"
        >
          Delete
          <Confirm activator="parent"
                   message="Are you sure you want to delete this radio port?"
                   @confirmed="remove">
          </Confirm>
        </v-btn>
      </v-card-actions>
    </v-form>
    <ErrorDialog
      :model-value="errorIsActive"
      :error="error"
      @close="errorIsActive = false; this.error = null"
      @reload="errorIsActive = false; this.error = null"
      @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import { clientStore } from '~/stores/client'
import { formRules } from '~/lib/formrules'
import Confirm from '~/components/Confirm.vue'
import ErrorDialog from '~/components/ErrorDialog.vue'
import LocationEdit from '~/components/LocationEdit.vue'
</script>

<script>
export default defineComponent({
    name: 'RadioportEdit',
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        },
        embedded: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    emits: [
        'modified',
        'created',
        'deleted',
    ],
    data() {
        return {
            valid: true,
            disabled: false,
            // Return true if valid, else error message.
            rules: formRules(),
            errorIsActive: false,
            error: null,
            newLocation: {
                name: "",
                element_id: null,
                srid: 4326,
                x: "",
                y: "",
                z: 0,
            },
            showLocationDialog: false,
        }
    },
    async mounted() {
        console.log("RadioportEdit:mounted");
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            deleted: false,
        };
        await this.$zoneStore.fetchAntennas(payload);
        await this.$zoneStore.fetchLocations(payload);
        await this.$zoneStore.fetchRadio(this.item.radio_id);
        console.log("RadioportEdit:mounted", this, this.radio, this.allLocations);
        if (this.create) {
            this.item.antenna_location_id = this.radio.location_id;
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            antennas: (state) => state.antennas.antennas,
            locations: (state) => state.locations.locations,
            radio: (state) => state.radio.radio,
        }),
        allElements() {
            if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
        myelementname() {
            return getElementNameById(this.radio.element_id);
        },
    },
    methods: {
        async save() {
            let path = this.item.radio_id + "/ports/" + this.item.id;
            console.log("RadioportEdit:save", path, this.item)
            this.disabled = true
            await this.$radiosEndpoint.
                update(path, this.item)
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            if (!this.errorIsActive) {
                this.notifyModified()
            }
        },
        async submit() {
            console.log("RadioportEdit:submit")
            let path = this.item.radio_id + "/ports"
            this.disabled = true
            let data = await this.$radiosEndpoint
                .createSecondary(path, this.item)
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                    return
                })
            if (!this.errorIsActive) {
                this.notifyCreated(data)
            }
            this.disabled = false
        },
        async remove() {
            console.log("RadioportEdit:remove")
            let path = this.item.radio_id + "/ports/" + this.item.id;
            this.disabled = true
            await this.$radiosEndpoint
                .delete(path)
                .catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            if (!this.errorIsActive) {
                // Take user back to the edit radio page
                navigateTo("/radios/" + this.item.radio_id + "/edit")
            }
        },
        notifyModified() {
            console.log("RadioportEdit:notifyModified", this.item)
            let event = {
                id: this.item.id,
                item: this.item,
            }
            this.$emit('modified', event)
        },
        notifyDeleted() {
            console.log("RadioportEdit:notifyDeleted", this.item)
            let event = {
                id: this.item.id,
                item: this.item,
            }
            this.$emit('deleted', event)
        },
        notifyCreated(x) {
            console.log("RadioportEdit:notifyCreated", x)
            // So RadioEdit parent can find it in the list.
            this.item.id = x.id
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        },
        async locationCreated(params) {
            console.log("RadioEdit:locationCreated", params);
            var location = params.item;
            this.locations.push(location);
            this.item.antenna_location_id = location.id;
            this.showLocationDialog = false;
        },
        // Drives me nuts to have to type so many zeros
        frequencyChanged(freq) {
            if (freq < 10000) {
                return freq * 1000000;
            }
            return freq;
        },
    },
    watch: {
        radio: {
            handler(val) {
                this.newLocation.element_id = this.radio.element_id;
            }
        }
    }
});
</script>
