<template>
  <v-card v-if="item">
    <v-form v-model="valid">
      <v-card-title>
        <span v-if="create">Create Radio</span>
        <span v-else>Edit Radio <i>{{ item.name }}</i> ({{item.id}})</span>
      </v-card-title>
      <v-card-text
        style="font-size: 0.85rem"
        class="px-4 py-0"
      >
        <v-container class="pt-4">
          <v-row v-if="create">
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.element_id"
                :items="allElements"
                item-title="name"
                item-value="id"
                label="Element"
                variant="outlined"
                density="compact"
                :rules="[rules.required]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col class="py-0 px-0">
              <v-text-field
                  v-model="myelementname"
                  readonly
                  label="Element"
                  variant="outlined"
                  density="compact"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-select
                v-model="item.location_id"
                :items="locations"
                item-title="name"
                item-value="id"
                label="Location"
                variant="outlined"
                density="compact"
                :rules="[rules.required]"
                >
                <template v-slot:append>
                  <v-btn
                    color="white"
                    class="px-3 bg-success"
                    background="success"
                    size="small"
                    elevation="2"
                    >
                    New Location
                    <v-dialog v-model="showLocationDialog"
                              activator="parent"
                              width="1024">
                      <LocationEdit
                        :item="newLocation"
                        :create="true"
                        :embedded="true"
                        @canceled="showLocationDialog = false"
                        @created="(params) => locationCreated(params)"
                        ></LocationEdit>
                    </v-dialog>
                  </v-btn>
                </template>
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.name"
                label="Name"
                variant="outlined"
                density="compact"
                :rules="[rules.required, rules.nonzerolen, rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.description"
                clearable
                label="Description"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.fcc_id"
                clearable
                label="FCC ID"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.device_id"
                clearable
                label="Device ID"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-text-field
                v-model="item.serial_number"
                clearable
                label="Serial Number"
                variant="outlined"
                density="compact"
                :rules="[rules.morethanspace]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 px-0">
              <v-checkbox
                v-model="item.enabled"
                label="Enabled"
                density="compact"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="px-6 py-0">
        <v-btn
          v-if="create"
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="!valid || disabled"
        >
          Submit
          <Confirm activator="parent"
                   message="Are you sure you want to create this radio?"
                   @confirmed="submit">
          </Confirm>
        </v-btn>
        <v-btn
          v-if="!(create || item.deleted_at) "
          color="white"
          class="px-3 bg-success"
          background="success"
          elevation="2"
          :disabled="disabled"
        >
          Save
          <Confirm activator="parent"
                   message="Are you sure you want to save this radio?"
                   @confirmed="save">
          </Confirm>
        </v-btn>
        <v-btn
          v-if="!(create || item.deleted_at) "
          color="white"
          class="px-3 bg-warning ml-6"
          background="warning"
          elevation="2"
          :disabled="disabled"
        >
          Delete
          <Confirm activator="parent"
                   message="Are you sure you want to delete this radio?"
                   @confirmed="remove">
          </Confirm>
        </v-btn>
        <v-btn
          v-if="!(create || item.deleted_at) "
          class="px-3 ml-6"
          elevation="2"
          :disabled="disabled"
          @click="addRadioPort()"
        >
          Add Radio Port
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
  <div v-if="item.ports" class="pt-0">
    <v-container    
      v-for="port in item.ports"
      :key="port.id"
      >
      <RadioPort :item="port" :editable=true></RadioPort>
    </v-container>
  </div>
  <ErrorDialog
    :model-value="errorIsActive"
    :error="error"
    @close="errorIsActive = false; this.error = null"
    @reload="errorIsActive = false; this.error = null"
    @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import { formRules } from '~/lib/formrules'
import ErrorDialog from '~/components/ErrorDialog.vue'
import Confirm from '~/components/Confirm.vue'
import LocationEdit from '~/components/LocationEdit.vue'
</script>

<script>
export default defineComponent({
    name: 'RadioEdit',
    props: {
        item: {
            type: Object,
            required: true
        },
        create: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    emits: [
        'modified',
        'created'
    ],
    data() {
        return {
            valid: true,
            disabled: false,
            // Return true if valid, else error message.
            rules: formRules(),
            errorIsActive: false,
            error: null,
            newLocation: {
                name: "",
                element_id: this.item.element_id,
                srid: 4326,
                x: "",
                y: "",
                z: 0,
            },
            showLocationDialog: false,
        }
    },
    async mounted() {
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            deleted: false,
        };
        await this.$zoneStore.fetchLocations(payload);
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            locations: (state) => state.locations.locations,
        }),
        allElements() {
            if (this.is_admin)
                return this.$adminStore.all_elements.elements
            else
                return this.$userStore.elements
        },
        myelementname() {
            return getElementNameById(this.item.element_id);
        },
    },
    methods: {
        addRadioPort() {
            navigateTo("/radios/" + this.item.id + "/ports/create");
        },
        async save() {
            this.disabled = true
            await this.$radiosEndpoint.update(this.item.id, this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
            })
            this.disabled = false
        },
        async submit() {
            this.disabled = true
            let data = await this.$radiosEndpoint.create(this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyCreated(data)
            }
            this.disabled = false
        },
        async remove() {
            this.disabled = true
            await this.$radiosEndpoint
                .delete(this.item.id, this.item).catch((err) => {
                    this.error = err
                    this.errorIsActive = true
                    clearError()
                })
            this.disabled = false
            if (!this.errorIsActive) {
                navigateTo('/')
            }
        },
        notifyModified() {
            console.log("RadioEdit:notifyModified", this.item)
            let event = {
                id: this.item.id,
                item: this.item,
            }
            this.$emit('modified', event)
        },
        notifyCreated(x) {
            console.log("RadioEdit:notifyCreated", x)
            let event = {
                id: x.id,
                item: x,
            }
            this.$emit('created', event)
        },
        async locationCreated(params) {
            console.log("RadioEdit:locationCreated", params);
            var location = params.item;
            this.locations.push(location);
            this.item.location_id = location.id;
            this.showLocationDialog = false;
        },
    },
    watch: {
        item: {
            deep: true,
            handler(val) {
                this.unsaved = true;
            }
        }
    }
});
</script>
