<template>
  <v-card v-if="item">
    <v-card-title>
      Radio <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/radios/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        <v-tooltip>
          <template v-slot:activator="{ on, props }">
            (<NuxtLink
               color="gray"
               :to="`/radios/${item.id}/edit`"
               nuxt
               v-bind="props"
             >
              <v-icon>mdi-text-box-edit-outline</v-icon>
            </NuxtLink>)
          </template>
          <span>Edit Radio</span>
        </v-tooltip>
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>
              Description
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
          <tr>
            <td>
              FCC Id
            </td>
            <td>
              {{ item.fcc_id }}
            </td>
          </tr>
          <tr>
            <td>
              Device Id
            </td>
            <td>
              {{ item.device_id }}
            </td>
          </tr>
          <tr>
            <td>
              Serial Number
            </td>
            <td>
              {{ item.serial_number }}
            </td>
          </tr>
          <tr>
            <td>
              Enabled
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.enabled"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Location
            </td>
            <td v-if="item.location && item.location.name">
              <NuxtLink
                v-if="item.location.name"
                :to="`/locations/${item.location.id}`"
              >
                {{ item.location.name }}
              </NuxtLink>
              ({{ item.location.id }})
              <MapModal :location_id="`${item.location_id}`"></MapModal>
            </td>
            <td v-else>
              <NuxtLink
                v-if="item.location_id"
                :to="`/locations/${item.location_id}`"
              >
                {{ item.location_id }}
              </NuxtLink>
              <MapModal :location_id="`${item.location_id}`"></MapModal>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-container v-if="elaborate && item.ports" class="mt-1 py-0">
        <v-row
          v-for="port in item.ports"
          :key="port.id"
        >
          <v-col>
            <RadioPort :item="port" :editable="editable"></RadioPort>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import MapModal from '~/components/MapModal.vue'
import FormattedTime from '~/components/FormattedTime.vue'
  
export default defineComponent({
    name: 'Radio',
    components: {
        MapModal,
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("Radio:mounted", this)
    },
    computed: {
    },
    methods: {
        notifyRefresh() {
            console.log("needsUpdate")
            let event = {
                id: this.item.id,
            }
            this.$emit('needsUpdate', event)
        }
    },
    watch: {
    }
});
</script>
