<template>
  <div>
    <div class="d-flex justify-center">
      <span class="text-h6">Grant/Claim Schedule</span>
    </div>
    <div class="schedule-graph"
         style="display:none;">
      <v-container class="pt-0">
        <v-row justify="end" dense>
          <v-col cols="auto" class="pb-0">
            <v-checkbox
              style="font-size: 0.75rem"
              v-model="showClaims"
              @update:model-value="updateFilters()"
              density="compact"
              hide-details=true
              >
              <template v-slot:label>
                <span style="font-size: 0.75rem;
                             font-weight: bold;
                             color: rgba(255, 20, 177, 1.0)">
                  Claims
                </span>
              </template>
            </v-checkbox>
          </v-col>
          <v-col cols="auto" class="pb-0">
            <v-checkbox
              style="font-size: 0.75rem"
              v-model="showGrants"
              @update:model-value="updateFilters()"
              density="compact"
              hide-details=true
              >
              <template v-slot:label>
                <span style="font-size: 0.75rem;
                             font-weight: bold;
                             color: rgba(255, 173, 50, 1.0)">
                  Grants
                </span>
              </template>
            </v-checkbox>
          </v-col>
          <v-col cols="auto" class="pb-0">
            <v-checkbox
              style="font-size: 0.75rem"
              v-model="showPending"
              @update:model-value="updateFilters()"
              density="compact"
              hide-details=true
              >
              <template v-slot:label>
                <span style="font-size: 0.75rem;
                             font-weight: bold;">
                  Pending
                </span>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <div style="height: 600px;"
                 class='echarts-container' />
          </v-col>
        </v-row>         
      </v-container>
      <div class="popover-container" style="display:none;">
        <div>
          <table class="popover-content">
            <tbody>
              <tr>
                <td>Freq Low:</td>
                <td class="tooltip-low"></td>
              </tr>
              <tr>
                <td>Freq High:</td>
                <td class="tooltip-high"></td>
              </tr>
              <tr>
                <td>Max EIRP:</td>
                <td class="tooltip-eirp"></td>
              </tr>
              <tr>
                <td>Starts:</td>
                <td class="tooltip-start"></td>
              </tr>
              <tr>
                <td>Ends:</td>
                <td class="tooltip-end"></td>
              </tr>
              <tr>
                <td>Exclusive:</td>
                <td class="tooltip-exclusive"></td>
              </tr>
              <tr>
                <td>Status:</td>
                <td class="tooltip-status"></td>
              </tr>
              <tr>
                <td>Name:</td>
                <td class="tooltip-name"></td>
              </tr>
              <tr>
                <td>Element:</td>
                <td class="tooltip-element"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <v-card v-if='showClaim || showGrant'>
        <Grant
          v-if="showGrant"
          :item="showGrant"
          ></Grant>
        <Claim
          v-if="showClaim"
          :item="showClaim"
          ></Claim>
      </v-card>
    </div>
  </div>
</template>
<style>
 .popover-content {
   margin: 0px;
   padding: 0px;
   border: 0px solid #ccc;
 }
 .popover-content table > thead > tr > th,
 .popover-content table > tbody > tr > th,
 .popover-content table > thead > tr > td,
 .popover-content table > tbody > tr > td {
   padding: 1px;
   border: none !important;
   font-size: 14px;
   height: 16px !important;
 }
</style>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
import { mapState } from 'pinia'
import { zoneStore } from '~/stores/zone'
import createScheduleGraph from '~/components/RFScheduleGraph.js'
import Grant from '~/components/Grant.vue'
import Claim from '~/components/Claim.vue'

export default defineComponent({
    name: 'RF Schedule',
    props: {
    },
    data() {
        return {
            ready: false,
            currentClaims: null,
            currentGrants: null,
            showClaims: true,
            showGrants: true,
            showClaim: null,
            showGrant: null,
            showPending: false,
        }
    },
    async mounted() {
        console.log("RF Schedule mounted", this);

        /*
         * Not embedded, so load grants and claims.
         */
        var payload = {
            page: 1,
            items_per_page: 65536,
            enabled: true,
            deleted: false,
            approved: true,
            denied: false,
        }
        await this.$zoneStore.fetchGrants(payload)
        this.currentGrants = this.zonegrants;
        await this.$zoneStore.fetchClaims(payload);
        this.currentClaims = this.zoneclaims;

        this.ready = true;
        createScheduleGraph({
            "callback"   : this.clickHandler,
            "grants"     : this.currentGrants,
            "claims"     : this.currentClaims,
            "showPending": this.showPending,
        });
    },
    computed: {
        ...mapState(zoneStore, {
            zonegrants: (state) => state.grants.grants,
            zoneclaims: (state) => state.claims.claims,
        }),
    },
    methods: {
        updateFilters() {
            console.info("updateFilters", this.showClaims, this.showGrants);
            createScheduleGraph({
                "callback"   : this.clickHandler,
                "grants"     : this.showGrants ? this.currentGrants : null,
                "claims"     : this.showClaims ? this.currentClaims : null,
                "showPending": this.showPending,
            });
        },
        clickHandler(type, item) {
            console.log("clickHandler", this, type, item);
            if (type == "grant") {
                this.showClaim = null;
                this.showGrant = item;
            }
            else {
                this.showClaim = item;
                this.showGrant = null;
            }
        }
    },
    watch: {
    },
});
</script>
