<template>
  <v-card>
    <v-card-title
      v-if="title"
    >
      Role Binding
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table
        style="border: thin solid lightgray"
        density="compact"
      >
        <tbody>
          <tr>
            <td>
              Role
            </td>
            <td>
              {{ item.role.name || item.role_id }}
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td
              style="width: 80%"
            >
              <span
                v-if="item.element_id"
              >
                <span
                  v-if="getElementNameById(item.element_id)"
                >
                  <NuxtLink
                    :to="`/elements/${item.element_id}`"
                  >
                    {{ getElementNameById(item.element_id) }}
                  </NuxtLink>
                  ({{ item.element_id }})
                </span>
                <span
                  v-else
                  >
                  <NuxtLink
                    :to="`/elements/${item.element_id}`"
                  >
                    {{ item.element_id }}
                  </NuxtLink>
                </span>
              </span>
              <span
                v-else
              >
                &mdash;
              </span>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Approved
            </td>
            <td>
              <FormattedTime
                :when="item.approved_at" :who="item.approver_id"></FormattedTime>
            </td>
          </tr>
          <tr v-if="item.deleted_at">
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
    <v-card-actions
      v-if="editable && (!item.approved_at || !item.deleted_at)"
      density="compact"
    >
      <v-btn
        v-if="editable && !item.approved_at"
        :disabled="disabled"
        density="compact"
        size="xs"
        class="pa-1 bg-success"
        @click="approveRoleBinding()"
      >
        Approve
      </v-btn>
      <v-btn
        v-if="editable && !item.deleted_at"
        :disabled="disabled"
        density="compact"
        size="xs"
        class="pa-1 bg-error"
        @click="deleteRoleBinding()"
      >
        Delete
      </v-btn>
    </v-card-actions>
    <ErrorDialog
      :model-value="errorIsActive"
      :error="error"
      @close="errorIsActive = false; this.error = null"
      @reload="errorIsActive = false; this.error = null"
      @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
export default defineComponent({
    name: 'RoleBinding',
    props: {
        item: {
            type: Object,
            required: true
        },
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            disabled: false,
            error: null,
            errorIsActive: false,
        }
    },
    methods: {
        async approveRoleBinding() {
            this.item.approved_at = new Date().toISOString()
            let resp = await this.$roleBindingsEndpoint.update(this.item.id, this.item).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyUpdated(resp)
            }

            this.disabled = false
        },
        async deleteRoleBinding() {
            this.disabled = true

            let resp = await this.$roleBindingsEndpoint.delete(this.item.id).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyDeleted(resp)
            }

            this.disabled = false
        },
        notifyDeleted() {
            console.log("RoleBinding:deleted", this.item)
            let event = {
                id: this.item.id,
                item: this.item
            }
            this.$emit('deleted', event)
        },
        notifyUpdated() {
            console.log("RoleBinding:updated", this.item)
            let event = {
                id: this.item.id,
                item: this.item
            }
            this.$emit('updated', event)
        }
    }
});
</script>
