<template>
  <v-card v-if="item">
    <v-card-title>
      Spectrum <i>{{ item.name }}</i>
      (<NuxtLink
         color="gray"
         :to="`/spectrum/${item.id}`"
         nuxt
         >{{item.id}}
      </NuxtLink>)
      <span v-if="editable">
        (<NuxtLink
           color="gray"
           :to="`/spectrum/${item.id}/edit`"
           >
          <v-icon>mdi-text-box-edit-outline</v-icon>
          <v-tooltip
            activator="parent"
            location="end"
            >Edit Spectrum</v-tooltip>                    
        </NuxtLink>)
      </span>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Element
            </td>
            <td>
              <NuxtLink
                v-if="item.element_id"
                :to="`/elements/${item.element_id}`"
              >
                {{ getElementNameById(item.element_id) }}
              </NuxtLink>
              ({{ item.element_id }})
            </td>
          </tr>
          <tr>
            <td>Description
            </td>
            <td>
              <span v-if="item.description != ''">{{ item.description }}</span>
              <span v-if="item.description == ''">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              ExtId
            </td>
            <td>
              {{ item.ext_id }}
            </td>
          </tr>
          <tr>
            <td>URL
            </td>
            <td>
              <span v-if="item.url != ''">
                <NuxtLink
                  color="gray"
                  :to="`${item.url}`"
                  target="_blank" rel="noopener"               
                  >
                  {{ item.url }}
                </NuxtLink>
              </span>
              <span v-if="item.url == ''">&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Starts
            </td>
            <td>
              <FormattedTime :when="item.starts_at"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Expires
            </td>
            <td>
              <FormattedTime :when="item.expires_at"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Enabled
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.enabled"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Approved
            </td>
            <td>
              <FormattedTime
                :when="item.approved_at" :who="item.approver_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-divider></v-divider>
      <div class="d-flex justify-center">
        <span class="text-h6">Constraints</span>
      </div>
      <v-data-table-virtual
        density="compact" style="border: thin solid lightgray"
        :headers="constraintHeaders"
        :items="item.constraints"
        ></v-data-table-virtual>
      <v-divider></v-divider>
      <div class="d-flex justify-center">
        <span class="text-h6">Policies</span>
      </div>
      <v-data-table-virtual
        density="compact"
        class="v-data-table-compact-harder"
        style="border: thin solid lightgray"
        :headers="policyHeaders"
        :items="item.policies"
        ></v-data-table-virtual>
    </v-card-text>
  </v-card>
  <v-card v-else>
  </v-card>
</template>

<script setup>
  import { getElementNameById, YesNo } from '~/lib/helpers'
  import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
export default defineComponent({
    name: 'Spectrum',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            constraintHeaders: [
                { title: 'Min Freq', key: 'min_freq',
                  value: item => (item.constraint.min_freq / 1000000) + "MHZ",
                },
                { title: 'Max Freq', key: 'max_freq',
                  value: item => (item.constraint.max_freq / 1000000) + "MHZ",
                },
                { title: 'Min EIRP', key: 'min_eirp',
                  value: item => item.constraint.min_eirp ?
                  item.constraint.min_eirp : "--",
                },
                { title: 'Max EIRP', key: 'max_eirp',
                  value: item => item.constraint.max_eirp ?
                  item.constraint.max_eirp : "&mdash;",
                },
                { title: 'Exclusive', key: 'exclusive',
                  value: item => item.constraint.exclusive ? "Yes" : "No",
                },
            ],
            policyHeaders: [
                { title: 'Element', key: 'element_id',
                  value: item => (item.element_id ?
                                  getElementNameById(item.element_id) : "--"),
                },
                { title: 'Allowed', key: 'allowed',
                  value: item => YesNo(item.allowed),
                },
                { title: 'Auto Approve', key: 'auto_approve',
                  value: item => YesNo(item.auto_approve),
                },
                { title: 'Priority', key: 'priority',
                  value: item => item.priority,
                },
                { title: 'Max Duration', key: 'max_duration',
                  value: item => item.max_duration,
                },
                { title: 'Disable Emit Check', key: 'disable_emit_check',
                  value: item => YesNo(item.disable_emit_check),
                },
                { title: 'Allow Inactive', key: 'allow_inactive',
                  value: item => YesNo(item.allow_inactive),
                },
                { title: 'Allow Conflicts', key: 'allow_conflicts',
                  value: item => YesNo(item.allow_conflicts),
                },
            ],
        }
    },
    async mounted() {
        console.log("Spectrum:mounted")
    },
    computed: {
    },
    methods: {
    },
    watch: {
    }
});
</script>
