<template>
  <v-card>
    <v-card-title
      v-if="title"
       style="font-size: 1rem"
    >
      Token {{ token.id }}
    </v-card-title>
    <v-card-text
      class="pb-0"
      style="font-size: 0.85rem">
      <v-table
        density="compact"
        style="border: thin solid lightgray"
      >
        <tbody style="font-size: 0.85rem">
          <tr>
            <td>
              Issued At
            </td>
            <td>
              <v-tooltip
                v-if="token.issued_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(token.issued_at).fromNow() }}</span>
                </template>
                <span>{{ token.issued_at }}</span>
              </v-tooltip>
            </td>
          </tr>
          <tr>
            <td>
              Expires At
            </td>
            <td>
              <v-tooltip
                v-if="token.expires_at"
              >
                <template v-slot:activator="{ on, props }">
                  <span v-bind="props">{{ $moment.utc(token.expires_at).fromNow() }}</span>
                </template>
                <span>{{ token.expires_at }}</span>
              </v-tooltip>
              <span v-else>&mdash;</span>
            </td>
          </tr>
          <tr>
            <td>
              Token
            </td>
            <td>
              <div class="ma-0 pa-1"
                style="border: 1px darkgray solid; background: #F0F0F0;">
              <code
                class="v-code">
                {{ token.token }}
              </code></div>
            </td>
          </tr>
          <tr>
            <td>
              Role Bindings
            </td>
            <td>
              <v-chip
                v-for="trb in token.role_bindings"
                size="small"
                :color="$userStore.getRoleColorById(trb.role_binding.role_id)"
              >
                {{ $userStore.getRoleNameById(trb.role_binding.role_id) + (trb.role_binding.element_id ? ":" + getElementNameById(trb.role_binding.element_id) : "") }}
              </v-chip>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
    <v-card-actions
      class="pt-0 pl-4 pr-4"
    >
      <v-btn
        v-if="editable"
        :disabled="disabled"
        density="compact"
        size="xs"
        class="pa-1 bg-error"
        @click="deleteToken()"
      >
        Delete
      </v-btn>
    </v-card-actions>
    <ErrorDialog
      :model-value="errorIsActive"
      :error="error"
      @close="errorIsActive = false; this.error = null"
      @reload="errorIsActive = false; this.error = null"
      @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'Token',
    props: {
        token: {
            type: Object,
            required: true
        },
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    emits: [ 'deleted' ],
    data() {
        return {
            disabled: false,
            error: null,
            errorIsActive: false,
        }
    },
    methods: {
        async deleteToken() {
            this.disabled = true

            let resp = await this.$tokensEndpoint.delete(this.token.id).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyDeleted(resp)
            }

            this.disabled = false
        },
        notifyDeleted() {
            console.log("Token:deleted", this.token)
            let event = {
                id: this.token.id,
                item: this.token
            }
            this.$emit('deleted', event)
        }
    }
});
</script>
