<template>
  <v-card>
    <v-card-title
      v-if="title"
    >
      Tokens
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <v-container>
        <v-row
          v-if="editable"
        >
          <v-btn
            density="compact"
            size="xs"
            class="pa-1 bg-info"
            @click="createTokenDialog = true"
            @click.native.stop
          >
            Add Token
          </v-btn>
        </v-row>
        &nbsp;
        <v-row
          v-for="token in tokens"
        >
          <Token
            :token="token"
            :title="true"
            :editable="editable"
            @deleted="notifyUpdated()"
          ></Token>
        </v-row>
      </v-container>
      <ClientOnly>
        <v-dialog
          v-model="createTokenDialog"
          max-width="512px"
        >
          <TokenCreate
            :user="user"
            :token="token"
            @created="createTokenDialog = false ; notifyUpdated()"
          ></TokenCreate>
        </v-dialog>
      </ClientOnly>
      <ErrorDialog
        :model-value="errorIsActive"
        :error="error"
        @close="errorIsActive = false; this.error = null"
        @reload="errorIsActive = false; this.error = null"
        @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
</script>

<script>
export default defineComponent({
    name: 'TokenList',
    props: {
        user: {
            type: Object,
            required: true
        },
        token: {
            type: Object,
            required: true
        },
        tokens: {
            type: Array,
            required: true
        },
        title: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            disabled: false,
            createTokenDialog: false,
            error: null,
            errorIsActive: false,
        }
    },
    methods: {
        notifyUpdated() {
            console.log("TokenList:notifyUpdated")
            this.$emit('updated')
        }
    }
});
</script>
