<template>
  <v-card>
    <v-card-title>
      User <i>{{ getBestTitle() }}</i>
    </v-card-title>
    <v-card-text style="font-size: 0.85rem">
      <div
        v-if="!item.role_bindings || item.role_bindings.length < 1"
      >
        <v-alert
          type="warning"
        >
          Account has no privileges. Cannot use account until element
        manager or administrator has approved access.
        </v-alert>
        <v-spacer>&nbsp;</v-spacer>
      </div>
      <v-table density="compact" style="border: thin solid lightgray">
        <tbody>
          <tr>
            <td>
              Username
            </td>
            <td
              style="width: 75%"
            >
              {{ item.name }}
            </td>
          </tr>
          <tr>
            <td>
              Name
            </td>
            <td>
              {{ getBestFullName() }}
            </td>
          </tr>
          <tr v-if="item.primary_email_address">
            <td>
              Primary Email
            </td>
            <td>
              {{ item.primary_email_address.email_address }}
            </td>
          </tr>
          <tr>
            <td>
              Enabled
            </td>
            <td>
              <v-checkbox
                density="compact"
                v-model="item.enabled"
                disabled
                hide-details
              ></v-checkbox>
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              <FormattedTime
                :when="item.created_at" :who="item.creator_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Updated
            </td>
            <td>
              <FormattedTime
                :when="item.updated_at" :who="item.updater_id"></FormattedTime>
            </td>
          </tr>
          <tr>
            <td>
              Deleted
            </td>
            <td>
              <FormattedTime
                :when="item.deleted_at" :who="item.deleter_id"></FormattedTime>
            </td>
          </tr>
        </tbody>
      </v-table>
      <span v-if="editable">
        <v-btn
          v-if="editable"
          :disabled="disabled"
          density="compact"
          size="xs"
          class="pa-1 mr-2 mt-2 mb-5 bg-success"
          :to="`/users/${item.id}/edit`"
        >
          Edit
        </v-btn>
        <v-btn
          v-if="editable && !item.deleted_at"
          :disabled="disabled"
          density="compact"
          size="xs"
          class="pa-1 mr-2 mt-2 mb-5 bg-error"
        >
          Delete
          <Confirm activator="parent"
                   message="Are you sure you want to delete this user?"
                   @confirmed="deleteUser()">
          </Confirm>
        </v-btn>
      </span>
      <ClientOnly>
        <v-dialog
          v-model="createRoleBindingDialog"
          max-width="512px"
        >
          <RoleBindingCreate
            :user_id="item.id"
            :user_name="item.name"
            @created="createRoleBindingDialog = false ; notifyUpdated()"
          ></RoleBindingCreate>
        </v-dialog>
      </ClientOnly>

      <v-expansion-panels
        v-if="elaborate"
        multiple
      >
        <v-expansion-panel
          v-if="item.role_bindings"
        >
          <template v-slot:title>
            Role Bindings
            &nbsp;&nbsp;&nbsp;
            <v-btn
              v-if="editable"
              density="compact"
              size="xs"
              class="pa-1 bg-info"
              @click="createRoleBindingDialog = true"
              @click.native.stop
            >
              Add
            </v-btn>
          </template>
          <template v-slot:text>
            <v-row
              v-for="role_binding in item.role_bindings"
              :key="role_binding.id"
            >
              <v-col>
                <RoleBinding
                  :item="role_binding"
                  :title="false"
                  :editable="editable"
                  @updated="notifyUpdated()"
                  @deleted="notifyDeleted()"
                ></RoleBinding>
              </v-col>
            </v-row>
          </template>
        </v-expansion-panel>
        <v-expansion-panel
          v-if="item.email_addresses"
          title="Email Addresses"
        >
          <template v-slot:text>
            <v-row
              v-for="email_address in item.email_addresses"
              :key="email_address.id"
            >
              <v-col>
                <EmailAddress
                  :item="email_address"
                  :title="false"
                ></EmailAddress>
              </v-col>
            </v-row>
          </template>
        </v-expansion-panel>
        <v-expansion-panel
          v-if="item.idp_identities"
          title="IdP Identities"
        >
          <template v-slot:text>
            <v-row
              v-for="idp_identity in item.idp_identities"
              :key="idp_identity.id"
            >
              <v-col>
                <IdpIdentity
                  :item="idp_identity"
                  :title="false"
                ></IdpIdentity>
              </v-col>
            </v-row>
          </template>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card-text>
    <ErrorDialog
      :model-value="errorIsActive"
      :error="error"
      @close="errorIsActive = false; this.error = null"
      @reload="errorIsActive = false; this.error = null"
      @back="errorIsActive = false; this.error = null"
    ></ErrorDialog>
  </v-card>
</template>

<script setup>
import { getElementNameById } from '~/lib/helpers'
import FormattedTime from '~/components/FormattedTime.vue'
</script>

<script>
import Confirm from '~/components/Confirm.vue'

export default defineComponent({
    name: 'User',
    props: {
        item: {
            type: Object,
            required: true
        },
        elaborate: {
            type: Boolean,
            required: false,
            default: true
        },
        editable: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    emits: [ "updated", "deleted" ],
    data() {
        return {
            disabled: false,
            createRoleBindingDialog: false,
            error: null,
            errorIsActive: false,
        }
    },
    async mounted() {
    },
    computed: {
    },
    methods: {
        getBestTitle() {
            if (!this.item)
                return ""
            if (this.item.name !== undefined && this.item.name != '')
                return this.item.name
            else
                return this.item.id
        },
        getBestFullName() {
            if (!this.item)
                return ""
            else if (this.item.full_name !== undefined && this.item.full_name != "")
                return this.item.full_name
            else if (this.item.family_name !== undefined && this.item.given_name != 'undefined'
                     && this.item.family_name != '' && this.item.given_name != '')
                return this.item.given_name + " " + this.item.family_name + " (" + this.item.name + ")"
            else
                return ""
        },
        notifyUpdated() {
            console.log("UserEdit:notifyUpdated", this.item)
            let event = {
                id: this.item.id,
                item: this.item,
            }
            this.$emit('updated', event)
        },
        async deleteUser() {
            this.disabled = true
            let resp = await this.$usersEndpoint.delete(this.item.id).catch((err) => {
                this.error = err
                this.errorIsActive = true
                clearError()
                return
            })
            if (!this.errorIsActive) {
                this.notifyDeleted(resp)
            }

            this.disabled = false
        },
        notifyDeleted() {
            console.log("UserEdit:notifyDeleted", this.item)
            let event = {
                id: this.item.id,
                item: this.item,
            }
            this.$emit('deleted', event)
        }
    },
    watch: {
    }
});
</script>
