<template>
  <v-container>
    <EventControlPanel
      
    ></EventControlPanel>
  </v-container>
</template>

<script>
import EventControlPanel from '~/components/EventControlPanel.vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'

export default defineComponent({
    data() {
        return {
        }
    },
    async mounted() {
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
    },
    watch: {
    }
})
</script>
