<template>
  <div class="mx-4" v-if="propsim.propsim">
    <Suspense>
      <Propsim :item="propsim.propsim"></Propsim>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import Propsim from '~/components/Propsim.vue'

export default defineComponent({
    components: {
        Propsim: defineAsyncComponent(() => import("@/components/Propsim.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("propsim:mounted");
        await this.$zoneStore.fetchPropsim(this.$route.params.id)
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(zoneStore, {
            propsim: (state) => state.propsim,
        }),
    },
    methods: {
    },
    watch: {
    },
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
