<template>
  <div class="mx-4" v-if="observation">
    <Suspense>
      <Observation :observation="observation"></Observation>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { zoneStore } from '~/stores/zone'
import { adminStore } from '~/stores/admin'
import Observation from '~/components/Observation.vue'

export default defineComponent({
    components: {
        Observation: defineAsyncComponent(() => import("@/components/Observation.vue")),
    },
    data() {
        return {
        }
    },
    async mounted() {
        console.log("observation:mounted");
        var payload = {
            "data_inline" : 1
        }
        await this.$zoneStore.fetchObservation(this.$route.params.id, payload)
    },
    unmounted() {
        this.$zoneStore.clearObservation();
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
        ...mapState(zoneStore, {
            observation: (state) => state.observation,
        }),
    },
    methods: {
    },
    watch: {
    },
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
