<template>
  <PropsimEdit
    :item="propsim"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></PropsimEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import PropsimEdit from '~/components/PropsimEdit.vue'
import moment from 'moment'  
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        PropsimEdit: defineAsyncComponent(() => import("@/components/PropsimEdit.vue")),
    },
    data() {
        return {
            propsim: {
                element_id: (this.is_admin ? null : this.$userStore.element_id),
                name: "",
                description: "",
                radio_port_id: null,
                freq: null,
                resolution: null,
                gain: null,
                service_id: null,
            }
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("propsim.create:handleCreated", params);
            navigateTo("/propsims/" + params.item.id);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
