<template>
  <div v-if="user">
    <Suspense>
      <UserEdit
        :item="user"
        :create="true"
        @created="(params) => handleCreated(params)"
      ></UserEdit>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import UserEdit from '~/components/UserEdit.vue'
import { mapState } from 'pinia'
import { clientStore } from '~/stores/client'

export default defineComponent({
    components: {
        UserEdit: defineAsyncComponent(() => import("@/components/UserEdit.vue")),
    },
    data() {
        return {
            user: {
                name: null,
                full_name: null,
                given_name: null,
                family_name: null,
                primary_email_address: null,
                password: null,
            }
        }
    },
    mounted() {
        if (!this.is_admin) {
            navigateTo('/')
            return
        }
    },
    computed: {
        ...mapState(clientStore, {
            is_admin: (state) => state.is_admin,
        }),
    },
    methods: {
        handleCreated(params) {
            console.log("users.create:handleCreated", params)
            this.user.user = params.item
            navigateTo("/users/" + params.item.id)
        }
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
