<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :order="order"
      :rail="drawerRail"
      disable-resize-watcher
      :expand-on-hover="drawerShouldHover"
      permanent
      width="220"
      position="fixed"
      class="bg-secondary-lighten-5"
      touchless
    >
      <v-list :items="navItems"></v-list>
    </v-navigation-drawer>

    <v-app-bar
      elevation="1"
      class="bg-primary-lighten-3"
    >
      <v-btn
        icon
        @click="handleDrawerButton()"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-app-bar-title>
        {{ title }}&nbsp;&nbsp;
        <v-divider vertical></v-divider>
        <v-menu
          v-if="isLoggedIn && contextElementList.length > 0"
          location="bottom"
          aria-label="Choose Element"
        >
          <template v-slot:activator="{ props }">
            <v-btn
              id="elementButton"
              class="bg-primary text-none"
              v-bind="props"
              append-icon="mdi-menu-down"
              :text="contextCurrentElementName"
              prepend-icon="mdi-account-group"
            ></v-btn>
          </template>
          <v-list
            density="compact"
            :items="contextElementList"
            item-title="name"
            item-value="id"
            @click:select="setCurrentElement($event)"
          >
          </v-list>
        </v-menu>
      </v-app-bar-title>
      <ClientOnly>
        <v-btn
          v-if="isLoggedIn"
          :icon="subscribed ? 'mdi-bell' : 'mdi-bell-off'"
          :color="subscribed ? 'primary' : 'info'"
          size="md"
          @click="() => navigateTo('/events')"
        />
        <v-btn
          v-if="isLoggedIn && user_can_admin && !user_is_admin"
          icon
          @click="() => setAdmin(true)"
        >
          <v-icon size="small" style="color: green">mdi-alpha-a-circle</v-icon>
        </v-btn>
        <v-btn
          v-else-if="isLoggedIn && user_can_admin && user_is_admin"
          icon
          @click="() => setAdmin(false)"
        >
          <v-icon size="small" style="color: red">mdi-alpha-a-circle</v-icon>
        </v-btn>
      </ClientOnly>
      &nbsp;
      <v-menu
        v-if="isLoggedIn"
        location="bottom"
      >
        <template v-slot:activator="{ props }">
          <v-btn
            class="bg-primary text-none"
            v-bind="props"
            append-icon="mdi-menu-down"
            prepend-icon="mdi-account"
            :text="loginButtonUserName"
          >
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            key="account"
            title="Account"
            :to="`/users/${this.$userStore.user_id}`"
            value="account"
            append-icon="mdi-account"
          ></v-list-item>
          <v-list-item
            v-if="$userStore.user.role_bindings && $userStore.user.role_bindings.length"
            key="elements-create"
            title="Create/Join Element"
            to="/elements/create"
            value="elements-create"
            append-icon="mdi-antenna"
          ></v-list-item>
          <v-list-item
            v-if="$userStore.user.role_bindings && $userStore.user.role_bindings.length"
            key="account-tokens"
            title="API Tokens"
            :to="`/users/${this.$userStore.user_id}/tokens`"
            value="account-tokens"
            append-icon="mdi-api"
          ></v-list-item>
          <v-divider></v-divider>
          <v-list-item
            key="logout"
            title="Logout"
            @click="() => logout()"
            append-icon="mdi-logout"
          ></v-list-item>
        </v-list>
      </v-menu>
      <v-menu
        v-if="!isLoggedIn"
        v-model="loginMenu"
        open-on-click
        :close-on-content-click="false"
        location="bottom"
        width="auto"
      >
        <template v-slot:activator="{ props }">
          <v-btn
            class="bg-primary"
            v-bind="props"
            @click="() => { if (isLoggedIn) { navigateTo('/dashboard') } }"
          >
            Login&nbsp;<v-icon size="small">mdi-login</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item align="center" v-if="githubEnabled">
            <v-btn class="bg-primary"  @click="() => { loginMenu = false ; githubLogin() }">
              GitHub&nbsp;<v-icon size="small">mdi-github</v-icon>
            </v-btn>
          </v-list-item>
          <v-list-item align="center" v-if="googleEnabled">
            <v-btn class="bg-primary"  @click="() => { loginMenu = false ; googleLogin() }">
              Google&nbsp;<v-icon size="small">mdi-google</v-icon>
            </v-btn>
          </v-list-item>
          <v-list-item align="center" v-if="cilogonEnabled">
            <v-btn class="bg-primary"  @click="() => { loginMenu = false ; cilogonLogin() }">
              CILogon&nbsp;<v-icon size="small">mdi-login</v-icon>
            </v-btn>
          </v-list-item>
          <v-divider
            v-if="ssoEnabled"
            class="mt-3"
          ></v-divider>
          <v-list-item align="center">
            <v-form v-model="directLoginValid" fast-fail @submit.prevent>
              <v-container>
                <v-row align="center" style="width: 174px">
                  <v-col cols="12">
                    <i>Credentials</i>
                  </v-col>
                </v-row>
                <v-row align="center">
                  <v-col cols="12">
                    <v-text-field
                      v-model="directLoginUsername"
                      :rules="directLoginUsernameRules"
                      label="Username"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row align="center">
                  <v-col cols="12">
                    <v-text-field
                      v-model="directLoginPassword"
                      :rules="directLoginPasswordRules"
                      label="Password"
                      type="password"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row align="center">
                  <v-col cols="12">
                    <v-btn
                      type="submit"
                      class="bg-primary"
                      @click="() => {  if (directLoginValid) { loginMenu = false ;  directLogin() } }"
                    >Login</v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <div
      class="alert-events-dock"
    >
      <v-slide-y-transition group>
        <v-alert
          v-for="(evt, evtId) in alertEvents"
          :type="evt.getAlertType()"
          :key="evt.header.id"
          variant="outlined"
          density="compact"
          style="background: #ffebd6"
          closable
          @click:close="() => { delete alertEvents[evt.header.id] }"
        >
          <v-alert-title style="font-size: 1.5em">
            {{ evt.getTitle() }}
          </v-alert-title>
          <template v-slot:prepend>
            <v-icon class="mt-2" size="large">
              {{ "$" + evt.getAlertType() }}
            </v-icon>
          </template>
          <NuxtLink
            v-if="evt.getObjectLink()"
            :to="evt.getObjectLink()"
            color="gray"
            nuxt
          >
            {{ evt.getObjectLink() }}
          </NuxtLink>
          <template v-slot:close="{ props }">
            <v-icon
              v-bind="props"
              class="mt-2"
              size="large"
            >mdi-close-circle</v-icon>
          </template>
        </v-alert>
      </v-slide-y-transition>
    </div>

    <v-main>
      <slot />
    </v-main>

    <v-footer
      app
      class="bg-primary-lighten-3"
    >
      <span>
        &copy; {{ new Date().getFullYear() }} University of Utah.
        OpenZMS is supported by the National Science Foundation under
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2232463">Award 2232463</a>.
      </span>
    </v-footer>
  </v-app>
</template>

<style scoped>
.alert-events-dock {
  font-size: 0.75rem;
  position: fixed;
  top: 72px;
  right: 8px;
  z-index: 999;
  display: grid;
  grid-gap: 0.5em;
}
</style>

<script>
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'
import { eventStore } from '~/stores/event'

export default defineComponent({
  data() {
    return {
      initialized: false,
      drawer: true,
      drawerForceRail: null,
      drawerShouldHover: true,
      order: 1,
      title: "OpenZMS",
      loginMenu: false,
      directLoginValid: false,
      directLoginUsername: '',
      directLoginPassword: '',
      directLoginUsernameRules: [
        value => {
          if (value)
            return true;
          return "Username required"
        }
      ],
      directLoginPasswordRules: [
        value => {
          if (value)
            return true;
          return "Password required"
        }
      ],
      alertEvents: {},
    }
  },
  computed: {
    ...mapState(userStore, {
      user_id: state => state.user_id,
      user_can_admin: state => state.can_admin,
      //user_is_admin: state => state.is_admin,
      user: state => state.user,
      elements: state => state.elements,
      element_id: state => state.element_id,
      elements_by_id: state => state.elements_by_id,
    }),
    ...mapState(clientStore, {
      user_is_admin: state => state.is_admin,
    }),
    ...mapState(adminStore, {
      all_elements: state => state.all_elements,
      all_elements_by_id: state => state.all_elements_by_id,
    }),
    ...mapState(eventStore, {
      connection: state => state.connection,
    }),
    subscribed() {
      return this.$eventStore.isSubscribed()
    },
    drawerRail() {
      if (this.drawerForceRail !== null)
        return this.drawerForceRail
      else if (this.$vuetify.display.mdAndUp)
        return false
      else
        return true
    },
    contextElementList() {
      if (this.user_is_admin) {
        return this.all_elements.elements
      }
      else {
        return this.elements
      }
    },
    loginButtonUserName() {
      if (this.$vuetify.display.xs || !this.isLoggedIn)
        return ""
      else
        return this.user.name
    },
    contextCurrentElementName() {
      if (this.$vuetify.display.xs)
          return ""
      else if (this.user_is_admin
          // NB: is_admin could become true before all_elements_by_id
          // becomes live; secondary API
          && this.all_elements_by_id !== undefined
          && this.all_elements_by_id[this.element_id] !== undefined) {
        return this.all_elements_by_id[this.element_id].name
      }
      else if (this.elements_by_id[this.element_id] !== undefined) {
        return this.elements_by_id[this.element_id].name
      }
      else {
        return ""
      }
    },
    isLoggedIn() {
      return this.$auth.status.value === 'authenticated' //this.$auth.isLoggedIn
    },
    ssoEnabled() {
      return this.$config.public.githubEnabled
        || this.$config.public.googleEnabled
        ||this.$config.public.cilogonEnabled
    },
    githubEnabled() {
      return this.$config.public.githubEnabled
    },
    googleEnabled() {
      return this.$config.public.googleEnabled
    },
    cilogonEnabled() {
      return this.$config.public.cilogonEnabled
    },
    navItems() {
      let divType = 'subheader'
      let divThickness = 0
      if (this.drawerRail) {
        divType = 'divider'
        divThickness = "4px"
      }

      let aboutItems = [
        { type: divType, title: 'About', props: { thickness: divThickness } },
        {  title: 'Overview', value: 'about-overview', props: { prependIcon:  'mdi-information', to: '/',alt: 'foo',  } },
        {  title: 'Getting Started', value: 'getting-started', props: { prependIcon: 'mdi-help-circle', to: '/docs/getting-started' } },
      ]
      let zoneItems = [
        { type: divType, title: 'Zone', props: { thickness: divThickness } },
        { title: 'Status', value: 'zone-status', props: { prependIcon: 'mdi-earth', to: '/zone' } },
        { title: 'Report', value: 'zone-report', props: { prependIcon: 'mdi-file-chart', to: '/zone/report' } },
      ]
      let elementItems = [
        {  type: divType, title: 'Element', props: { thickness: divThickness } },
        { title: 'Overview', value: 'element-overview', props: { prependIcon: 'mdi-antenna', to: '/elements/' + this.$userStore.element_id } },
        { title: 'Spectrum', value: 'element-spectrum', props: { prependIcon: 'mdi-broadcast', to: '/elements/' + this.$userStore.element_id + '/spectrum' } },
        { title: 'Grants', value: 'element-grants', props: { prependIcon: 'mdi-clock-outline', to: '/elements/' + this.$userStore.element_id + '/grants' } },
        { title: 'Claims', value: 'element-claims', props: { prependIcon: 'mdi-clock-outline', to: '/elements/' + this.$userStore.element_id + '/claims' } },
        { title: 'Radios', value: 'element-radios', props: { prependIcon: 'mdi-radio-tower', to: '/elements/' + this.$userStore.element_id + '/radios' } },
        { title: 'Monitors', value: 'element-monitors', props: { prependIcon: 'mdi-signal', to: '/elements/' + this.$userStore.element_id + '/monitors' } },
        { title: 'Observations', value: 'element-observations', props: { prependIcon: 'mdi-database', to: '/elements/' + this.$userStore.element_id + '/observations' } },
        { title: 'Users', value: 'element-users', props: { prependIcon: 'mdi-account', to: '/elements/' + this.$userStore.element_id + '/users' } },
      ]
      let adminItems = [
        {  type: divType, title: 'Admin', props: { thickness: divThickness, variant: 'tonal' } },
        { title: 'Users', value: 'admin-users', props: { prependIcon: 'mdi-account', to: '/admin/users', variant: 'tonal' } },
        { title: 'Elements', value: 'admin-elements', props: { prependIcon: 'mdi-account-group', to: '/admin/elements', variant: 'tonal' } },
        { title: 'Spectrum', value: 'admin-spectrum', props: { prependIcon: 'mdi-broadcast', to: '/admin/spectrum', variant: 'tonal' } },
        { title: 'Grants', value: 'admin-grants', props: { prependIcon: 'mdi-clock-outline', to: '/admin/grants', variant: 'tonal' } },
        { title: 'Radios', value: 'admin-radios', props: { prependIcon: 'mdi-radio-tower', to: '/admin/radios', variant: 'tonal' } },
        { title: 'Antennas', value: 'admin-antennas', props: { prependIcon: 'mdi-antenna', to: '/admin/antennas', variant: 'tonal' } },
        { title: 'Monitors', value: 'admin-monitors', props: { prependIcon: 'mdi-signal-distance-variant', to: '/admin/monitors', variant: 'tonal' } },
        { title: 'Locations', value: 'admin-locations', props: { prependIcon: 'mdi-map-marker', to: '/admin/locations', variant: 'tonal' } },
        { title: 'Claims', value: 'admin-claims', props: { prependIcon: 'mdi-clock-outline', to: '/admin/claims', variant: 'tonal' } },
        { title: 'Observations', value: 'admin-observations', props: { prependIcon: 'mdi-database', to: '/admin/observations', variant: 'tonal' } },
        { title: 'Propsims', value: 'admin-propsims', props: { prependIcon: 'mdi-map-outline', to: '/admin/propsims', variant: 'tonal' } },
        { title: 'Grant Alarms', value: 'admin-alarms-grants', props: { prependIcon: 'mdi-alarm', to: '/admin/alarms/grants', variant: 'tonal' } },
        { title: 'Services', value: 'admin-services', props: { prependIcon: 'mdi-wrench-cog', to: '/admin/services', variant: 'tonal' } },
        { title: 'Schedule', value: 'admin-schedule', props: { prependIcon: 'mdi-calendar-arrow-right', to: '/admin/schedule', variant: 'tonal' } },
      ]
      let menuItems = [].concat(aboutItems, zoneItems)
      if (this.initialized) {
        if (this.isLoggedIn && this.elements.length > 0)
          menuItems = menuItems.concat(elementItems)
        if (this.user_is_admin)
          menuItems = menuItems.concat(adminItems)
      }
      return menuItems
    }
  },
  methods: {
    handleDrawerButton() {
      if (this.drawerRail || this.drawerForceRail)
        this.drawerForceRail = false
      else
        this.drawerForceRail = true
    },
    async githubLogin() {
      let response = await this.$auth.loginWith('github')
    },
    async googleLogin() {
      let response = await this.$auth.loginWith('google')
    },
    async cilogonLogin() {
      let response = await this.$auth.loginWith('cilogon')
    },
    async directLogin() {
      let response = await this.$auth.loginWith(
        'credentials', { username: this.directLoginUsername, password: btoa(Array.from(new TextEncoder().encode(this.directLoginPassword), (byte) => String.fromCodePoint(byte)).join("")) })
    },
    async logout() {
      await this.$userStore.logout()
      await this.$clientStore.logout()
      await this.$auth.logout({ redirect: false, callbackUrl: "/" })
      // Redundant I suppose.
      navigateTo('/')
    },
    async setAdmin(mode) {
      console.log('Setting admin mode',  mode)
      this.$clientStore.setAdmin(mode)
      if (mode) {
        this.$adminStore.initAdmin()
      }
      else if (this.$route.path.startsWith("/admin/")) {
        navigateTo('/')
      }
    },
    menuTabHandler(event) {
      let propagate = true
      let menu = event.target.dataset.menu

      menu.getTiles()
      if (menu.isActive) {
        propagate = false
        if (event.shiftKey) {
          if ((menu.listIndex - 1) <=0) {
            menu.lastTile()
          }
          else {
            menu.prevTile()
          }
        }
        else {
          if (menu.listIndex < 0 || (menu.listIndex + 1) >= menu.tiles.length) {
            menu.firstTitle()
          }
          else {
            menu.nextTile()
          }
        }
      }

      if (!propagate) {
        event.preventDefault();
      }
    },
    setCurrentElement(event) {
      console.log("setCurrentElement", event)
      this.$userStore.setElementId(event.id)
      navigateTo('/elements/' + event.id)
    },
  },
  watch: {
    isLoggedIn(val) {
      if (val === true && this.user_id !== 'undefined' && this.user_id !== null) {
        console.log("watch(isLoggedIn)", val)
        this.$userStore.initUser()
        if (this.$clientStore.is_admin)
          this.$adminStore.initAdmin()
      }
      else {
        this.$adminStore.logout()
        this.$zoneStore.logout()
        this.$userStore.logout()
        this.$clientStore.logout()
      }
    },
    user_id(val) {
      if (this.user_id !== 'undefined' && this.user_id !== null) {
        console.log("watch(user_id)", this.user_id)
        if (val)
          this.$userStore.initUser()
      }
    },
  },
  async mounted() {
    // Configure and initialize default subscriptions.
    this.$eventStore.initSubscriptions()
    if (this.connection.auto)
      this.$eventStore.subscribe()
    let defaultMsgHandler = (evt) => {
      if (!this.$eventStore.alerts.levels
          || this.$eventStore.alerts.levels.indexOf(evt.getAlertType()) < 0)
        return
      console.log("default:msgHandler", evt)
      this.alertEvents[evt.header.id] = evt
      let timeout = (this.$eventStore.alerts.timeout || 8) * 1000
      var localThis = this
      setTimeout(() => { delete localThis.alertEvents[evt.header.id] }, timeout)
    }
    // NB: add an alert handler, but only let the store autoconnect for us
    // if it is enabled, and that happens above at the start of this
    // method.  If we did it here, we would wind up racing that subscription.
    this.$eventStore.addMsgHandler(defaultMsgHandler, null, false)

    this.drawerShouldHover = !(navigator !== undefined && navigator.maxTouchPoints > 0)

    if (this.isLoggedIn && this.user_id !== 'undefined' && this.user_id !== null) {
      console.log("default:mounted:started")
      if (this.$router.currentRoute.value.path.startsWith('/elements/')
          && this.$route.params.id) {
        console.log("default: setting currentElement", this.$route.params.id)
        this.$userStore.setElementId(this.$route.params.id)
      }
      await this.$userStore.initUser()
      if (this.$clientStore.is_admin)
        await this.$adminStore.initAdmin()
      console.log("default:mounted:finished")
      this.initialized = true
    }
    else {
      this.$adminStore.logout()
      this.$zoneStore.logout()
      this.$userStore.logout()
      this.$clientStore.logout()
    }
  },
})
</script>
