<template>
  <div v-if="grant.grant">
    <Suspense>
      <Grant :item="grant.grant"
             :propsimPowerGrant="propsimPowerGrant.propsimPowerGrant"
             :editable="true"
             @refresh="() => refresh()"
      </Grant>
    </Suspense>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { zoneStore } from '~/stores/zone'
import Grant from '~/components/Grant.vue'

export default defineComponent({
    components: {
        Grant: defineAsyncComponent(() => import("@/components/Grant.vue")),
    },
    data() {
        return {
            timer: null,
        }
    },
    async mounted() {
        console.log("grants:index:mounted");
        await this.$zoneStore.fetchGrant(this.$route.params.id);
        await this.$zoneStore.fetchPropsimPowerGrant(this.$route.params.id);
        this.timer = setInterval(this.refresh, 60000);        
    },
    unmounted() {
        console.log("grants:index:unmounted");
        clearInterval(this.timer);        
    },
    computed: {
        ...mapState(userStore, {
            is_admin: (state) => state.is_admin
        }),
        ...mapState(zoneStore, {
            grant: (state) => state.grant,
            propsimPowerGrant: (state) => state.propsimPowerGrant,
        }),
    },
    methods: {
        refresh() {
            this.$zoneStore.fetchGrant(this.$route.params.id);
            this.$zoneStore.fetchPropsimPowerGrant(this.$route.params.id);
        },
    },
    watch: {
    }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
