<template>
  <SpectrumEdit
    :item="spectrum"
    :create="true"
    @created="(params) => handleCreated(params)"
    ></SpectrumEdit>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import SpectrumEdit from '~/components/SpectrumEdit.vue'
import moment from 'moment'  

export default defineComponent({
    components: {
        SpectrumEdit: defineAsyncComponent(() => import("@/components/SpectrumEdit.vue")),
    },
    data() {
        return {
            spectrum: {
                name: "",
                description: "",
                enabled: false,
                starts_at: moment().toISOString(),
                expires_at: null,
                constraints: [],
                int_constraints: [],
                rt_int_constraints: [],
                policies: [],
            }
        }
    },
    methods: {
        handleCreated(params) {
            console.log("spectrum.create:handleCreated", params);
            navigateTo("/spectrum/" + params.item.id);
        }
    }
});
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
